{{define "addcomment" }}

<div class="row mx-auto">
	{{range .Items}}
	<div class="mx-auto">
		<div class="card m-2" style="width: 18rem;" for="{{.ID}}-checkbox">
			<label for="{{.ID}}-checkbox" class="p-0 m-0">
				<img class="card-img-top" src="/thumbnail/{{.Project}}/{{.ID}}.jpg" onerror="this.src='/assets/img/none.jpg'">
			</label>
			<input type="checkbox" class="form-check-input" id="{{.ID}}-checkbox" style="opacity:0; position:absolute;">
			<div class="card-body">
				<label class="form-check-label" for="{{.ID}}-checkbox">{{.Name}}({{.Type}})</label>
				<div class="row">
					<div class="col pl-1 pr-1 pt-0 pb-0">
						<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#{{.ID}}">수정내용추가</button>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="{{.ID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">{{.ID}}</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<div class="modal-body">
								<img class="card-img-top" src="/thumbnail/{{.Project}}/{{.ID}}.jpg" onerror="this.src='/assets/img/none.jpg'">
								<div class="form-group">
									<label for="{{.ID}}-comment" class="col-form-label">Comment:</label>
									<textarea class="form-control" id="{{.ID}}-comment"></textarea>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary" onclick="addComment('{{.Project}}', '{{.Name}}', document.getElementById('{{.ID}}-comment').value, '{{$.User.Token}}')" data-dismiss="modal">ADD</button>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{end}}	
</div>

{{end}}
