{{define "adddivision" }}
{{template "headBootstrap"}}
{{template "navbar" .}}
<body>


<div class="container p-5">
    <form action="/adddivisionsubmit" method="POST">
    <div class="pt-3 pb-5">
        <h2 class="section-heading">Add Division</h2>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label>ID</label>
                <input type="text" name="ID" class="form-control" placeholder="ID">
                <small class="form-text text-muted">본부 ID를 입력해주세요.</small>
                <small class="form-text text-muted">이 코드는 메일알리아스 및 프로그래밍에 사용됩니다.</small>
            </div>
            <div class="form-group">
                <label>한글명</label>
                <input type="text" name="NameKor" class="form-control" placeholder="한글명">
                <small class="form-text text-muted">본부 한글명</small>
            </div>
            <div class="form-group">
                <label>영문명</label>
                <input type="text" name="NameEng" class="form-control" placeholder="한글명">
                <small class="form-text text-muted">본부 영문명</small>
            </div>
        </div>
    </div>     
    <div class="text-center">
        <button type="submit" class="btn btn-primary mt-5">Create Division</button>
    </div>
    </form>
</div>

{{template "footerBootstrap"}}
</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
</html>
{{end}}

