{{define "addlink" }}

<!-- 멀티입력 -->
<div class="">
	<div class="text-right m-3">
		<button type="button" class="btn btn-outline-darkmode btn-sm" onclick="selectCheckboxAll()">Select All</button>
		<button type="button" class="btn btn-outline-darkmode btn-sm" onclick="selectCheckboxNone()">Select None</button>
		<button type="button" class="btn btn-outline-darkmode btn-sm" onclick="selectCheckboxInvert()">Select Invert</button>
	</div>
	<div class="text-right mr-3">
		<button type="button" class="btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#multi-input">Add multiple sources</button>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="multi-input" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content bg-darkmode">
				<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add Sources</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" class="text-darkmode">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="multi-input-title" class="col-form-label">Title:</label>
						<input type="text" class="form-control" id="multi-input-title">
					</div>
					<div class="form-group">
						<label for="multi-input-link" class="col-form-label">Path or URL:</label>
						<input type="text" class="form-control" id="multi-input-link">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-darkmode" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-darkmode" onclick="addSources('{{.SearchOption.Project}}', document.getElementById('multi-input-title').value, document.getElementById('multi-input-link').value, '{{$.User.Token}}')" data-dismiss="modal">ADD</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row mx-auto">
	{{range .Items}}
	<div class="mx-auto">
		<input type="checkbox" class="form-check-input" id="{{.Name}}" name="selectID" style="opacity:0; position:absolute;">
		<div class="card m-2 bg-darkmode" style="width: 18rem;" for="{{.ID}}">
			<label for="{{.Name}}" class="p-0 m-0">
				<img class="card-img-top" src="/thumbnail/{{.Project}}/{{.ID}}.jpg" onerror="this.src='/assets/img/none.jpg'">
			</label>
			<div class="card-body">
				<h6 class="card-title">{{.Name}}({{.Type}})</h6>
				<div class="row">
					<div class="col pl-1 pr-1 pt-0 pb-0">
						{{range .Sources}}
							<a  href="{{Protocol .Path}}://{{RmProtocol .Path}}" class="btn btn-sm btn-outline-darkmode mt-1" alt="{{.Author}},{{.Date}}" title="{{.Author}},{{.Date}}" target="{{ProtocolTarget .Path}}">{{.Title}}</a>
						{{end}}
					
						<button type="button" class="btn btn-outline-warning btn-sm mt-1" data-toggle="modal" data-target="#{{.ID}}">+</button>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="{{.ID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
						<div class="modal-content bg-darkmode">
							<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">{{.ID}}</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true" class="text-darkmode">&times;</span>
							</button>
							</div>
							<div class="modal-body">
								<img class="card-img-top" src="/thumbnail/{{.Project}}/{{.ID}}.jpg" onerror="this.src='/assets/img/none.jpg'">
								<div class="form-group">
									<label for="{{.ID}}-title" class="col-form-label">Title:</label>
									<input type="text" class="form-control" id="{{.ID}}-title">
								</div>
								<div class="form-group">
									<label for="{{.ID}}-link" class="col-form-label">Path or URL:</label>
									<input type="text" class="form-control" id="{{.ID}}-link">
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-outline-darkmode" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-darkmode" onclick="addSource('{{.Project}}', '{{.Name}}', document.getElementById('{{.ID}}-title').value, document.getElementById('{{.ID}}-link').value, '{{$.User.Token}}')" data-dismiss="modal">ADD</button>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{end}}	
</div>

{{end}}
