{{define "addstatus" }}
{{template "headBootstrap"}}
{{template "navbar" .}}
<body>

<div class="container p-5">
    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
        <form action="/addstatus-submit" method="POST">
        <div class="pt-3 pb-5">
            <h2 class="section-heading">Add Status</h2>
        </div>
            
        <div class="form-group">
            <label>Status Name</label>
            <input type="text" name="id" class="form-control" placeholder="status name">
            <small class="form-text text-muted">생성할 Status 이름을 입력해주세요. 예) assign, ready, wip ...</small>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" name="description" class="form-control" placeholder="설명">
            <small class="form-text text-muted">Status 의 간략한 설명</small>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <div>
                        <label>Color</label>
                    </div>
                    <div>
                        <input name="color" class="jscolor btn border border-light" value="6b605d">
                    </div>
                    <small class="form-text text-muted">Status 색상</small>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Order</label>
                    <input type="number" name="order" step="1.0" class="form-control" placeholder="0">
                    <small class="form-text text-muted">Status 우선순위 순서</small>
                </div>
            </div>
        </div>
        
        
        <div class="text-center">
            <button type="submit" class="btn btn-outline-warning mt-5">Add Status</button>
        </div>
        </form>
    </div>
</div>

{{template "footerBootstrap"}}
</body>
<script src="/assets/js/jscolor.js"></script>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
</html>
{{end}}

