{{define "addShot" }}
{{template "headBootstrap5"}}

<body>
    {{template "navbar-bootstrap5" .}}
    <div class="container p-5">
        <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
            <form action="/addshot_submit" method="POST">
            <div class="pt-3 pb-5">
                <h2 class="section-heading">Add Shot</h2>
            </div>
            <div class="form-group">
                <label><span class="text-danger">*</span>Project</label>
                <select name="Project" class="form-control">
                {{range .Projectlist}}
                    <option value="{{.}}" {{if eq $.SearchOption.Project .}}selected{{end}}>{{.}}</option>
                {{end}}
                </select>
            </div>
            <div class="row pt-3">
                <div class="col">
                    <div class="form-group">
                        <label><span class="text-danger">*</span>Name</label>
                        <input type="text" name="Name" class="form-control" placeholder="예) SS_0010">
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-12">
                    <div class="form-group">
                        <label><span class="text-danger">*</span>Type</label>
                        <input type="text" id="addshot-type" name="Type" class="form-control" placeholder="org" value="org" readonly>
                        
                    </div>
                </div>
                <div class="col-12 d-grid gap-2 pt-1">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="addshot-type" id="btnradio1" autocomplete="off" checked>
                        <label class="btn btn-darkmode" for="btnradio1" onclick="setTypeAddShot('org',true)">Org ( Default )</label>
                    
                        <input type="radio" class="btn-check" name="addshot-type" id="btnradio2" autocomplete="off">
                        <label class="btn btn-darkmode" for="btnradio2" onclick="setTypeAddShot('left',true)">Stereo</label>

                        <input type="radio" class="btn-check" name="addshot-type" id="btnradio3" autocomplete="off">
                        <label class="btn btn-darkmode" for="btnradio3" onclick="setTypeAddShot('',false)">Custom</label>
                    </div>
                </div>
            </div>


            <div class="row pt-3">
                <div class="col">
                    <div class="form-group">
                        <label for="Season">Season</label>
                        <input type="text" class="form-control" id="Season" name="Season" placeholder="Season">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="Episode">Episode</label>
                        <input type="text" class="form-control" id="Episode" name="Episode" placeholder="Episode">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="netflixid">Netflix ID</label>
                        <input type="text" class="form-control" id="netflixid" name="NetflixID" placeholder="NetflixID">
                    </div>
                </div>
            </div>
            
            <div class="row pt-3">
                <div class="col">
                    <div class="from-group">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="SetRendersize" name="SetRendersize" value="true" checked>
                            <label class="form-check-label" for="SetRendersize">Set Rendersize</label>
                        </div>
                    </div>
                    <div class="from-group">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="Mkdir" name="Mkdir" value="true">
                            <label class="form-check-label" for="Mkdir">Create Shot Folder</label>
                        </div>
                    </div>
                    <div class="from-group">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="GenTask" name="GenTask" value="true" checked>
                            <label class="form-check-label" for="GenTask">Create Registered Tasks</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-darkmode mt-5">Add Shot</button>
            </div>
            </form>
        </div>
    </div>

{{template "footerBootstrap"}}
</body>
<script src="/assets/bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/input.js"></script>
</html>
{{end}}

