{{define "addShot_success" }}
{{template "headBootstrap"}}
{{template "navbar" .}}
<body>

<div class="container p-5">
    <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
        <div class="pt-3 pb-5">
            <h2 class="section-heading">Add Shot Status</h2>
        </div>
        <div>
            <label>Success Shots</label>
            {{range .Success}}
                <div class="p-1 text-darkmode">
                    {{if $.Devmode}}
                        <a href="/inputmode?project={{.Project}}&searchword={{.Name}}&sortkey=id&template=index&task=&searchbartemplate=searchbarV2&truestatus={{Join $.TrueStatus "," }}" class="btn btn-sm btn-success">{{.Name}}</a> OK
                    {{else}}
                        <a href="/inputmode?project={{.Project}}&searchword={{.Name}}&sortkey=slug&assign=true&ready=true&wip=true&confirm=true&done=false&omit=false&hold=false&out=false&none=false&template=index&task=&searchbartemplate=searchbarV1" class="btn btn-sm btn-success">{{.Name}}</a> OK
                    {{end}}
                </div>
            {{end}}
        </div>
        <div class="pt-5">
            <label>Fail Shots</label>
            {{range .Fails}}
                <div class="p-1 text-darkmode">
                    <span class="btn btn-sm btn-danger">{{.Name}}</span> {{.Error}}
                </div>
            {{end}}
        </div>
        <div class="text-center">
            <a href="/" class="btn btn-darkmode mt-5">Home</a>
        </div>
    </div>
</div>

{{template "footerBootstrap"}}
</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
</html>
{{end}}

