{{define "adminsetting" }}
{{template "headBootstrap"}}
{{template "navbar" .}}
<body>

<div class="container p-5">
    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
        <div class="pt-3 pb-5">
            <h2 class="section-heading">Admin Setting</h2>
        </div>
        <form action="/adminsetting_submit" method="POST">
        <div class="form-group">
            <label for="RunScriptAfterSignup">Run script after sign-up</label>
            <textarea class="form-control" id="RunScriptAfterSignup" name="RunScriptAfterSignup" rows="3" placeholder="python /path/filename.py">{{.Setting.RunScriptAfterSignup}}</textarea>
            <small class="form-text text-muted">사용자가 가입되었을 때 자동으로 실행되는 스크립트를 설정할 수 있습니다.</small>
        </div>

        <div class="form-group">
            <label for="RunScriptAfterEditUserProfile">Run script after edit user profile</label>
            <textarea class="form-control" id="RunScriptAfterEditUserProfile" name="RunScriptAfterEditUserProfile" rows="3" placeholder="python /path/filename.py">{{.Setting.RunScriptAfterEditUserProfile}}</textarea>
            <small class="form-text text-muted">사용자의 정보가 수정되었을 때 자동으로 실행되는 스크립트를 설정할 수 있습니다.</small>
        </div>

        <div class="form-group">
            <label for="ExcludeProject">Exclude Project</label>
            <input type="text" class="form-control" id="ExcludeProject" name="ExcludeProject" placeholder="project,project" value={{.Setting.ExcludeProject}}>
            <small class="form-text text-muted">검색창에 제외될 프로젝트명을 ,문자를 이용해서 입력해주세요. 해당 프로젝트가 보이지 않습니다.</small>
            <small class="form-text text-muted">CSI를 마이그레이션할 때 사용합니다.</small>
        </div>

        <div class="form-group">
            <label for="OCIOConfig">OpenColorIO Configs Path</label>
            <input type="text" class="form-control" id="OCIOConfig" name="OCIOConfig" placeholder="/path/OpenColorIO-Configs/aces_1.0.3/config.ocio" value={{.Setting.OCIOConfig}}>
            <small class="form-text text-muted">OpenColorIO Configs Path를 설정합니다.</small>
        </div>
        
        <div class="text-center">
            <button type="submit" class="btn btn-danger mt-5">Update</button>
        </div>
        </form>
    </div>
</div>

{{template "footerBootstrap"}}
</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
</html>
{{end}}

