{{define "adminsetting" }}
{{template "headBootstrap"}}
{{template "navbar" .}}
<body>

 

<div class="p-3">
    <form action="/adminsetting_submit" method="POST">
        <div class="pt-2 pb-3">
            <h2 class="section-heading text-center">Admin Setting</h2>
        </div>
        <div class="row mx-auto">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="Umask">Umask</label>
                            <input type="text" class="form-control" id="Umask" name="Umask" placeholder="0002" value={{.Setting.Umask}}>
                            <small class="form-text text-muted">경로 생성시 사용되는 Umask 값. 서버 관리자와 약속을 위해 설정</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="RootPath">Root Path</label>
                            <input type="text" class="form-control" id="RootPath" name="RootPath" placeholder="/show" value={{.Setting.RootPath}}>
                            <small class="form-text text-warning">서버 Root 프로젝트 경로</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="ProjectPath">Project Path</label>
                            <input type="text" class="form-control" id="ProjectPath" name="ProjectPath" placeholder="/show/&#123;&#123;.Project&#125;&#125;" value={{.Setting.ProjectPath}}>
                            <small class="form-text text-muted">프로젝트가 생성되는 경로</small>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="Permission">Permission</label>
                            <input type="text" class="form-control" id="ProjectPathPermission" name="ProjectPathPermission" placeholder="0775" value={{.Setting.ProjectPathPermission}}>
                            <small class="form-text text-muted">경로 권한설정 값</small>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="UID">UID</label>
                            <input type="text" class="form-control" id="ProjectPathUID" name="ProjectPathUID" placeholder="500" value={{.Setting.ProjectPathUID}}>
                            <small class="form-text text-muted">소유자 ID</small>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="GID">GID</label>
                            <input type="text" class="form-control" id="ProjectPathGID" name="ProjectPathGID" placeholder="500" value={{.Setting.ProjectPathGID}}>
                            <small class="form-text text-muted">그룹 ID</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="ShotPath">Shot Root Path</label>
                            <input type="text" class="form-control" id="ShotRootPath" name="ShotRootPath" placeholder="/show/&#123;&#123;.Project&#125;&#125;/seq/" value={{.Setting.ShotRootPath}}>
                            <small class="form-text text-muted">Shot이 생성되는 경로</small>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="Permission">Permission</label>
                            <input type="text" class="form-control" id="ShotRootPermission" name="ShotRootPathPermission" placeholder="0775" value={{.Setting.ShotRootPathPermission}}>
                            <small class="form-text text-muted">경로 권한설정 값</small>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="UID">UID</label>
                            <input type="text" class="form-control" id="ShotRootPathUID" name="ShotRootPathUID" placeholder="500" value={{.Setting.ShotRootPathUID}}>
                            <small class="form-text text-muted">소유자 ID</small>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="GID">GID</label>
                            <input type="text" class="form-control" id="ShotRootPathGID" name="ShotRootPathGID" placeholder="500" value={{.Setting.ShotRootPathGID}}>
                            <small class="form-text text-muted">그룹 ID</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="SeqPath">Seq Path</label>
                            <input type="text" class="form-control" id="SeqPath" name="SeqPath" placeholder="/show/&#123;&#123;.Project&#125;&#125;/seq/&#123;&#123;.Seq&#125;&#125;" value={{.Setting.SeqPath}}>
                            <small class="form-text text-muted">Seq가 생성되는 경로</small>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="SeqPathPermission">Permission</label>
                            <input type="text" class="form-control" id="SeqPathPermission" name="SeqPathPermission" placeholder="0775" value={{.Setting.SeqPathPermission}}>
                            <small class="form-text text-muted">경로 권한설정 값</small>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="SeqPathUID">UID</label>
                            <input type="text" class="form-control" id="SeqPathUID" name="SeqPathUID" placeholder="500" value={{.Setting.SeqPathUID}}>
                            <small class="form-text text-muted">소유자 ID</small>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="SeqPathGID">GID</label>
                            <input type="text" class="form-control" id="SeqPathGID" name="SeqPathGID" placeholder="500" value={{.Setting.SeqPathGID}}>
                            <small class="form-text text-muted">그룹 ID</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="ShotPath">Shot Path</label>
                            <input type="text" class="form-control" id="ShotPath" name="ShotPath" placeholder="/show/&#123;&#123;.Project&#125;&#125;/seq/&#123;&#123;.Seq&#125;&#125;/&#123;&#123;.Seq&#125;&#125;_&#123;&#123;.Cut&#125;&#125;" value={{.Setting.ShotPath}}>
                            <small class="form-text text-muted">개별 Shot이 생성되는 경로</small>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="ShotPathPermission">Permission</label>
                            <input type="text" class="form-control" id="ShotPathPermission" name="ShotPathPermission" placeholder="0775" value={{.Setting.ShotPathPermission}}>
                            <small class="form-text text-muted">경로 권한설정 값</small>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="ShotPathUID">UID</label>
                            <input type="text" class="form-control" id="ShotPathUID" name="ShotPathUID" placeholder="500" value={{.Setting.ShotPathUID}}>
                            <small class="form-text text-muted">소유자 ID</small>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="ShotPathGID">GID</label>
                            <input type="text" class="form-control" id="ShotPathGID" name="ShotPathGID" placeholder="500" value={{.Setting.ShotPathGID}}>
                            <small class="form-text text-muted">그룹 ID</small>
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="AssetRootPath">Asset Root Path</label>
                            <input type="text" class="form-control" id="AssetRootPath" name="AssetRootPath" placeholder="/show/&#123;&#123;.Project&#125;&#125;/assets/" value={{.Setting.AssetRootPath}}>
                            <small class="form-text text-muted">Asset이 생성되는 경로</small>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="AssetRootPathPermission">Permission</label>
                            <input type="text" class="form-control" id="AssetRootPathPermission" name="AssetRootPathPermission" placeholder="0775" value={{.Setting.AssetRootPathPermission}}>
                            <small class="form-text text-muted">경로 권한설정 값</small>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="AssetRootPathUID">UID</label>
                            <input type="text" class="form-control" id="AssetRootPathUID" name="AssetRootPathUID" placeholder="500" value={{.Setting.AssetRootPathUID}}>
                            <small class="form-text text-muted">소유자 ID</small>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="AssetRootPathGID">GID</label>
                            <input type="text" class="form-control" id="AssetRootPathGID" name="AssetRootPathGID" placeholder="500" value={{.Setting.AssetRootPathGID}}>
                            <small class="form-text text-muted">그룹 ID</small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="AssetPath">Asset Path</label>
                            <input type="text" class="form-control" id="AssetPath" name="AssetPath" placeholder="/show/&#123;&#123;.Project&#125;&#125;/assets/&#123;&#123;.Assettype&#125;&#125;/&#123;&#123;.Name&#125;&#125;" value={{.Setting.AssetPath}}>
                            <small class="form-text text-muted">개별 Asset이 생성되는 경로</small>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="AssetPathPermission">Permission</label>
                            <input type="text" class="form-control" id="AssetPathPermission" name="AssetPathPermission" placeholder="0775" value={{.Setting.AssetPathPermission}}>
                            <small class="form-text text-muted">경로 권한설정 값</small>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="AssetPathUID">UID</label>
                            <input type="text" class="form-control" id="AssetPathUID" name="AssetPathUID" placeholder="500" value={{.Setting.AssetPathUID}}>
                            <small class="form-text text-muted">소유자 ID</small>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="AssetPathGID">GID</label>
                            <input type="text" class="form-control" id="AssetPathGID" name="AssetPathGID" placeholder="500" value={{.Setting.AssetPathGID}}>
                            <small class="form-text text-muted">그룹 ID</small>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="RunScriptAfterSignup">Run script after sign-up</label>
                    <textarea class="form-control" id="RunScriptAfterSignup" name="RunScriptAfterSignup" rows="4" placeholder="python /path/filename.py">{{.Setting.RunScriptAfterSignup}}</textarea>
                    <small class="form-text text-muted">사용자가 가입되었을 때 자동으로 실행되는 스크립트를 설정할 수 있습니다.</small>
                </div>
                <div class="form-group">
                    <label for="RunScriptAfterEditUserProfile">Run script after edit user profile</label>
                    <textarea class="form-control" id="RunScriptAfterEditUserProfile" name="RunScriptAfterEditUserProfile" rows="4" placeholder="python /path/filename.py">{{.Setting.RunScriptAfterEditUserProfile}}</textarea>
                    <small class="form-text text-muted">사용자의 정보가 수정되었을 때 자동으로 실행되는 스크립트를 설정할 수 있습니다.</small>
                </div>
                <div class="form-group">
                    <label for="ExcludeProject">Exclude Project</label>
                    <input type="text" class="form-control" id="ExcludeProject" name="ExcludeProject" placeholder="project,project" value={{.Setting.ExcludeProject}}>
                    <small class="form-text text-muted">검색창에 제외될 프로젝트명을 ,문자를 이용해서 입력해주세요. 해당 프로젝트가 보이지 않습니다.</small>
                    <small class="form-text text-muted">CSI를 마이그레이션할 때 사용합니다.</small>
                </div>
                <div class="form-group">
                    <label for="OCIOConfig">OpenColorIO Configs Path</label>
                    <input type="text" class="form-control" id="OCIOConfig" name="OCIOConfig" placeholder="/path/OpenColorIO-Configs/aces_1.0.3/config.ocio" value={{.Setting.OCIOConfig}}>
                    <small class="form-text text-muted">OpenColorIO Configs Path를 설정합니다.</small>
                </div>
            </div>        
            
        </div>
        <div class="text-center p-3">
            <button type="submit" class="btn btn-danger">Update</button>
        </div>
    </form>
</div>

{{template "footerBootstrap"}}
</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
</html>
{{end}}

