{{define "assettags"}}
<div class="staffAssettag">
  <div class="assettags textbold">
  {{range .Assettags }}
	{{if eq . "" -}}
	{{- else -}}
		{{if eq . "char" "env" "global" "prop" "comp" "plant" "vehicle" "assembly" "component" -}}
			<a href="/assettags/{{$.SearchOption.Project}}/{{.}}">
			<assettag>{{if eq . $.SearchOption.Searchword}}<b>{{end}}{{.}}{{if eq . $.SearchOption.Searchword}}</b>{{end}}</assettag></a>
		{{- else -}}
			<a href="/assettree/{{$.SearchOption.Project}}/{{.}}">
			<assettreeHead><img src="/assets/img/linkicon.svg" class="tagicon"></assettreeHead></a>
			<a href="/assettags/{{$.SearchOption.Project}}/{{.}}">
			<assettreeTail>{{if eq . $.SearchOption.Searchword}}<b>{{end}}{{.}}{{if eq . $.SearchOption.Searchword}}</b>{{end}}</assettreeTail></a>
		{{- end}}
        {{- end}}
    {{end}}
  </div>
  <div class="projectStaff">
    {{if .Project.Director}} 감독 : {{.Project.Director}}{{end}}
    {{if .Project.Super}} / 슈퍼바이저 : {{.Project.Super}}{{end}}
    {{if .Project.CgSuper}} / CG슈퍼바이저 : {{.Project.CgSuper}}{{end}}
    {{if .Project.Pd}} / PD : {{.Project.Pd}}{{end}}
    {{if .Project.Pm}} / PM : {{.Project.Pm}}{{end}}
    {{if .Project.Pa}} / PA : {{.Project.Pa}}{{end}}
  </div>
</div>
{{end}}
