{{define "assigntasks" }}

<div class="row pt-5">
	{{range .Items}}
	<div class="mx-auto">
		<div class="card m-2" style="width: 18rem;">
			<img class="card-img-top" src="/thumbnail/{{.Project}}/{{.ID}}.jpg" onerror="this.src='/assets/img/none.jpg'">
			<div class="card-body">
				<h6 class="card-title">{{.Name}}({{.Type}})</h6>
				<div class="row">
					<div class="form-check ml-3">
						<input type="checkbox" class="form-check-input" id="concept">
						<label class="form-check-label">Concept</label>
					</div>
					<div class="form-check ml-3">
						<input type="checkbox" class="form-check-input" id="previz">
						<label class="form-check-label">Previz</label>
					</div>
					<div class="form-check ml-3">
						<input type="checkbox" class="form-check-input" id="matte">
						<label class="form-check-label">Matte</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{end}}	
</div>

{{end}}
