{{define "assignuser" }}
<!-- 멀티입력 -->
<div class="">
	<div class="text-right m-3">
		<button type="button" class="btn btn-secondary btn-sm" onclick="selectCheckboxAll()">전체선택</button>
		<button type="button" class="btn btn-secondary btn-sm" onclick="selectCheckboxNone()">전체해제</button>
		<button type="button" class="btn btn-secondary btn-sm" onclick="selectCheckboxInvert()">선택반전</button>
	</div>
	{{if eq .SearchOption.Task ""}}
	<div class="text-center">
		작업자 배정을 위해서는 Task를 선택해 주세요.
	</div>
	{{else}}
	<div class="text-right mr-3">
		<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#multi-input">멀티유저 등록</button>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="multi-input" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">멀티유저 등록</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="multi-input-users" class="col-form-label">Assign {{.SearchOption.Task}} User:</label>
					<input class="form-control" type="text" id="multi-input-users" onchange="setTaskUsers('{{.SearchOption.Project}}', '{{.SearchOption.Task}}', this.value, '{{$.User.Token}}')">
				</div>
				<div class="form-group">
					<label for="multi-input-statuses" class="col-form-label">Status</label>
					<select class="form-control" name="Status" id="multi-input-statuses" onchange="setTaskStatuses('{{.SearchOption.Project}}', '{{.SearchOption.Task}}', document.getElementById('multi-input-statuses').value, '{{$.User.Token}}')">
						<option value="assign">Assign</option>
						<option value="ready">Ready</option>
						<option value="wip">Wip</option>
						<option value="confirm">Confirm</option>
						<option value="done">Done</option>
						<option value="out">Out</option>
						<option value="hold">Hold</option>
						<option value="omit">Omit</option>
						<option value="none">None</option>
					</select>
				</div>
				<div class="form-group">
					<label for="multi-input-predate" class="col-form-label">1차마감</label>
					<input type=date class="form-control" id="multi-input-predate" value="" onchange="setTaskPredates('{{.SearchOption.Project}}', '{{$.SearchOption.Task}}', document.getElementById('multi-input-predate').value, '{{$.User.Token}}')"  placeholder="YYYY-MM-DD" >
					<label for="multi-input-date" class="col-form-label">2차마감</label>
					<input type=date class="form-control" id="multi-input-date" value="" onchange="setTaskDates('{{.SearchOption.Project}}', '{{$.SearchOption.Task}}', document.getElementById('multi-input-date').value, '{{$.User.Token}}')" placeholder="YYYY-MM-DD">
				</div>
				<div class="form-group">
					<label for="multi-input-levels" class="col-form-label">난이도</label>
					<select class="form-control" name="Status" id="multi-input-levels" onchange="setTaskLevels('{{.SearchOption.Project}}', '{{.SearchOption.Task}}', document.getElementById('multi-input-levels').value, '{{$.User.Token}}')">
						<option value="0">Level 0</option>
						<option value="1">Level 1</option>
						<option value="2">Level 2</option>
						<option value="3">Level 3</option>
						<option value="4">Level 4</option>
						<option value="5">Level 5</option>
					</select>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
		</div>
	</div>
	{{end}}
</div>

<div class="row mx-auto">
	{{range .Items}}
	<div class="mx-auto">
		<input type="checkbox" class="form-check-input" id="{{.Name}}" name="selectID" style="opacity:0; position:absolute;">
		<div class="card m-2" style="width: 18rem;">
			<label for="{{.Name}}" class="p-0 m-0">
				<img class="card-img-top" src="/thumbnail/{{.Project}}/{{.ID}}.jpg" onerror="this.src='/assets/img/none.jpg'">
			</label>
			
			<div class="card-body">
				<h6 class="card-title">{{.Name}}({{.Type}})</h6>
				<div class="row">
					{{if $.SearchOption.Task}}
					<label for="{{.ID}}-user" class="col-form-label col-form-label-sm">{{$.SearchOption.Task}} User</label>
					<input class="form-control form-control-sm" value="{{TaskUser . $.SearchOption.Task}}" type="text" onchange="setTaskUser('{{.Project}}', '{{.Name}}', '{{$.SearchOption.Task}}', this.value, '{{$.User.Token}}')">

					<label for="{{.ID}}-status" class="col-form-label col-form-label-sm">Status</label>
					<select class="form-control form-control-sm" name="Status" id="{{.ID}}-status" onchange="setTaskStatus('{{.Project}}', '{{.Name}}', '{{$.SearchOption.Task}}', document.getElementById('{{.ID}}-status').value, '{{$.User.Token}}')">
						{{$status := TaskStatus . $.SearchOption.Task}}
						<option value="omit" {{if eq $status "8" }}selected{{end}}>Omit</option>
						<option value="confirm" {{if eq $status "7" }}selected{{end}}>Confirm</option>
						<option value="wip" {{if eq $status "6" }}selected{{end}}>Wip</option>
						<option value="ready" {{if eq $status "5" }}selected{{end}}>Ready</option>
						<option value="assign" {{if eq $status "4" }}selected{{end}}>Assign</option>
						<option value="out" {{if eq $status "3" }}selected{{end}}>Out</option>
						<option value="done" {{if eq $status "2" }}selected{{end}}>Done</option>
						<option value="hold" {{if eq $status "1" }}selected{{end}}>Hold</option>
						<option value="none" {{if eq $status "0" }}selected{{end}}>None</option>
					</select>
					
					<label for="{{.ID}}-predate" class="col-form-label col-form-label-sm">1차마감</label>
					<input type=date class="form-control form-control-sm border-{{TaskPredate . $.SearchOption.Task | CheckDdlinev2}}" id="{{.ID}}-predate" value="{{TaskPredate . $.SearchOption.Task | ToNormalTime}}" onchange="setTaskPredate('{{.Project}}', '{{.Name}}', '{{$.SearchOption.Task}}', document.getElementById('{{.ID}}-predate').value, '{{$.User.Token}}')"  placeholder="YYYY-MM-DD" >

					<label for="{{.ID}}-date" class="col-form-label col-form-label-sm">2차마감</label>
					<input type=date class="form-control form-control-sm border-{{TaskDate . $.SearchOption.Task | CheckDdlinev2}}" id="{{.ID}}-date" value="{{TaskDate . $.SearchOption.Task | ToNormalTime}}" onchange="setTaskDate('{{.Project}}', '{{.Name}}', '{{$.SearchOption.Task}}', document.getElementById('{{.ID}}-date').value, '{{$.User.Token}}')" placeholder="YYYY-MM-DD">

					
					<label for="{{.ID}}-level" class="col-form-label col-form-label-sm">Level</label>
					<select class="form-control form-control-sm" name="Status" id="{{.ID}}-level" onchange="setTaskLevel('{{$.SearchOption.Project}}', '{{.Name}}', '{{$.SearchOption.Task}}', document.getElementById('{{.ID}}-level').value, '{{$.User.Token}}')">
						{{$level := GetTaskLevel . $.SearchOption.Task}}
						<option value="0" {{if eq $level 0 }}selected{{end}}>Level 0</option>
						<option value="1" {{if eq $level 1 }}selected{{end}}>Level 1</option>
						<option value="2" {{if eq $level 2 }}selected{{end}}>Level 2</option>
						<option value="3" {{if eq $level 3 }}selected{{end}}>Level 3</option>
						<option value="4" {{if eq $level 4 }}selected{{end}}>Level 4</option>
						<option value="5" {{if eq $level 5 }}selected{{end}}>Level 5</option>
					</select>
					
					
					{{end}}
				</div>
			</div>
		</div>
	</div>
	{{end}}	
</div>
	

{{end}}
