{{define "daily" }}
{{template "headBootstrap" .}}
<body>
    <div id="floatingmenu">
        {{template "navbar" .}}
    </div>
    <div id="blinkspace" style="height:60px"></div><!--기본 100px 여유를 두고 navbar와의 간격을 조정한다.-->
    <div class="row m-3">
        <div class="col-2 p-0 border-darkmode overflow-auto text-darkmode" style="height: 70vh;">
            <div class="p-1 m-1 bg-dark">Review Item 1</div>
            <div class="p-1 m-1 bg-dark">Review Item 2</div>
            <div class="p-1 m-1 bg-dark">Review Item 3</div>
        </div>
        <div class="col-8 border-darkmode bg-black">
            <div class="text-center">
                <span class="text-darkmode">player(재생창)</span>
            </div>
        </div>
        <div class="col-2 border-darkmode overflow-auto text-darkmode">
            <div style="height: 80%">
                Review text(리뷰내용)
            </div>
            <div class="height: 20%">
                <textarea class="form-control" id="ReviewComment" name="ReviewComment" rows="3" placeholder="리뷰내용을 작성해주세요."></textarea>
                <div class="pt-1">
                    <span class="btn btn-sm btn-outline-warning w-100">Send</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-3">
        <div class="col-12 border-darkmode text-darkmode" style="height: 10vh;">Timeline, 아이템 선택</div>
    </div>
    
    {{template "footerBootstrap"}}
</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
<script src="/assets/js/input.js"></script>
<script src="/assets/js/csi_v02.js"></script>
</html>
{{end}}
