{{define "deadlinelist" }}

<div class="text-right mr-3">
	<span class="text-badge">3D:</span>
	{{range .Ddline3d}}
		<a href="/inputmode?project={{$.SearchOption.Project}}&
				searchword=deadline3d:{{.}}&
				sortkey={{$.SearchOption.Sortkey}}&
				assign={{$.SearchOption.Assign}}&
				ready={{$.SearchOption.Ready}}&
				wip={{$.SearchOption.Wip}}&
				confirm={{$.SearchOption.Confirm}}&
				done={{$.SearchOption.Done}}&
				omit={{$.SearchOption.Omit}}&
				hold={{$.SearchOption.Hold}}&
				out={{$.SearchOption.Out}}&
				none={{$.SearchOption.None}}&
				searchbartemplate={{$.SearchOption.SearchbarTemplate}}&
				truestatus={{Join $.SearchOption.TrueStatus "," }}&
				task={{$.SearchOption.Task}}" class="statusuri badge badge-{{CheckDdlinev2 .}}">{{ToShortTime .}}</a>
	{{end}}
</div>

<div class="text-right mr-3">
	<span class="text-badge">2D:</span>
	{{range .Ddline2d}}
		<a href="/inputmode?project={{$.SearchOption.Project}}&
				searchword=deadline2d:{{.}}&
				sortkey={{$.SearchOption.Sortkey}}&
				assign={{$.SearchOption.Assign}}&
				ready={{$.SearchOption.Ready}}&
				wip={{$.SearchOption.Wip}}&
				confirm={{$.SearchOption.Confirm}}&
				done={{$.SearchOption.Done}}&
				omit={{$.SearchOption.Omit}}&
				hold={{$.SearchOption.Hold}}&
				out={{$.SearchOption.Out}}&
				none={{$.SearchOption.None}}&
				searchbartemplate={{$.SearchOption.SearchbarTemplate}}&
				truestatus={{ Join $.SearchOption.TrueStatus "," }}&
				task={{$.SearchOption.Task}}" class="statusuri badge badge-{{CheckDdlinev2 .}}">{{ToShortTime .}}</a>
	{{end}}
</div>

{{end}}
