{{define "detail" }}
{{template "headBootstrap" .}}
{{template "navbar" .}}
{{template "modal" .}}
{{template "detailItem" .}}
{{template "footerBootstrap"}}
</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/input.js"></script>
<script src="/assets/js/csi_v02.js"></script>
<script>
    // Tooltip을 띄운다.
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</html>
{{end}}
