{{define "edituser" }}
{{template "headBootstrap"}}
<body>

<div class="container p-5">
    <form action="/edituser_submit"  method="POST" enctype="multipart/form-data">
    <div class="pt-3 pb-5">
        <h2 class="section-heading text-center">Edit User: {{.User.ID}}</h2>
        <input type="hidden" name="ID" id="ID" value="{{.User.ID}}">
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label>Upload Photo</label>
                <input type="file" class="form-control-file" name="Photo">
            </div>
            <label>Name / 이름</label>
            <div class="form-row">
                <div class="col-4">
                    <input type="text" name="LastNameKor" class="form-control" placeholder="성" value="{{.User.LastNameKor}}">
                </div>
                <div class="col-8">
                    <input type="text" name="FirstNameKor" class="form-control" placeholder="이름" value="{{.User.FirstNameKor}}">
                </div>
            </div>
            <small class="form-text text-muted pb-3">한글이름</small>
            <div class="form-row">
                <div class="col-8">
                    <input type="text" name="FirstNameEng" class="form-control" placeholder="FirstName" value="{{.User.FirstNameEng}}">
                </div>
                <div class="col-4">
                    <input type="text" name="LastNameEng" class="form-control" placeholder="LastName" value="{{.User.LastNameEng}}">
                </div>
            </div>
            <small class="form-text text-muted pb-3">영문이름. 외국인은 이름이 길기 때문에 FirstName을 닉네임으로 사용합니다.</small>
            <div class="form-row">
                <div class="col-4">
                    <input type="text" name="LastNameChn" class="form-control" placeholder="성(한자)" value="{{.User.LastNameChn}}">
                </div>
                <div class="col-8">
                    <input type="text" name="FirstNameChn" class="form-control" placeholder="이름(한자)" value="{{.User.FirstNameChn}}">
                </div>
            </div>
            <small class="form-text text-muted pb-3">중국 콘텐츠 크레딧 제작시 한자이름을 요구하는 경우가 있습니다.</small>

            <div class="form-group">
                <label>E-mail / 사내 이메일</label>
                <input type="email" name="Email" class="form-control" placeholder="사번@{{.MailDNS}}" value="{{.User.Email}}">
                <small class="form-text text-muted">회사 내부에서 사용하는 이메일을 적어주세요.</small>
            </div>

            <div class="form-group">
                <label >E-mail / 외부 이메일</label>
                <input type="email" name="EmailExternal" class="form-control" placeholder="E-mail" value="{{.User.EmailExternal}}">
                <small class="form-text text-muted">회사 외부에서 사용하는 이메일을 적어주세요.</small>
            </div>

            <div class="form-group">
                <label>Phone / 휴대폰 번호</label>
                <input type="tel" name="Phone" id="Phone" class="form-control" placeholder="Phone number" value="{{.User.Phone}}">
                <small class="form-text text-muted">휴대폰 번호를 입력해주세요.</small>
            </div>

            <div class="form-group">
                <label>Hotline / 사내 전화번호</label>
                <input type="tel" name="Hotline" id="Hotline" class="form-control" placeholder="Hotline number" value="{{.User.Hotline}}">
                <small class="form-text text-muted">사내 전화번호를 입력해주세요.</small>
            </div>
        </div>
        <div class="col-sm-1"></div>

        <div class="col-sm">
            <div class="form-group">
                <labe class="mb-0">조직정보</label>
            </div>
            
            <div class="row">
                <div class="col-4 form-group">
                    <small class="form-text text-muted">Division / 본부</small>    
                    <select class="form-control" name="Division" id="Division">
                        <option value="unknown">해당없음</option>
                        {{range .Divisions}}
                            <option value="{{.ID}}">{{.Name}}</option>
                        {{end}}
                    </select>
                </div>

                <div class="col-4 form-group">
                    <small class="form-text text-muted">Dept / 부서</small>    
                    <select class="form-control" name="Department" id="Department">
                        <option value="unknown">해당없음</option>
                        {{range .Departments}}
                            <option value="{{.ID}}">{{.Name}}</option>
                        {{end}}
                    </select>
                </div>

                <div class="col-4 form-group">
                    <small class="form-text text-muted">Team / 팀</small>
                    <select class="form-control" name="Team" id="Team">
                        <option value="unknown">해당없음</option>
                        {{range .Teams}}
                            <option value="{{.ID}}">{{.Name}}</option>
                        {{end}}
                    </select>
                </div>
            </div>
            
            <div class="row">
                <div class="col-6 form-group">
                    <small class="form-text text-muted">Role / 직책</small>
                    <select class="form-control" name="Role" id="Role">
                        <option value="unknown">해당없음</option>
                        {{range .Roles}}
                            <option value="{{.ID}}">{{.Name}}</option>
                        {{end}}
                    </select>
                </div>
    
                <div class="col-6 form-group">
                    <small class="form-text text-muted">Position / 직급</small>
                    <select class="form-control" name="Position" id="Position">
                        <option value="unknown">해당없음</option>
                        {{range .Positions}}
                            <option value="{{.ID}}">{{.Name}}</option>
                        {{end}}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <span type="hidden" class="btn btn-danger w-100" id="addOrganization">조직정보 갱신하기</span>
                </div>
            </div>
            
            <div class="form-group pt-3">
                <small class="form-text text-muted">기존 등록된 조직정보는 아래 항목에 표기됩니다.</small>
                <div id="Organizations">
                    {{range .Organizations}}
                        <div class="alert alert-warning small" role="alert">
                            {{.Division.Name}}, {{.Department.Name}}, {{.Team.Name}}, {{.Role.Name}}, {{.Position.Name}}
                        </div>
                    {{end}}
                </div>
            </div>

            <div class="form-group pt-3">
                <label>Tags / 태그</label>
                <input type="hidden" name="OrganizationsForm" id="OrganizationsForm" value="{{.User.OrganizationsForm}}" class="form-control">
                <input type="text" name="Tags" id="Tags" class="form-control" placeholder="추가태그" value="{{Tags2str .User.Tags}}">
                <small class="form-text text-muted">사용자에게 설정된 Tag목록 입니다.</small>
            </div>

            <div class="form-group">
                <label>Location / 사내 위치정보</label>
                <input type="text" name="Location" class="form-control" placeholder="층수" value="{{.User.Location}}">
                <small class="form-text text-muted">층수, 블럭정보를 입력해주세요.</small>
            </div>

            <div class="form-group">
                <label>Timezone / 시간대</label>
                <select name="Timezone" class="form-control">
                    <option value="Asia/Seoul" {{if eq .User.Timezone "Asia/Seoul"}}selected{{end}}>한국 Asia/Seoul</option>
                    <option value="Asia/Beijing" {{if eq .User.Timezone "Asia/Beijing"}}selected{{end}}>중국 Asia/Beijing</option>
                    <option value="US/Eastern" {{if eq .User.Timezone "US/Eastern"}}selected{{end}}>미국 US/Eastern</option>
                </select>
                <small class="form-text text-muted">회사 확장을 대비하여 시간대를 선택합니다.</small>
            </div>
            {{if eq .SessionUser.AccessLevel 10}}
            <div class="form-group">
                <label>AccessLevel</label>
                <select name="AccessLevel" class="form-control">
                    <option value="0" {{if eq .User.AccessLevel 0}}selected{{end}}>0: Unknown</option>
                    <option value="1" {{if eq .User.AccessLevel 1}}selected{{end}}>1: Guest</option>
                    <option value="2" {{if eq .User.AccessLevel 2}}selected{{end}}>2: Client</option>
                    <option value="3" {{if eq .User.AccessLevel 3}}selected{{end}}>3: Artist</option>
                    <option value="4" {{if eq .User.AccessLevel 4}}selected{{end}}>4: Lead</option>
                    <option value="5" {{if eq .User.AccessLevel 5}}selected{{end}}>5: Pm</option>
                    <option value="6" {{if eq .User.AccessLevel 6}}selected{{end}}>6: Supervisor</option>
                    <option value="7" {{if eq .User.AccessLevel 7}}selected{{end}}>7: IO</option>
                    <option value="8" {{if eq .User.AccessLevel 8}}selected{{end}}>8: PD</option>
                    <option value="9" {{if eq .User.AccessLevel 9}}selected{{end}}>9: Developer</option>
                    <option value="10" {{if eq .User.AccessLevel 10}}selected{{end}}>10: Admin</option>
                </select>
                <small class="form-text text-danger">사용자 Accesslevel을 선택합니다.</small>
            </div>
            {{end}}
        </div>
    </div>     
    <div class="text-center">
        <button type="submit" class="btn btn-primary mt-5">UPDATE</button>
    </div>
    </form>
</div>



{{template "footerBootstrap"}}
</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
<script src="/assets/js/signup.js"></script>
</html>
{{end}}
