{{define "edititem" }}
{{template "headBootstrap"}}
{{template "navbar" .}}

<div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
	<div class="text-center py-3 bg-{{Status2string .Item.Status}}">
		<span class="text-dark">{{.Project.ID}}</span>
		<span class="text-dark">{{.Item.Name}}({{.Item.Type}})</span>
		<span class="text-dark">{{.Item.Status|Status2capString}}</span>
	</div>
	<!--
	<form action="/thumbnail-upload" class="dropzone">
		<div class="fallback">
		  <input name="file" type="file" />
		</div>
	</form>
	-->
			
	<form action="/edititem-submit" method="POST" enctype="multipart/form-data">
		<input type="hidden" name="project" value={{.Project.ID}}>
		<input type="hidden" name="slug" value={{.Item.Slug}}>
		<div class="form-group">
			<label>Thumbnail 이미지 변경</label>
			<input type="file" name="Thumbnail" class="form-control">
			<small class="form-text text-muted">Thumbnail 이미지를 업데이트 합니다.</small>
		</div>

		{{if eq .Item.Type "asset"}}
			<div class="form-group">
				<label>에셋태그</label>
				<input type="text" size="55" name="Assettags" value="{{.Item.Assettags|Tags2str}}" class="form-control">
				<small class="form-text text-muted">에셋태그를 설정합니다. 예) assembly, component, type, parent</small>
			</div>
		{{end}}
		<div class="form-group">
			<label>CONCEPT</label>
			<div class="row">
				<div class="col-lg-3 col-sm-12 form-group">
					<input type="text" class="form-control" name="ConceptUserNote" value="{{.Item.Concept.UserNote}}" placeholder="Note">
					<small class="form-text text-mute">Note</small>
				</div>
				<div class="col-lg-2 col-sm-6 form-group">
					<input type="date" name="ConceptStartdate" class="form-control" value="{{.Item.Concept.Startdate}}" placeholder="YYYY-MM-DD">
					<small class="form-text text-mute">시작일</small>
				</div>
				<div class="col-lg-2 col-sm-6 form-group">
					<input type="text" maxlength="25" name="ConceptDue" class="form-control" value="{{.Item.Concept.Due}}">
					<small class="form-text text-mute">예상일</small>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label>PREVIZ</label>
			<div class="row">
				<div class="col-lg-3 col-sm-12 form-group">
					<input type="text" class="form-control" name="PrevizUserNote" value="{{.Item.Previz.UserNote}}" placeholder="Note">
					<small class="form-text text-mute">Note</small>
				</div>
				<div class="col-lg-2 col-sm-6 form-group">
					<input type="date" name="PrevizStartdate" class="form-control" value="{{.Item.Previz.Startdate}}" placeholder="YYYY-MM-DD">
					<small class="form-text text-mute">시작일</small>
				</div>
				<div class="col-lg-2 col-sm-6 form-group">
					<input type="text" maxlength="25" name="PrevizDue" class="form-control" value="{{.Item.Previz.Due}}">
					<small class="form-text text-mute">예상일</small>
				</div>
			</div>
		</div>
		

		<div class="form-group">
			<label>MODEL</label>
			<div class="row">
				<div class="col-lg-3 col-sm-12 form-group">
					<input type="text" class="form-control" name="ModelUserNote" value="{{.Item.Model.UserNote}}" placeholder="Note">
					<small class="form-text text-mute">Note</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="date" name="ModelStartdate" class="form-control" value="{{.Item.Model.Startdate}}" placeholder="YYYY-MM-DD">
					<small class="form-text text-mute">시작일</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="text" maxlength="25" name="ModelDue" class="form-control" value="{{.Item.Model.Due}}">
					<small class="form-text text-mute">예상일</small>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label>MM</label>
			<div class="row">
				<div class="col-lg-3 col-sm-12 form-group">
					<input type="text" class="form-control" name="MmUserNote" value="{{.Item.Mm.UserNote}}" placeholder="Note">
					<small class="form-text text-mute">Note</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="date" name="MmStartdate" class="form-control" value="{{.Item.Mm.Startdate}}" placeholder="YYYY-MM-DD">
					<small class="form-text text-mute">시작일</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="text" maxlength="25" name="MmDue" class="form-control" value="{{.Item.Mm.Due}}">
					<small class="form-text text-mute">예상일</small>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>LAYOUT</label>
			<div class="row">
				<div class="col-lg-3 col-sm-12 form-group">
					<input type="text" class="form-control" name="LayoutUserNote" value="{{.Item.Layout.UserNote}}" placeholder="Note">
					<small class="form-text text-mute">Note</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="date" name="LayoutStartdate" class="form-control" value="{{.Item.Layout.Startdate}}" placeholder="YYYY-MM-DD">
					<small class="form-text text-mute">시작일</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="text" maxlength="25" name="LayoutDue" class="form-control" value="{{.Item.Layout.Due}}">
					<small class="form-text text-mute">예상일</small>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>ANI</label>
			<div class="row">
				<div class="col-lg-3 col-sm-12 form-group">
					<input type="text" class="form-control" name="AniUserNote" value="{{.Item.Ani.UserNote}}" placeholder="Note">
					<small class="form-text text-mute">Note</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="date" name="AniStartdate" class="form-control" value="{{.Item.Ani.Startdate}}" placeholder="YYYY-MM-DD">
					<small class="form-text text-mute">시작일</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="text" maxlength="25" name="AniDue" class="form-control" value="{{.Item.Ani.Due}}">
					<small class="form-text text-mute">예상일</small>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>FX</label>
			<div class="row">
				<div class="col-lg-3 col-sm-12 form-group">
					<input type="text" class="form-control" name="FxUserNote" value="{{.Item.Fx.UserNote}}" placeholder="Note">
					<small class="form-text text-mute">Note</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="date" name="FxStartdate" class="form-control" value="{{.Item.Fx.Startdate}}" placeholder="YYYY-MM-DD">
					<small class="form-text text-mute">시작일</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="text" maxlength="25" name="FxDue" class="form-control" value="{{.Item.Fx.Due}}">
					<small class="form-text text-mute">예상일</small>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>MG</label>
			<div class="row">
				<div class="col-lg-3 col-sm-12 form-group">
					<input type="text" class="form-control" name="MgUserNote" value="{{.Item.Mg.UserNote}}" placeholder="Note">
					<small class="form-text text-mute">Note</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="date" name="MgStartdate" class="form-control" value="{{.Item.Mg.Startdate}}" placeholder="YYYY-MM-DD">
					<small class="form-text text-mute">시작일</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="text" maxlength="25" name="MgDue" class="form-control" value="{{.Item.Mg.Due}}">
					<small class="form-text text-mute">예상일</small>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<label>{{if eq .Item.Type "asset"}}FURSIM{{else}}FUR{{end}}</label>
			<div class="row">
				<div class="col-lg-3 col-sm-12 form-group">
					<input type="text" class="form-control" name="FurUserNote" value="{{.Item.Fur.UserNote}}" placeholder="Note">
					<small class="form-text text-mute">Note</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="date" name="FurStartdate" class="form-control" value="{{.Item.Fur.Startdate}}" placeholder="YYYY-MM-DD">
					<small class="form-text text-mute">시작일</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="text" maxlength="25" name="FurDue" class="form-control" value="{{.Item.Fur.Due}}">
					<small class="form-text text-mute">예상일</small>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label>{{if eq .Item.Type "asset"}}RIG{{else}}SIM{{end}}</label>
			<div class="row">
				<div class="col-lg-3 col-sm-12 form-group">
					<input type="text" class="form-control" name="SimUserNote" value="{{.Item.Sim.UserNote}}" placeholder="Note">
					<small class="form-text text-mute">Note</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="date" name="SimStartdate" class="form-control" value="{{.Item.Sim.Startdate}}" placeholder="YYYY-MM-DD">
					<small class="form-text text-mute">시작일</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="text" maxlength="25" name="SimDue" class="form-control" value="{{.Item.Sim.Due}}">
					<small class="form-text text-mute">예상일</small>
				</div>
			</div>
			
		</div>
		<div class="form-group">
			<label>CROWD</label>
			<div class="row">
				<div class="col-lg-3 col-sm-12 form-group">
					<input type="text" class="form-control" name="CrowdUserNote" value="{{.Item.Crowd.UserNote}}" placeholder="Note">
					<small class="form-text text-mute">Note</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="date" name="CrowdStartdate" class="form-control" value="{{.Item.Crowd.Startdate}}" placeholder="YYYY-MM-DD">
					<small class="form-text text-mute">시작일</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="text" maxlength="25" name="CrowdDue" class="form-control" value="{{.Item.Crowd.Due}}">
					<small class="form-text text-mute">예상일</small>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>{{if eq .Item.Type "asset"}}LOOKDEV{{else}}LIGHT{{end}}</label>
			<div class="row">
				<div class="col-lg-3 col-sm-12 form-group">
					<input type="text" class="form-control" name="LightUserNote" value="{{.Item.Light.UserNote}}" placeholder="Note">
					<small class="form-text text-mute">Note</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="date" name="LightStartdate" class="form-control" value="{{.Item.Light.Startdate}}" placeholder="YYYY-MM-DD">
					<small class="form-text text-mute">시작일</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="text" maxlength="25" name="LightDue" class="form-control" value="{{.Item.Light.Due}}">
					<small class="form-text text-mute">예상일</small>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>COMP</label>
			<div class="row">
				<div class="col-lg-3 col-sm-12 form-group">
					<input type="text" class="form-control" name="CompUserNote" value="{{.Item.Comp.UserNote}}" placeholder="Note">
					<small class="form-text text-mute">Note</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="date" name="CompStartdate" class="form-control" value="{{.Item.Comp.Startdate}}" placeholder="YYYY-MM-DD">
					<small class="form-text text-mute">시작일</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="text" maxlength="25" name="CompDue" class="form-control" value="{{.Item.Comp.Due}}">
					<small class="form-text text-mute">예상일</small>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>Matte</label>
			<div class="row">
				<div class="col-lg-3 col-sm-12 form-group">
					<input type="text" class="form-control" name="MatteUserNote" value="{{.Item.Matte.UserNote}}" placeholder="Note">
					<small class="form-text text-mute">Note</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="date" name="MatteStartdate" class="form-control" value="{{.Item.Matte.Startdate}}" placeholder="YYYY-MM-DD">
					<small class="form-text text-mute">시작일</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="text" maxlength="25" name="MatteDue" class="form-control" value="{{.Item.Matte.Due}}">
					<small class="form-text text-mute">예상일</small>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>ENV</label>
			<div class="row">
				<div class="col-lg-3 col-sm-12 form-group">
					<input type="text" class="form-control" name="EnvUserNote" value="{{.Item.Env.UserNote}}" placeholder="Note">
					<small class="form-text text-mute">Note</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="date" name="EnvStartdate" class="form-control" value="{{.Item.Env.Startdate}}" placeholder="YYYY-MM-DD">
					<small class="form-text text-mute">시작일</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="text" maxlength="25" name="EnvDue" class="form-control" value="{{.Item.Env.Due}}">
					<small class="form-text text-mute">예상일</small>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label>{{if .Item.Temp1.Title}}{{.Item.Temp1.Title}}{{else}}TEMP1{{end}}</label>
			<div class="row">
				<div class="col-lg-3 col-sm-12 form-group">
					<input type="text" class="form-control" name="Temp1Title" value="{{.Item.Temp1.Title}}" placeholder="Title">
					<small class="form-text text-mute">임시 타이틀</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="text" class="form-control" name="Temp1UserNote" value="{{.Item.Temp1.UserNote}}" placeholder="Note">
					<small class="form-text text-mute">Note</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="date" name="Temp1Startdate" class="form-control" value="{{.Item.Temp1.Startdate}}" placeholder="YYYY-MM-DD">
					<small class="form-text text-mute">시작일</small>
				</div>
				<div class="col-lg-2 col-sm-12 form-group">
					<input type="text" maxlength="25" name="Temp1Due" class="form-control" value="{{.Item.Temp1.Due}}">
					<small class="form-text text-mute">예상일</small>
				</div>
			</div>
			
		</div>

		<div class="row">
			<div class="mx-auto text-center">
				<button class="btn btn-outline-warning my-3" id="button">Edit</button>
				<br>
				<span class="text-darkmode">
					* 작업자 항목에 "작업자,작업자" 형태로 기입하면 2명을 등록할 수 있습니다.<br>
					수정을 누르면 전화면으로 넘어갑니다. 웹브라우져 캐쉬문제로 Ctrl+F5를 눌러서 업데이트해주세요.<br>
				</span>
			</div>
		</div>
			

	</form>
</div>

{{template "footerBootstrap"}}
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
<script src="/assets/js/input.js"></script>
<script src="/assets/js/dropzone.js"></script>
</html>

{{end}}
