{{define "editProject" }}
{{template "headBootstrap"}}
{{template "navbar" .}}
<body>

<div class="p-3">
	<form action="/editproject_submit" method="POST" enctype="multipart/form-data">
		<div class="pt-2 pb-3">
			<h2 class="section-heading text-center">Edit {{.Project.ID}}</h2>
		</div>
		<input type="text" name="Id" value={{.Project.ID}} style="display:none">
		<div class="row mx-auto">
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="form-group">
					<label>기본정보</label>
					<div class="row">
						<div class="col">
							<small class="form-text text-muted">Status</small>
							<select name="Status" class="form-control">
								<option value="0" {{if eq .Project.Status 0}}selected{{end}}>Unknown</option>
								<option value="1" {{if eq .Project.Status 1}}selected{{end}}>준비중</option>
								<option value="2" {{if eq .Project.Status 2}}selected{{end}}>진행중</option>
								<option value="3" {{if eq .Project.Status 3}}selected{{end}}>중단</option>
								<option value="4" {{if eq .Project.Status 4}}selected{{end}}>백업중</option>
								<option value="5" {{if eq .Project.Status 5}}selected{{end}}>종료</option>
								<option value="6" {{if eq .Project.Status 6}}selected{{end}}>소송중</option>
							</select>
						</div>
						<div class="col">
							<small class="form-text text-muted">Type</small>
							<select name="Style" class="form-control">
								<option value="영화" {{if eq .Project.Style "영화"}}selected{{end}}>영화</option>
								<option value="드라마" {{if eq .Project.Style "드라마"}}selected{{end}}>드라마</option>
								<option value="애니메이션" {{if eq .Project.Style "애니메이션"}}selected{{end}}>애니메이션</option>
								<option value="광고" {{if eq .Project.Style "광고"}}selected{{end}}>광고</option>
								<option value="게임" {{if eq .Project.Style "게임"}}selected{{end}}>게임</option>
								<option value="VR" {{if eq .Project.Style "VR"}}selected{{end}}>VR</option>
								<option value="AR" {{if eq .Project.Style "AR"}}selected{{end}}>AR</option>
								<option value="MR" {{if eq .Project.Style "MR"}}selected{{end}}>MR</option>
								<option value="R&D" {{if eq .Project.Style "R&D"}}selected{{end}}>R&D</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<small class="form-text text-muted">한글 프로젝트명</small>
							<input type="text" name="Name" class="form-control" placeholder="한글 프로젝트명" value={{.Project.Name}}>
						</div>
						<div class="col">
							<small class="form-text text-muted">E-mail 헤더</small>
							<input type="text" name="MailHead" class="form-control" placeholder="메일헤더" value={{.Project.MailHead}}>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<small class="form-text text-muted">프로젝트 주요 기술이슈를 작성합니다.</small>
							<input type="text" name="Issue" class="form-control" placeholder="이슈" value={{.Project.Issue}}>
						</div>		
					</div>
					<div class="row mx-auto pt-3">
						<div class="form-check col">
							<input type="checkbox" id="Stereo" name="Stereo" class="form-check-input" value="true" {{if eq .Project.Stereo true}}checked{{end}}>
							<label class="form-check-label" for="Stereo">입체 / Stereo</label>
						</div>
						<div class="form-check col">
							<input type="checkbox" id="Netapp" name="Netapp" class="form-check-input" value="true" {{if eq .Project.Netapp true}}checked{{end}}>
							<label class="form-check-label" for="Netapp">Netapp 스토리지 사용</label>
						</div>
					</div>
				</div>
				
				<div class="form-group pt-3">
					<label>인원정보</label>
					<div class="row">
						<div class="col">
							<small class="form-text text-muted">감독</small>
							<input type="text" name="Director" class="form-control" placeholder="감독" value={{.Project.Director}}>
						</div>
						<div class="col">
							<small class="form-text text-muted">슈퍼바이져</small>
							<input type="text" name="Super" class="form-control" placeholder="슈퍼바이져" value={{.Project.Super}}>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<small class="form-text text-muted">CG 슈퍼바이져</small>
							<input type="text" name="CgSuper" class="form-control" placeholder="CG 슈퍼바이져" value={{.Project.CgSuper}}>
						</div>
						<div class="col">
							<small class="form-text text-muted">PD</small>
							<input type="text" name="Pd" class="form-control" placeholder="PD" value={{.Project.Pd}}>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<small class="form-text text-muted">PM</small>
							<input type="text" name="Pm" class="form-control" placeholder="PM" value={{.Project.Pm}}>
						</div>
						<div class="col">
							<small class="form-text text-muted">PA</small>
							<input type="text" name="Pa" class="form-control" placeholder="PA" value={{.Project.Pa}}>
						</div>
					</div>
					<div class="form-group pt-4">
						<label>카메라정보</label>
						<input type="text" name="Camera" class="form-control" placeholder="Camera" value={{.Project.Camera}}>
					</div>
				</div>
			</div>
			<!--2번째열-->
        	<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="form-group">
					<label>공지사항 / 기본정보</label>
					<small class="form-text text-muted">공지사항(CSI 상단에 표기됩니다.)</small>
					<input type="text" name="Message" class="form-control" placeholder="공지사항" value={{.Project.Message}}>
					<small class="form-text text-muted">프로젝트 위키 URL</small>
					<input type="text" name="Wiki" class="form-control" placeholder="위키주소" value={{.Project.Wiki}}>
					<small class="form-text text-muted">편집본 영상 경로</small>
					<input type="text" name="Edit" class="form-control" placeholder="편집본경로" value={{.Project.Edit}}>
					<small class="form-text text-muted">수정사항 노트 강조 단어를 설정합니다.</small>
					<input type="text" name="NoteHighlight" class="form-control" placeholder="강조단어" value={{.Project.NoteHighlight}}>
				</div>
				<div class="form-group pt-3">
					<label>아웃풋 옵션</label>
					<div class="row">
						<div class="col">
							<small class="form-text text-muted">Pixel<br>Aspect Ratio</small>
							<input type="text" name="AspectRatio" class="form-control" placeholder="Aspect Ratio" value={{.Project.AspectRatio}}>
						</div>
						<div class="col">
							<small class="form-text text-muted">Crop<br>AspectRatio</small>
							<input type="text" name="CropAspectRatio" class="form-control" placeholder="Crop AspectRatio" value={{.Project.CropAspectRatio}}>
						</div>
						<div class="col">
							<small class="form-text text-muted">Proxy<br>Codec</small>
							<select name="PostProductionProxyCodec" class="form-control">
								<option value="Apple_Prores_422HQ" {{if eq .Project.PostProductionProxyCodec "Apple_Prores_422HQ"}}selected{{end}}>Apple_Prores_422HQ</option>
								<option value="Apple_Prores_4444" {{if eq .Project.PostProductionProxyCodec "Apple_Prores_4444"}}selected{{end}}>Apple_Prores_4444</option>
								<option value="Apple_Prores_422" {{if eq .Project.PostProductionProxyCodec "Apple_Prores_422"}}selected{{end}}>Apple_Prores_422</option>
								<option value="Apple_Prores_422LT" {{if eq .Project.PostProductionProxyCodec "Apple_Prores_422LT"}}selected{{end}}>Apple_Prores_422LT</option>
								<option value="Apple_Prores_422Proxy" {{if eq .Project.PostProductionProxyCodec "Apple_Prores_422Proxy"}}selected{{end}}>Apple_Prores_422Proxy</option>
								<option value="H.264" {{if eq .Project.PostProductionProxyCodec "H.264"}}selected{{end}}>H.264</option>
								<option value="Avid_DNxHD_Codec" {{if eq .Project.PostProductionProxyCodec "Avid_DNxHD_Codec"}}selected{{end}}>Avid_DNxHD_Codec</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<small class="form-text text-muted">버전 자리수</small>
							<input type="text" name="VersionNum" class="form-control" placeholder="Version number" value={{.Project.VersionNum}}>
						</div>
						<div class="col">
							<small class="form-text text-muted">시퀀스 자리수</small>
							<input type="text" name="SeqNum" class="form-control" placeholder="Seq number" value={{.Project.SeqNum}}>
						</div>
						<div class="col">
							<small class="form-text text-muted">시작프레임</small>
							<input type="text" name="StartFrame" class="form-control" placeholder="Start Frame" value={{.Project.StartFrame}}>
						</div>
						<div class="col">
							<small class="form-text text-muted">확장자</small>
							<select name="PlateExt" class="form-control">
								<option value="exr" {{if eq .Project.PlateExt "exr"}}selected{{end}}>exr</option>
								<option value="dpx" {{if eq .Project.PlateExt "dpx"}}selected{{end}}>dpx</option>
								<option value="mov" {{if eq .Project.PlateExt "mov"}}selected{{end}}>mov</option>
								<option value="tga" {{if eq .Project.PlateExt "tga"}}selected{{end}}>tga</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<small class="form-text text-muted">Width</small>
							<input type="text" name="PlateWidth" class="form-control" placeholder="Width" value={{.Project.PlateWidth}}>
						</div>
						<div class="col">
							<small class="form-text text-muted">Height</small>
							<input type="text" name="PlateHeight" class="form-control" placeholder="Height" value={{.Project.PlateHeight}}>
						</div>
						<div class="col">
							<small class="form-text text-muted">Resize 방식</small>
							<select name="ResizeType" class="form-control">
								<option value="fill" {{if eq .Project.ResizeType "" "fill"}}selected{{end}}>fill</option>
								<option value="width" {{if eq .Project.ResizeType "width"}}selected{{end}}>width</option>
								<option value="none" {{if eq .Project.ResizeType "none"}}selected{{end}}>none</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<small class="form-text text-muted">Plate IN Colorspace</small>
							<select name="PlateInColorspace" class="form-control">
								<option value="linear" {{if eq .Project.PlateInColorspace "linear"}}selected{{end}}>linear</option>
								<option value="sRGB" {{if eq .Project.PlateInColorspace "sRGB"}}selected{{end}}>sRGB</option>
								<option value="rec709" {{if eq .Project.PlateInColorspace "rec709"}}selected{{end}}>rec709</option>
								<option value="Cineon" {{if eq .Project.PlateInColorspace "Cineon"}}selected{{end}}>Cineon</option>
								<option value="AlexaV3LogC" {{if eq .Project.PlateInColorspace "AlexaV3LogC"}}selected{{end}}>AlexaV3LogC</option>
								<option value="REDLog" {{if eq .Project.PlateInColorspace "REDLog"}}selected{{end}}>REDLog</option>
								<option value="Gamma2.2" {{if eq .Project.PlateInColorspace "Gamma2.2"}}selected{{end}}>Gamma2.2</option>
								<option value="ACEScg" {{if eq .Project.PlateInColorspace "ACEScg"}}selected{{end}}>ACEScg</option>
								<option value="ACES2065-1" {{if eq .Project.PlateInColorspace "ACES2065-1"}}selected{{end}}>ACES2065-1</option>
								<option value="Output-Rec.709" {{if eq .Project.PlateInColorspace "Output-Rec.709"}}selected{{end}}>Output-Rec.709(ACES)</option>
								<option value="default" {{if eq .Project.PlateInColorspace "" "default"}}selected{{end}}>default</option>
							</select>
						</div>
						<div class="col">
							<small class="form-text text-muted">Plate OUT Colorspace</small>
							<select name="PlateOutColorspace" class="form-control">
								<option value="linear" {{if eq .Project.PlateOutColorspace "linear"}}selected{{end}}>linear</option>
								<option value="sRGB" {{if eq .Project.PlateOutColorspace "sRGB"}}selected{{end}}>sRGB</option>
								<option value="rec709" {{if eq .Project.PlateOutColorspace "rec709"}}selected{{end}}>rec709</option>
								<option value="Cineon" {{if eq .Project.PlateOutColorspace "Cineon"}}selected{{end}}>Cineon</option>
								<option value="AlexaV3LogC" {{if eq .Project.PlateOutColorspace "AlexaV3LogC"}}selected{{end}}>AlexaV3LogC</option>
								<option value="REDLog" {{if eq .Project.PlateOutColorspace "REDLog"}}selected{{end}}>REDLog</option>
								<option value="Gamma2.2" {{if eq .Project.PlateOutColorspace "Gamma2.2"}}selected{{end}}>Gamma2.2</option>
								<option value="ACEScg" {{if eq .Project.PlateOutColorspace "ACEScg"}}selected{{end}}>ACEScg</option>
								<option value="ACES2065-1" {{if eq .Project.PlateOutColorspace "ACES2065-1"}}selected{{end}}>ACES2065-1</option>
								<option value="Output-Rec.709" {{if eq .Project.PlateOutColorspace "Output-Rec.709"}}selected{{end}}>Output-Rec.709(ACES)</option>
								<option value="default" {{if eq .Project.PlateOutColorspace "" "default"}}selected{{end}}>default</option>
							</select>	
						</div>
						<div class="col">
							<small class="form-text text-muted">Proxy OUT Colorspace</small>
							<select name="ProxyOutColorspace" class="form-control">
								<option value="linear" {{if eq .Project.ProxyOutColorspace "linear"}}selected{{end}}>linear</option>
								<option value="sRGB" {{if eq .Project.ProxyOutColorspace "sRGB"}}selected{{end}}>sRGB</option>
								<option value="rec709" {{if eq .Project.ProxyOutColorspace "rec709"}}selected{{end}}>rec709</option>
								<option value="Cineon" {{if eq .Project.ProxyOutColorspace "Cineon"}}selected{{end}}>Cineon</option>
								<option value="AlexaV3LogC" {{if eq .Project.ProxyOutColorspace "AlexaV3LogC"}}selected{{end}}>AlexaV3LogC</option>
								<option value="REDLog" {{if eq .Project.ProxyOutColorspace "REDLog"}}selected{{end}}>REDLog</option>
								<option value="Gamma2.2" {{if eq .Project.ProxyOutColorspace "Gamma2.2"}}selected{{end}}>Gamma2.2</option>
								<option value="ACEScg" {{if eq .Project.ProxyOutColorspace "ACEScg"}}selected{{end}}>ACEScg</option>
								<option value="ACES2065-1" {{if eq .Project.ProxyOutColorspace "ACES2065-1"}}selected{{end}}>ACES2065-1</option>
								<option value="Output-Rec.709" {{if eq .Project.ProxyOutColorspace "Output-Rec.709"}}selected{{end}}>Output-Rec.709(ACES)</option>
								<option value="default" {{if eq .Project.ProxyOutColorspace "" "default"}}selected{{end}}>default</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<!--3번째열-->
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="form-group">
					<label>LUT 경로</label>
					<!--lut In,Out 컬러스페이스는 default값이 없다. 뉴크에서 lut를 적용할 때 사용하는 Vectorfield 노드에 default 값이 없기 때문이다.-->
					<input type="text" name="Lut" class="form-control" placeholder="Lut path" value={{.Project.Lut}}>
					<div class="row">
						<div class="col">
							<small class="form-text text-muted">LUT IN Colorspace</small>
							<select name="LutInColorspace" class="form-control">
								<option value="linear" {{if eq .Project.LutInColorspace "linear"}}selected{{end}}>linear</option>
								<option value="sRGB" {{if eq .Project.LutInColorspace "sRGB"}}selected{{end}}>sRGB</option>
								<option value="rec709" {{if eq .Project.LutInColorspace "rec709"}}selected{{end}}>rec709</option>
								<option value="Cineon" {{if eq .Project.LutInColorspace "Cineon"}}selected{{end}}>Cineon</option>
								<option value="AlexaV3LogC" {{if eq .Project.LutInColorspace "AlexaV3LogC"}}selected{{end}}>AlexaV3LogC</option>
								<option value="REDLog" {{if eq .Project.LutInColorspace "REDLog"}}selected{{end}}>REDLog</option>
								<option value="Gamma2.2" {{if eq .Project.LutInColorspace "Gamma2.2"}}selected{{end}}>Gamma2.2</option>
								<option value="ACEScg" {{if eq .Project.LutInColorspace "ACEScg"}}selected{{end}}>ACEScg</option>
								<option value="ACES2065-1" {{if eq .Project.LutInColorspace "ACES2065-1"}}selected{{end}}>ACES2065-1</option>
							</select>
						</div>
						<div class="col">
							<small class="form-text text-muted">LUT OUT Colorspace</small>
							<select name="LutOutColorspace" class="form-control">
								<option value="linear" {{if eq .Project.LutOutColorspace "linear"}}selected{{end}}>linear</option>
								<option value="sRGB" {{if eq .Project.LutOutColorspace "sRGB"}}selected{{end}}>sRGB</option>
								<option value="rec709" {{if eq .Project.LutOutColorspace "rec709"}}selected{{end}}>rec709</option>
								<option value="Cineon" {{if eq .Project.LutOutColorspace "Cineon"}}selected{{end}}>Cineon</option>
								<option value="AlexaV3LogC" {{if eq .Project.LutOutColorspace "AlexaV3LogC"}}selected{{end}}>AlexaV3LogC</option>
								<option value="REDLog" {{if eq .Project.LutOutColorspace "REDLog"}}selected{{end}}>REDLog</option>
								<option value="Gamma2.2" {{if eq .Project.LutOutColorspace "Gamma2.2"}}selected{{end}}>Gamma2.2</option>
								<option value="ACEScg" {{if eq .Project.LutOutColorspace "ACEScg"}}selected{{end}}>ACEScg</option>
								<option value="ACES2065-1" {{if eq .Project.LutOutColorspace "ACES2065-1"}}selected{{end}}>ACES2065-1</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group pt-3">
					<label>아웃풋 MOV 셋팅</label>
					<div class="row">
						<div class="col-3">
							<small class="form-text text-muted">Width</small>
							<input type="text" name="OutputMov.Width" class="form-control" placeholder="Width" value={{.Project.OutputMov.Width}}>
						</div>
						<div class="col-3">
							<small class="form-text text-muted">Height</small>
							<input type="text" name="OutputMov.Height" class="form-control" placeholder="Height" value={{.Project.OutputMov.Height}}>
						</div>
						<div class="col-6">
							<small class="form-text text-muted">Codec</small>
							<select name="OutputMov.Codec" class="form-control">
								<option value="Apple_Prores_422HQ" {{if eq .Project.OutputMov.Codec "Apple_Prores_422HQ"}}selected{{end}}>Apple_Prores_422HQ</option>
								<option value="Apple_Prores_4444" {{if eq .Project.OutputMov.Codec "Apple_Prores_4444"}}selected{{end}}>Apple_Prores_4444</option>
								<option value="Apple_Prores_422" {{if eq .Project.OutputMov.Codec "Apple_Prores_422"}}selected{{end}}>Apple_Prores_422</option>
								<option value="Apple_Prores_422LT" {{if eq .Project.OutputMov.Codec "Apple_Prores_422LT"}}selected{{end}}>Apple_Prores_422LT</option>
								<option value="Apple_Prores_422Proxy" {{if eq .Project.OutputMov.Codec "Apple_Prores_422Proxy"}}selected{{end}}>Apple_Prores_422Proxy</option>
								<option value="H.264" {{if eq .Project.OutputMov.Codec "H.264"}}selected{{end}}>H.264</option>
								<option value="Avid_DNxHD_Codec" {{if eq .Project.OutputMov.Codec "Avid_DNxHD_Codec"}}selected{{end}}>Avid_DNxHD_Codec</option>
							</select>
						</div>
					</div>
				
					<div class="row">
						<div class="col">
							<small class="form-text text-muted">Fps</small>
							<select name="OutputMov.Fps" class="form-control">
								<option value="0" {{if eq .Project.OutputMov.Fps 0.0}}selected{{end}}>unknown</option>
								<option value="23.98" {{if eq .Project.OutputMov.Fps 23.98}}selected{{end}}>23.98</option>
								<option value="24" {{if eq .Project.OutputMov.Fps 24.0}}selected{{end}}>24</option>
								<option value="25" {{if eq .Project.OutputMov.Fps 25.0}}selected{{end}}>25</option>
								<option value="29.97" {{if eq .Project.OutputMov.Fps 29.97}}selected{{end}}>29.97</option>
								<option value="30" {{if eq .Project.OutputMov.Fps 30.0}}selected{{end}}>30</option>
								<option value="59.94" {{if eq .Project.OutputMov.Fps 59.94}}selected{{end}}>59.94</option>
								<option value="60" {{if eq .Project.OutputMov.Fps 60.0}}selected{{end}}>60</option>
							</select>
						</div>
						<div class="col">
							<small class="form-text text-muted">InColorspace</small>
							<select name="OutputMov.InColorspace" class="form-control">
								<option value="linear" {{if eq .Project.OutputMov.InColorspace "linear"}}selected{{end}}>linear</option>
								<option value="sRGB" {{if eq .Project.OutputMov.InColorspace "sRGB"}}selected{{end}}>sRGB</option>
								<option value="rec709" {{if eq .Project.OutputMov.InColorspace "rec709"}}selected{{end}}>rec709</option>
								<option value="Cineon" {{if eq .Project.OutputMov.InColorspace "Cineon"}}selected{{end}}>Cineon</option>
								<option value="AlexaV3LogC" {{if eq .Project.OutputMov.InColorspace "AlexaV3LogC"}}selected{{end}}>AlexaV3LogC</option>
								<option value="REDLog" {{if eq .Project.OutputMov.InColorspace "REDLog"}}selected{{end}}>REDLog</option>
								<option value="Gamma2.2" {{if eq .Project.OutputMov.InColorspace "Gamma2.2"}}selected{{end}}>Gamma2.2</option>
								<option value="ACEScg" {{if eq .Project.OutputMov.InColorspace "ACEScg"}}selected{{end}}>ACEScg</option>
								<option value="ACES2065-1" {{if eq .Project.OutputMov.InColorspace "ACES2065-1"}}selected{{end}}>ACES2065-1</option>
								<option value="default" {{if eq .Project.OutputMov.InColorspace "" "default"}}selected{{end}}>default</option>
							</select>
						</div>
						<div class="col">
							<small class="form-text text-muted">OutColorspace</small>
							<select name="OutputMov.OutColorspace" class="form-control">
								<option value="linear" {{if eq .Project.OutputMov.OutColorspace "linear"}}selected{{end}}>linear</option>
								<option value="sRGB" {{if eq .Project.OutputMov.OutColorspace "sRGB"}}selected{{end}}>sRGB</option>
								<option value="rec709" {{if eq .Project.OutputMov.OutColorspace "rec709"}}selected{{end}}>rec709</option>
								<option value="Cineon" {{if eq .Project.OutputMov.OutColorspace "Cineon"}}selected{{end}}>Cineon</option>
								<option value="AlexaV3LogC" {{if eq .Project.OutputMov.OutColorspace "AlexaV3LogC"}}selected{{end}}>AlexaV3LogC</option>
								<option value="REDLog" {{if eq .Project.OutputMov.OutColorspace "REDLog"}}selected{{end}}>REDLog</option>
								<option value="Gamma2.2" {{if eq .Project.OutputMov.OutColorspace "Gamma2.2"}}selected{{end}}>Gamma2.2</option>
								<option value="ACEScg" {{if eq .Project.OutputMov.OutColorspace "ACEScg"}}selected{{end}}>ACEScg</option>
								<option value="ACES2065-1" {{if eq .Project.OutputMov.OutColorspace "ACES2065-1"}}selected{{end}}>ACES2065-1</option>
								<option value="Output-Rec.709" {{if eq .Project.OutputMov.OutColorspace "Output-Rec.709"}}selected{{end}}>Output-Rec.709(ACES)</option>
								<option value="default" {{if eq .Project.OutputMov.OutColorspace "" "default"}}selected{{end}}>default</option>
							</select>
						</div>
					</div>
				</div>

				<div class="form-group pt-3">
					<label>편집실 MOV 셋팅</label>
					<div class="row">
						<div class="col-3">
							<small class="form-text text-muted">Width</small>
							<input type="text" name="EditMov.Width" class="form-control" placeholder="Width" value={{.Project.EditMov.Width}}>
						</div>
						<div class="col-3">
							<small class="form-text text-muted">Height</small>
							<input type="text" name="EditMov.Height" class="form-control" placeholder="Height" value={{.Project.EditMov.Height}}>
						</div>
						<div class="col-6">
							<small class="form-text text-muted">Codec</small>
							<select name="EditMov.Codec" class="form-control">
								<option value="Apple_Prores_422HQ" {{if eq .Project.EditMov.Codec "Apple_Prores_422HQ"}}selected{{end}}>Apple_Prores_422HQ</option>
								<option value="Apple_Prores_4444" {{if eq .Project.EditMov.Codec "Apple_Prores_4444"}}selected{{end}}>Apple_Prores_4444</option>
								<option value="Apple_Prores_422" {{if eq .Project.EditMov.Codec "Apple_Prores_422"}}selected{{end}}>Apple_Prores_422</option>
								<option value="Apple_Prores_422LT" {{if eq .Project.EditMov.Codec "Apple_Prores_422LT"}}selected{{end}}>Apple_Prores_422LT</option>
								<option value="Apple_Prores_422Proxy" {{if eq .Project.EditMov.Codec "Apple_Prores_422Proxy"}}selected{{end}}>Apple_Prores_422Proxy</option>
								<option value="H.264" {{if eq .Project.EditMov.Codec "H.264"}}selected{{end}}>H.264</option>
								<option value="Avid_DNxHD_Codec" {{if eq .Project.EditMov.Codec "Avid_DNxHD_Codec"}}selected{{end}}>Avid_DNxHD_Codec</option>
								<option value="" {{if eq .Project.EditMov.Codec ""}}selected{{end}}>unknown</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<small class="form-text text-muted">Fps</small>
							<select name="EditMov.Fps" class="form-control">
								<option value="0" {{if eq .Project.EditMov.Fps 0.0}}selected{{end}}>unknown</option>
								<option value="23.98" {{if eq .Project.EditMov.Fps 23.98}}selected{{end}}>23.98</option>
								<option value="24" {{if eq .Project.EditMov.Fps 24.0}}selected{{end}}>24</option>
								<option value="25" {{if eq .Project.EditMov.Fps 25.0}}selected{{end}}>25</option>
								<option value="29.97" {{if eq .Project.EditMov.Fps 29.97}}selected{{end}}>29.97</option>
								<option value="30" {{if eq .Project.EditMov.Fps 30.0}}selected{{end}}>30</option>
								<option value="59.94" {{if eq .Project.OutputMov.Fps 59.94}}selected{{end}}>59.94</option>
								<option value="60" {{if eq .Project.EditMov.Fps 60.0}}selected{{end}}>60</option>
							</select>
						</div>
						<div class="col">
							<small class="form-text text-muted">InColorspace</small>
							<select name="EditMov.InColorspace" class="form-control">
								<option value="linear" {{if eq .Project.EditMov.InColorspace "linear"}}selected{{end}}>linear</option>
								<option value="sRGB" {{if eq .Project.EditMov.InColorspace "sRGB"}}selected{{end}}>sRGB</option>
								<option value="rec709" {{if eq .Project.EditMov.InColorspace "rec709"}}selected{{end}}>rec709</option>
								<option value="Cineon" {{if eq .Project.EditMov.InColorspace "Cineon"}}selected{{end}}>Cineon</option>
								<option value="AlexaV3LogC" {{if eq .Project.EditMov.InColorspace "AlexaV3LogC"}}selected{{end}}>AlexaV3LogC</option>
								<option value="REDLog" {{if eq .Project.EditMov.InColorspace "REDLog"}}selected{{end}}>REDLog</option>
								<option value="Gamma2.2" {{if eq .Project.EditMov.InColorspace "Gamma2.2"}}selected{{end}}>Gamma2.2</option>
								<option value="ACEScg" {{if eq .Project.EditMov.InColorspace "ACEScg"}}selected{{end}}>ACEScg</option>
								<option value="ACES2065-1" {{if eq .Project.EditMov.InColorspace "ACES2065-1"}}selected{{end}}>ACES2065-1</option>
								<option value="default" {{if eq .Project.EditMov.InColorspace "" "default"}}selected{{end}}>default</option>
							</select>
						</div>
						<div class="col">
							<small class="form-text text-muted">OutColorspace</small>
							<select name="EditMov.OutColorspace" class="form-control">
								<option value="linear" {{if eq .Project.EditMov.OutColorspace "linear"}}selected{{end}}>linear</option>
								<option value="sRGB" {{if eq .Project.EditMov.OutColorspace "sRGB"}}selected{{end}}>sRGB</option>
								<option value="rec709" {{if eq .Project.EditMov.OutColorspace "rec709"}}selected{{end}}>rec709</option>
								<option value="Cineon" {{if eq .Project.EditMov.OutColorspace "Cineon"}}selected{{end}}>Cineon</option>
								<option value="AlexaV3LogC" {{if eq .Project.EditMov.OutColorspace "AlexaV3LogC"}}selected{{end}}>AlexaV3LogC</option>
								<option value="REDLog" {{if eq .Project.EditMov.OutColorspace "REDLog"}}selected{{end}}>REDLog</option>
								<option value="Gamma2.2" {{if eq .Project.EditMov.OutColorspace "Gamma2.2"}}selected{{end}}>Gamma2.2</option>
								<option value="ACEScg" {{if eq .Project.EditMov.OutColorspace "ACEScg"}}selected{{end}}>ACEScg</option>
								<option value="ACES2065-1" {{if eq .Project.EditMov.OutColorspace "ACES2065-1"}}selected{{end}}>ACES2065-1</option>
								<option value="Output-Rec.709" {{if eq .Project.EditMov.OutColorspace "Output-Rec.709"}}selected{{end}}>Output-Rec.709(ACES)</option>
								<option value="default" {{if eq .Project.EditMov.OutColorspace "" "default"}}selected{{end}}>default</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group pt-2">
					<label>설명 / Description</label>
					<input type="text" name="Description" class="form-control" placeholder="Description" value={{.Project.Description}}>
				</div>
				
				
			</div>
			<!--4번째열-->
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="form-group">
					<label>Nuke 셋팅</label>
					<small class="form-text text-muted">프로젝트에 사용하는 슬레이트 기즈모 ex) slate_default</small>
					<input type="text" name="NukeGizmo" class="form-control" placeholder="gizmo name" value={{.Project.NukeGizmo}}>
				</div>
				<div class="form-group pt-1">
					<label>Maya 셋팅</label>
					<small class="form-text text-muted">마야 뷰포트 크롭마스크 플러그인 해상도 ex) 1920x1080, 2048x1152 ...</small>
					<input type="text" name="MayaCropMaskSize" class="form-control" placeholder="maya cropmask size" value="{{.Project.MayaCropMaskSize}}" onkeyup="star2mult(event)">
				</div>
				<div class="form-group pt-1">
					<label>FX 셋팅</label>
					<small class="form-text text-muted">프로젝트에서 자주 사용하는 FX팀 후디니 테스크. ex) fire, water, splash ...</small>
					<input type="text" name="FxElement" class="form-control" placeholder="maya cropmask size" value="{{.Project.FxElement}}">
					<small class="form-text text-muted">Houdini Import Scale. 기본값 0.1</small>
					<input type="text" name="HoudiniImportScale" class="form-control" placeholder="Houdini Import Scale" value="{{.Project.HoudiniImportScale}}">
				</div>
				<div class="form-group pt-1">
					<label>ScreenX 셋팅</label>
					<div class="form-check">
						<input type="checkbox" id="Screenx" name="Screenx" class="form-check-input" value="true" {{if eq .Project.Screenx true}}checked{{end}} onchange="checkScreenx(event)">
						<label class="form-check-label" for="Screenx">ScreenX 여부</label>
					</div>
					<small class="form-text text-muted">ScreenX의 카메라 Overlay값. 기본값 1.0</small>
					<input type="text" id='screenxoverlay' name="ScreenxOverlay" class="form-control" placeholder="ScreenX Overlay" value="{{.Project.ScreenxOverlay}}" {{if eq .Project.Screenx false}}readOnly{{end}}>
				</div>
				<div class="form-group pt-1">
					<hr>
					<a href="/cmd?funcname=rmoverlaponsetnote&project={{.Project.ID}}" class="btn btn-warning">작업내용 중복값 제거</a>
				</div>
			</div>
		</div>
		<div class="text-center">
			<button type="submit" class="btn btn-primary">UPDATE</button>
		</div>
	</form>
</div>



{{template "footerBootstrap"}}
</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
</html>
{{end}}
