{{define "editpublishkey" }}
{{template "headBootstrap"}}
{{template "navbar" .}}
<body>

<div class="container p-5">
    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
        <form action="/editpublishkey-submit" method="POST">
        <div class="pt-3 pb-5">
            <h2 class="section-heading">Edit Publish Key: {{.PublishKey.ID}}</h2>
            <input type="hidden" name="id" class="form-control" placeholder="publish key" value="{{.PublishKey.ID}}">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" name="description" class="form-control" placeholder="설명" value="{{.PublishKey.Description}}">
            <small class="form-text text-muted">PublishKey 의 간략한 설명</small>
        </div>
        
        <div class="text-center">
            <button type="submit" class="btn btn-outline-danger mt-5">Edit Publish Key</button>
        </div>
        </form>
    </div>
</div>

{{template "footerBootstrap"}}
</body>
<script src="/assets/js/jscolor.js"></script>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
</html>
{{end}}

