{{define "edittasksetting" }}
{{template "headBootstrap5"}}
{{template "navbar-bootstrap5" .}}
<body>

<div class="container p-5">
    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
        <form action="/edittasksetting-submit" method="POST">
        <div class="pt-3 pb-5">
            <h2 class="section-heading">Edit Task Setting - {{.Tasksetting.Name}}({{.Tasksetting.Type}})</h2>
        </div>
        <input type="hidden" name="id" value={{.Tasksetting.ID}}>
        <div class="form-group">
            <label>Linux Path</label>
            <input type="text" name="linuxpath" class="form-control" placeholder="/show/&#123;&#123;.Project&#125;&#125;/seq/&#123;&#123;.Seq&#125;&#125;/&#123;&#123;.Seq&#125;&#125;_&#123;&#123;.Cut&#125;&#125;" value={{.Tasksetting.LinuxPath}}>
            <small class="form-text text-muted">dilink 클릭시 열리는 경로.</small>
        </div>
        <div class="form-group">
            <label>macOS Path</label>
            <input type="text" name="macospath" class="form-control" placeholder="/show/&#123;&#123;.Project&#125;&#125;/seq/&#123;&#123;.Seq&#125;&#125;/&#123;&#123;.Seq&#125;&#125;_&#123;&#123;.Cut&#125;&#125;" value={{.Tasksetting.MacOSPath}}>
            <small class="form-text text-muted">dilink 클릭시 열리는 경로.</small>
        </div>
        <div class="form-group">
            <label>Window Path</label>
            <input type="text" name="windowpath" class="form-control" placeholder="//10.0.1.2/show/&#123;&#123;.Project&#125;&#125;/seq/&#123;&#123;.Seq&#125;&#125;/&#123;&#123;.Seq&#125;&#125;_&#123;&#123;.Cut&#125;&#125;" value={{.Tasksetting.WindowPath}}>
            <small class="form-text text-muted">dilink 클릭시 열리는 경로.</small>
        </div>
        <div class="form-group">
            <label>WFS Path</label>
            <input type="text" name="wfspath" class="form-control" placeholder="//10.0.1.2/show/&#123;&#123;.Project&#125;&#125;/seq/&#123;&#123;.Seq&#125;&#125;/&#123;&#123;.Seq&#125;&#125;_&#123;&#123;.Cut&#125;&#125;" value={{.Tasksetting.WFSPath}}>
            <small class="form-text text-muted">wfs 클릭시 열리는 경로.</small>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Task Order</label>
                    <input type="number" name="order" step="0.01" class="form-control" placeholder="0.1" value={{.Tasksetting.Order}}>
                    <small class="form-text text-muted">Task 정렬시 사용되는 값. 낮을수록 위쪽</small>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Excel Order</label>
                    <input type="number" name="excelorder" step="0.01" class="form-control" placeholder="0.1" value={{.Tasksetting.ExcelOrder}}>
                    <small class="form-text text-muted">Excel 출력시 Task 정렬 값. 낮을수록 앞쪽</small>
                </div>
            </div>
        </div>
        
        
        <div class="form-group">
            <label>Pipelinestep</label>
            <select class="form-control" id="pipelinestep" name="pipelinestep">
                {{if .Tasksetting.Pipelinestep}}
                    <option value="{{.Tasksetting.Pipelinestep}}" selected>{{.Tasksetting.Pipelinestep}}</option>
                {{end}}
            </select>
            <small class="form-text text-muted">Pipelinestep을 설정합니다.</small>
        </div>
        <div class="form-group">
            <label>Category</label>
            <input type="text" name="category" class="form-control" placeholder="fx" value={{.Tasksetting.Category}}>
            <small class="form-text text-muted">Task 카테고리를 지정합니다. 예) smoke,fire..->FX</small>
        </div>
        <div class="form-check">
            <input type="checkbox" id="initgenerate" name="initgenerate" class="form-check-input" value="true"{{if .Tasksetting.InitGenerate}} checked{{end}}>
            <label class="form-check-label" for="initgenerate">Item 생성시 이 Task를 자동생성 합니다.</label>
        </div>

        <div class="form-group pt-5">
            <label>경로 설정에 사용할 수 있는 변수</label><br>
            <small class="form-text text-muted">&#123;&#123;.Project&#125;&#125;: 프로젝트 코드</small><br>
            <small class="form-text text-muted">&#123;&#123;.Task&#125;&#125;: 태스크</small><br>
            <small class="form-text text-muted">&#123;&#123;.Name&#125;&#125;: 샷이름(SS_0010), 에셋이름</small><br>
            <small class="form-text text-muted">&#123;&#123;.Seq&#125;&#125;: 시퀀스 SS</small><br>
            <small class="form-text text-muted">&#123;&#123;.Cut&#125;&#125;: 컷 0010</small><br>
            <small class="form-text text-muted">&#123;&#123;.Type&#125;&#125;: 타입: shot, asset</small><br>
            <small class="form-text text-muted">&#123;&#123;.Assettype&#125;&#125;: 에셋타입</small><br>
        </div>
        
        <div class="text-center">
            <button type="submit" class="btn btn-outline-warning mt-5">Update Task</button>
        </div>
        </form>
    </div>
</div>

{{template "footerBootstrap"}}
</body>
<script src="/assets/bootstrap-5.0.2/js/bootstrap.min.js"></script>
<script>
    // Pipelinestep 옵션을 설정한다.
    fetch('/api/pipelinesteps', {
        method: 'GET',
        headers: {"Authorization": "Basic "+ document.getElementById("token").value},
    })
    .then((response) => {
        if (!response.ok) {
            response.text().then(function (text) {
                alert(text)
                return
            });
        }
        return response.json()
    })
    .then((obj) => {
        select = document.getElementById('pipelinestep');
        for (let i = 0; obj.length; i++){
            if (select.value !== obj[i].name) {
                var opt = document.createElement('option');
                opt.value = obj[i].name;
                opt.innerHTML = obj[i].name;
                select.appendChild(opt);
            }
        }
        console.log(obj)
    })
    .catch((err) => {
        console.log(err)
    });

    // 현재 Task의 Pipelinestep을 선택한다.
</script>
</html>
{{end}}

