{{define "edititem" }}
{{template "headBootstrap"}}
{{template "navbar" .}}

<div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
	<div class="text-center py-3 bg-{{Status2string .Item.Status}}">
		<span class="text-dark">{{.Project.ID}}</span>
		<span class="text-dark">{{.Item.Name}}({{.Item.Type}})</span>
		<span class="text-dark">{{.Item.Status|Status2capString}}</span>
	</div>
			
<form action="/edititem-submit" method="POST" enctype="multipart/form-data">
<input type="hidden" name="project" value={{.Project.ID}}>
<input type="hidden" name="slug" value={{.Item.Slug}}>
<!--프로젝트, 아이템 정보-->


<!--input form 정보-->
	<div class="form-group">
		<label>현장툴 Rollmedia</label>
		<input type="text" maxlength="13" name="Rollmedia" value="{{.Item.Rollmedia}}" class="form-control">
		<small class="form-text text-muted">Setellite에서 사용한 Rollmedia를 입력해주세요.</small>
	</div>
	<div class="form-group">
		<label>Thumbnail 이미지 변경</label>
		<input type="file" name="Thumbnail" class="form-control">
		<small class="form-text text-muted">Thumbnail 이미지를 업데이트 합니다.</small>
	</div>
	<div class="form-group">
		<label>Thumbnail MOV</label>
		<input type="text" size="55" maxlength="256" name="thummov" value="{{.Item.Thummov}}" class="form-control">
		<small class="form-text text-muted">Thumbnail MOV를 업데이트 합니다.</small>
	</div>
	{{if eq .Item.Type "org" "left"}}
		<div class="form-group">
			<label>앞쪽 연결 MOV</label>
			<input type="text" size="55" maxlength="256" name="Beforemov" value="{{.Item.Beforemov}}" class="form-control">
			<small class="form-text text-muted">Thumbnail MOV 앞쪽에 플레이될 mov 설정.</small>
		</div>
		<div class="form-group">
			<label>뒤쪽 연결 MOV</label>
			<input type="text" size="55" maxlength="256" name="Aftermov" value="{{.Item.Aftermov}}" class="form-control">
			<small class="form-text text-muted">Thumbnail MOV 뒷쪽에 플레이될 mov 설정.</small>
		</div>
		<div class="form-group">
			<label>OCIOcc</label>
			<input type="text" size="55" name="OCIOcc" value="{{.Item.OCIOcc}}" class="form-control">
			<small class="form-text text-muted">뉴트럴 그레이드에 사용하는 OCIO .cc 파일을 설정합니다.</small>
		</div>
		<div class="form-group">
			<label>리타임 플레이트 위치</label>
			<input type="text" size="55" maxlength="256" name="retimeplate" value="{{.Item.Retimeplate}}" class="form-control">
			<small class="form-text text-muted">리타임된 플레이트 경로를 설정합니다.</small>
		</div>
	{{end}}
	{{if eq .Item.Type "asset"}}
		<div class="form-group">
			<label>에셋태그</label>
			<input type="text" size="55" name="Assettags" value="{{.Item.Assettags|Tags2str}}" class="form-control">
			<small class="form-text text-muted">에셋태그를 설정합니다. 예) assembly, component, type, parent</small>
		</div>
	{{end}}
	{{if eq .Item.Type "org" "left"}}
		<div class="form-group">
			<label>플레이트사이즈</label>
			<input type="text" id="platesize" size="10" maxlength="13" name="Platesize" value="{{.Item.Platesize}}" onkeyup="widthxHeight(event)" placeholder="숫자x숫자" class="form-control">
			<small class="form-text text-warning">※ 아티스트는 건드리지 마세요!</small>
		</div>
		<div class="form-group">
			<label>언디스토션사이즈</label>
			<input type="text" id="undistort" size="10" maxlength="13" name="Dsize" value="{{.Item.Dsize}}" onkeyup="widthxHeight(event)" placeholder="숫자x숫자" class="form-control">
			<small class="form-text text-mute">매치무브 작업자가 설정합니다.</small>
		</div>
		<div class="form-group">
			<label>렌더사이즈</label>
			<input type="text" size="10" maxlength="13" name="Rendersize" value="{{.Item.Rendersize}}" onkeyup="widthxHeight(event)" placeholder="숫자x숫자" class="form-control">
			<small class="form-text text-mute">렌즈왜곡사이즈와 렌더사이즈가 다를때 사용합니다. 예) 5k플레이트로 프로젝션하고 2K카메라로 프로젝션 화면 설정시</small>
		</div>
	{{end}}
	{{if eq .Item.Type "org" "left"}}
		<div class="form-group">
			<label>Camera Publish Task</label>
			<select name="ProductionCamPubTask" class="form-control">
				<option value="" {{if eq .Item.ProductionCam.PubTask "" }}selected{{end}}>none</option>
				<option value="mm" {{if eq .Item.ProductionCam.PubTask "mm" }}selected{{end}}>mm</option>
				<option value="layout" {{if eq .Item.ProductionCam.PubTask "layout" }}selected{{end}}>layout</option>
				<option value="ani" {{if eq .Item.ProductionCam.PubTask "ani" }}selected{{end}}>ani</option>
			</select>
			<small class="form-text text-mute">카메라를 Publish 하는 팀을 설정합니다.</small>
		</div>
		<div class="form-group">
			<label>카메라 퍼블리쉬 경로</label>
			<input type="text" size="55" name="ProductionCamPubPath" value="{{.Item.ProductionCam.PubPath}}" class="form-control">
			<small class="form-text text-muted">카메라 퍼블리쉬 경로를 설정합니다.</small>
		</div>
		<div class="form-check">
			<input type="checkbox" id="ProductionCamProjection" name="ProductionCamProjection" class="form-check-input" value="true" {{if .Item.ProductionCam.Projection}}checked{{end}}>
			<label class="form-check-label" for="ProductionCamProjection">프로젝션 카메라를 이용하는 샷 입니까?</label>
		</div>
	{{end}}
	<div class="editTable">
		<div class="body">
			<div class="row">
				<div class="cellRight">ObjectID 사용범위(Katana) : </div>
				<div class="cell"><input type="text" size="5" maxlength="5" name="ObjectidIn" value="{{.Item.ObjectidIn}}">~<input type="text" size="5" maxlength="5" name="ObjectidOut" value="{{.Item.ObjectidOut}}">&nbsp;※ 카타나 라이팅팀에서 입력함. </div>
			</div>
			<div class="rowTitle"><div class="cell">스케줄</div><div class="cellRightTitle"></div></div>
			<hr>
			<div class="row">
				<div class="cell center">
<!--스케줄 영역-->
<table class="editSchedule">
	<!--스케줄 Header1-->
	<tr class="editteam"><td>CONCEPT</td><td>MODEL</td><td>MM</td><td>LAYOUT</td><td>ANI</td><td>FX</td><td>MG</td><td><input type="text" size="7" name="Temp1Title" value="{{.Item.Temp1.Title}}"></td></tr>
	<!--스케줄1-->
	<tr class="editteamform">
		<td>
		Note:<textarea class="userNote" name="ConceptUserNote">{{.Item.Concept.UserNote}}</textarea><br>
		start:<input type="text" size="20" class="DatePicker" maxlength="25" name="ConceptStartdate" value="{{.Item.Concept.Startdate}}"><br>
		due:<input type="text" size="20" maxlength="25" name="ConceptDue" value="{{.Item.Concept.Due}}"><br>
		mov:<input type="text" size="20" maxlength="250" name="ConceptMov" value="{{.Item.Concept.Mov}}" ondrop="rmFileProtocol(event)"></td>

		<td>
		Note:<textarea class="userNote" name="ModelUserNote">{{.Item.Model.UserNote}}</textarea><br>
		start:<input type="text" size="20" class="DatePicker" maxlength="25" name="ModelStartdate" value="{{.Item.Model.Startdate}}"><br>
		due:<input type="text" size="20" maxlength="25" name="ModelDue" value="{{.Item.Model.Due}}"><br>
		mov:<input type="text" size="20" maxlength="250" name="ModelMov" value="{{.Item.Model.Mov}}" ondrop="rmFileProtocol(event)"></td>

		<td>
			Note:<textarea class="userNote" name="MmUserNote">{{.Item.Mm.UserNote}}</textarea><br>
		start:<input type="text" size="20" class="DatePicker" maxlength="25" name="MmStartdate" value="{{.Item.Mm.Startdate}}"><br>
		due:<input type="text" size="20" maxlength="25" name="MmDue" value="{{.Item.Mm.Due}}"><br>
		mov:<input type="text" size="20" maxlength="250" name="MmMov" value="{{.Item.Mm.Mov}}" ondrop="rmFileProtocol(event)"></td>

		<td>
			Note:<textarea class="userNote" name="LayoutUserNote">{{.Item.Layout.UserNote}}</textarea><br>
		start:<input type="text" size="20" class="DatePicker" maxlength="25" name="LayoutStartdate" value="{{.Item.Layout.Startdate}}"><br>
		due:<input type="text" size="20" maxlength="25" name="LayoutDue" value="{{.Item.Layout.Due}}"><br>
		mov:<input type="text" size="20" maxlength="250" name="LayoutMov" value="{{.Item.Layout.Mov}}" ondrop="rmFileProtocol(event)"></td>


		<td>
			Note:<textarea class="userNote" name="AniUserNote">{{.Item.Ani.UserNote}}</textarea><br>
		start:<input type="text" size="20" class="DatePicker" maxlength="25" name="AniStartdate" value="{{.Item.Ani.Startdate}}"><br>
		due:<input type="text" size="20" maxlength="25" name="AniDue" value="{{.Item.Ani.Due}}"><br>
		mov:<input type="text" size="20" maxlength="250" name="AniMov" value="{{.Item.Ani.Mov}}" ondrop="rmFileProtocol(event)"></td>

		<td>
			Note:<textarea class="userNote" name="FxUserNote">{{.Item.Fx.UserNote}}</textarea><br>
		start:<input type="text" size="20" class="DatePicker" maxlength="25" name="FxStartdate" value="{{.Item.Fx.Startdate}}"><br>
		due:<input type="text" size="20" maxlength="25" name="FxDue" value="{{.Item.Fx.Due}}"><br>
		mov:<input type="text" size="20" maxlength="250" name="FxMov" value="{{.Item.Fx.Mov}}" ondrop="rmFileProtocol(event)"></td>

		<td>
			Note:<textarea class="userNote" name="MgUserNote">{{.Item.Mg.UserNote}}</textarea><br>
		start:<input type="text" size="20" class="DatePicker" maxlength="25" name="MgStartdate" value="{{.Item.Mg.Startdate}}"><br>
		due:<input type="text" size="20" maxlength="25" name="MgDue" value="{{.Item.Mg.Due}}"><br>
		mov:<input type="text" size="20" maxlength="250" name="MgMov" value="{{.Item.Mg.Mov}}" ondrop="rmFileProtocol(event)"></td>

		<td>
			Note:<textarea class="userNote" name="Temp1UserNote">{{.Item.Temp1.UserNote}}</textarea><br>
		start:<input type="text" size="20" class="DatePicker" maxlength="25" name="Temp1Startdate" value="{{.Item.Temp1.Startdate}}"><br>
		due:<input type="text" size="20" maxlength="25" name="Temp1Due" value="{{.Item.Temp1.Due}}"><br>
		mov:<input type="text" size="20" maxlength="250" name="Temp1Mov" value="{{.Item.Temp1.Mov}}" ondrop="rmFileProtocol(event)"></td>
	</tr>
	<!--스케줄 Header2-->
	<tr class="editteam">
	{{if eq .Item.Type "asset"}}
		<td>PREVIZ</td><td>FURSIM</td><td>RIG</td><td>CROWD</td><td>LOOKDEV</td><td>COMP</td><td>MATTE</td><td>ENV</td>
	{{else}}
		<td>PREVIZ</td><td>FUR</td><td>SIM</td><td>CROWD</td><td>LIGHT</td><td>COMP</td><td>MATTE</td><td>ENV</td>
	{{end}}
	</tr>
	<!--스케줄2-->
	<tr class="editteamform">
		<td>
			Note:<textarea class="userNote" name="PrevizUserNote">{{.Item.Previz.UserNote}}</textarea><br>
		start:<input type="text" size="20" class="DatePicker" maxlength="25" name="PrevizStartdate" value="{{.Item.Previz.Startdate}}"><br>
		due:<input type="text" size="20" maxlength="25" name="PrevizDue" value="{{.Item.Previz.Due}}"><br>
		mov:<input type="text" size="20" maxlength="250" name="PrevizMov" value="{{.Item.Previz.Mov}}" ondrop="rmFileProtocol(event)"></td>

		<td>
			Note:<textarea class="userNote" name="FurUserNote">{{.Item.Fur.UserNote}}</textarea><br>
		start:<input type="text" size="20" class="DatePicker" maxlength="25" name="FurStartdate" value={{.Item.Fur.Startdate}}><br>
		due:<input type="text" size="20" maxlength="25" name="FurDue" value="{{.Item.Fur.Due}}"><br>
		mov:<input type="text" size="20" maxlength="250" name="FurMov" value="{{.Item.Fur.Mov}}" ondrop="rmFileProtocol(event)"></td>

		<td>
			Note:<textarea class="userNote" name="SimUserNote">{{.Item.Sim.UserNote}}</textarea><br>
		start:<input type="text" size="20" class="DatePicker" maxlength="25" name="SimStartdate" value="{{.Item.Sim.Startdate}}"><br>
		due:<input type="text" size="20" maxlength="25" name="SimDue" value="{{.Item.Sim.Due}}"><br>
		mov:<input type="text" size="20" maxlength="250" name="SimMov" value="{{.Item.Sim.Mov}}" ondrop="rmFileProtocol(event)"></td>

		<td>
			Note:<textarea class="userNote" name="CrowdUserNote">{{.Item.Crowd.UserNote}}</textarea><br>
		start:<input type="text" size="20" class="DatePicker" maxlength="25" name="CrowdStartdate" value="{{.Item.Crowd.Startdate}}"><br>
		due:<input type="text" size="20" maxlength="25" name="CrowdDue" value="{{.Item.Crowd.Due}}"><br>
		mov:<input type="text" size="20" maxlength="250" name="CrowdMov" value="{{.Item.Crowd.Mov}}" ondrop="rmFileProtocol(event)"></td>

		<td>
			Note:<textarea class="userNote" name="LightUserNote">{{.Item.Light.UserNote}}</textarea><br>
		start:<input type="text" size="20" class="DatePicker" maxlength="25" name="LightStartdate" value="{{.Item.Light.Startdate}}"><br>
		due:<input type="text" size="20" maxlength="25" name="LightDue" value="{{.Item.Light.Due}}"><br>
		mov:<input type="text" size="20" maxlength="250" name="LightMov" value="{{.Item.Light.Mov}}" ondrop="rmFileProtocol(event)"></td>

		<td>
			Note:<textarea class="userNote" name="CompUserNote">{{.Item.Comp.UserNote}}</textarea><br>
		start:<input type="text" size="20" class="DatePicker" maxlength="25" name="CompStartdate" value="{{.Item.Comp.Startdate}}"><br>
		due:<input type="text" size="20" maxlength="25" name="CompDue" value="{{.Item.Comp.Due}}"><br>
		mov:<input type="text" size="20" maxlength="250" name="CompMov" value="{{.Item.Comp.Mov}}" ondrop="rmFileProtocol(event)"></td>

		<td>
			Note:<textarea class="userNote" name="MatteUserNote">{{.Item.Matte.UserNote}}</textarea><br>
		start:<input type="text" size="20" class="DatePicker" maxlength="25" name="MatteStartdate" value="{{.Item.Matte.Startdate}}"><br>
		due:<input type="text" size="20" maxlength="25" name="MatteDue" value="{{.Item.Matte.Due}}"><br>
		mov:<input type="text" size="20" maxlength="250" name="MatteMov" value="{{.Item.Matte.Mov}}" ondrop="rmFileProtocol(event)"></td>

		<td>
			Note:<textarea class="userNote" name="EnvUserNote">{{.Item.Env.UserNote}}</textarea><br>
		start:<input type="text" size="20" class="DatePicker" maxlength="25" name="EnvStartdate" value="{{.Item.Env.Startdate}}"><br>
		due:<input type="text" size="20" maxlength="25" name="EnvDue" value="{{.Item.Env.Due}}"><br>
		mov:<input type="text" size="20" maxlength="250" name="EnvMov" value="{{.Item.Env.Mov}}" ondrop="rmFileProtocol(event)"></td>
	</tr>
</table>
<!--스케줄 영역 끝-->
			</div>
			</div>
			<div class="row">
				<div class="text-center">
					<button class="btn btn-outline-warning" id="button">Edit</button>
					<br>
					<span class="text-darkmode">
						* 작업자 항목에 "작업자,작업자" 형태로 기입하면 2명을 등록할 수 있습니다.<br>
						수정을 누르면 전화면으로 넘어갑니다. 웹브라우져 캐쉬문제로 Ctrl+F5를 눌러서 업데이트해주세요.<br>
					</span>
				</div>
			</div>
		</div>
	</div>
	<!--정보 end-->
</form>
</div>

{{template "footerBootstrap"}}
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
<script src="/assets/js/input.js"></script>
</html>

{{end}}
