{{define "edittags" }}

<!-- 멀티입력 -->
<div class="">
	<div class="text-right m-1">
		<button type="button" class="btn btn-secondary btn-sm mb-1 mr-1" onclick="selectCheckboxAll()">전체선택</button>
		<button type="button" class="btn btn-secondary btn-sm mb-1 mr-1" onclick="selectCheckboxNone()">전체해제</button>
		<button type="button" class="btn btn-secondary btn-sm mb-1 mr-1" onclick="selectCheckboxInvert()">선택반전</button>
		<button type="button" class="btn btn-primary btn-sm mb-1 mr-1" data-toggle="modal" data-target="#multi-input-modal-addtag">태그추가</button>
		<!-- Modal: multi-input-modal-tag -->
		<div class="modal fade" id="multi-input-modal-addtag" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">태그추가</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="multi-input-addtag" class="col-form-label">Tag:</label>
						<input type="text" class="form-control" id="multi-input-addtag">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" onclick="addTags('{{.SearchOption.Project}}', document.getElementById('multi-input-addtag').value, '{{$.User.Token}}')" data-dismiss="modal">ADD</button>
				</div>
			</div>
			</div>
		</div>
		<button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#multi-replace-modal-tag">태그 일괄변경</button>
		<!-- Modal: multi-replace-modal-tag -->
		<div class="modal fade" id="multi-replace-modal-tag" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">태그일괄변경</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="multi-replace-tag" class="col-form-label">Tag:</label>
						<input type="text" class="form-control" id="multi-replace-tag">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-danger" onclick="setTags('{{.SearchOption.Project}}', document.getElementById('multi-replace-tag').value, '{{$.User.Token}}')" data-dismiss="modal">REPLACE</button>
				</div>
			</div>
			</div>
		</div>
		<button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#multi-remove-modal-tag">태그삭제</button>
		<!-- Modal: multi-replace-modal-tag -->
		<div class="modal fade" id="multi-remove-modal-tag" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">태그일괄변경</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="multi-remove-tag" class="col-form-label">Tag:</label>
						<input type="text" class="form-control" id="multi-remove-tag">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-danger" onclick="rmTags('{{.SearchOption.Project}}', document.getElementById('multi-remove-tag').value, '{{$.User.Token}}')" data-dismiss="modal">REMOVE</button>
				</div>
			</div>
			</div>
		</div>
	</div>
	
	
</div>

<div class="row m-1">
	{{range .Items}}
	<div class="mx-auto">
		<input type="checkbox" class="form-check-input" id="{{.Name}}" name="selectID" style="opacity:0; position:absolute;">
		<div class="card m-2" style="width: 18rem;">
			<label for="{{.Name}}" class="p-0 m-0">
				<img class="card-img-top" src="/thumbnail/{{.Project}}/{{.ID}}.jpg" onerror="this.src='/assets/img/none.jpg'">
			</label>
			<div class="card-body">
				<h6 class="card-title">
					{{if .Rnum}}<small class="form-text text-muted">{{.Rnum}}</small>{{end}}{{.Name}}({{.Type}})
				</h6>
				<input class="form-control" id="input-tag-{{.Name}}" value="{{Tags2str .Tag}}" type="text" onchange="setTag('{{.Project}}', '{{.Name}}', this.value, '{{$.User.Token}}')">
			</div>
		</div>
	</div>
	{{end}}
</div>

{{end}}
