{{define "edittasksetting" }}
{{template "headBootstrap"}}
{{template "navbar" .}}
<body>

<div class="container p-5">
    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
        <form action="/edittasksetting-submit" method="POST">
        <div class="pt-3 pb-5">
            <h2 class="section-heading">Edit Task Setting - {{.Tasksetting.Name}}({{.Tasksetting.Type}})</h2>
        </div>
        <input type="hidden" name="id" value={{.Tasksetting.ID}}>
        <div class="form-group">
            <label>Linux Path</label>
            <input type="text" name="linuxpath" class="form-control" placeholder="/show/&#123;&#123;.Project&#125;&#125;/seq/&#123;&#123;.Seq&#125;&#125;/&#123;&#123;.Seq&#125;&#125;_&#123;&#123;.Cut&#125;&#125;" value={{.Tasksetting.LinuxPath}}>
            <small class="form-text text-muted">dilink 클릭시 열리는 경로.</small>
        </div>
        <div class="form-group">
            <label>macOS Path</label>
            <input type="text" name="macospath" class="form-control" placeholder="/show/&#123;&#123;.Project&#125;&#125;/seq/&#123;&#123;.Seq&#125;&#125;/&#123;&#123;.Seq&#125;&#125;_&#123;&#123;.Cut&#125;&#125;" value={{.Tasksetting.MacOSPath}}>
            <small class="form-text text-muted">dilink 클릭시 열리는 경로.</small>
        </div>
        <div class="form-group">
            <label>Window Path</label>
            <input type="text" name="windowpath" class="form-control" placeholder="//10.0.1.2/show/&#123;&#123;.Project&#125;&#125;/seq/&#123;&#123;.Seq&#125;&#125;/&#123;&#123;.Seq&#125;&#125;_&#123;&#123;.Cut&#125;&#125;" value={{.Tasksetting.WindowPath}}>
            <small class="form-text text-muted">dilink 클릭시 열리는 경로.</small>
        </div>
        <div class="form-group">
            <label>WFS Path</label>
            <input type="text" name="wfspath" class="form-control" placeholder="//10.0.1.2/show/&#123;&#123;.Project&#125;&#125;/seq/&#123;&#123;.Seq&#125;&#125;/&#123;&#123;.Seq&#125;&#125;_&#123;&#123;.Cut&#125;&#125;" value={{.Tasksetting.WFSPath}}>
            <small class="form-text text-muted">wfs 클릭시 열리는 경로.</small>
        </div>
        <div class="form-group">
            <label>Order</label>
            <input type="number" name="order" step="0.01" class="form-control" placeholder="0.1" value={{.Tasksetting.Order}}>
            <small class="form-text text-muted">Task 정렬시 사용되는 순서</small>
        </div>
        <div class="form-group">
            <label>Category</label>
            <input type="text" name="category" class="form-control" placeholder="fx" value={{.Tasksetting.Category}}>
            <small class="form-text text-muted">Task 카테고리를 지정합니다. 예) smoke, fire, water는 FX 카테고리</small>
        </div>
        <div class="form-check">
            <input type="checkbox" id="initgenerate" name="initgenerate" class="form-check-input" value="true"{{if .Tasksetting.InitGenerate}} checked{{end}}>
            <label class="form-check-label" for="initgenerate">Item 생성시 이 Task를 자동생성 합니다.</label>
        </div>

        <div class="form-group pt-5">
            <label>경로 설정에 사용할 수 있는 변수</label>
            <small class="form-text text-muted">&#123;&#123;.Project&#125;&#125;: 프로젝트 코드</small>
            <small class="form-text text-muted">&#123;&#123;.Task&#125;&#125;: 태스크</small>
            <small class="form-text text-muted">&#123;&#123;.Name&#125;&#125;: 샷이름(SS_0010), 에셋이름</small>
            <small class="form-text text-muted">&#123;&#123;.Seq&#125;&#125;: 시퀀스 SS</small>
            <small class="form-text text-muted">&#123;&#123;.Cut&#125;&#125;: 컷 0010</small>
            <small class="form-text text-muted">&#123;&#123;.Type&#125;&#125;: 타입: shot, asset</small>
            <small class="form-text text-muted">&#123;&#123;.Assettype&#125;&#125;: 에셋타입</small>
            
        </div>
        
        <div class="text-center">
            <button type="submit" class="btn btn-outline-warning mt-5">Update Task</button>
        </div>
        </form>
    </div>
</div>

{{template "footerBootstrap"}}
</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
</html>
{{end}}

