{{define "editstatus" }}
{{template "headBootstrap5"}}
{{template "navbar-bootstrap5" .}}
<body>

<div class="container p-5">
    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
        <form action="/editstatus-submit" method="POST">
        <div class="pt-3 pb-5">
            <h2 class="section-heading">Edit Status: {{.Status.ID}}</h2>
            <input type="hidden" name="id" class="form-control" placeholder="status name" value="{{.Status.ID}}">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" name="description" class="form-control" placeholder="설명" value="{{.Status.Description}}">
            <small class="form-text text-muted">Status 의 간략한 설명</small>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <div>
                        <label>Text</label>
                    </div>
                    <div>
                        <input class="jscolor{valueElement:'textcolor'} btn border border-light w-100">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <div>
                        <label>BG</label>
                    </div>
                    <div>
                        <input class="jscolor{valueElement:'bgcolor'} btn border border-light w-100">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <div>
                        <label>Border</label>
                    </div>
                    <div>
                        <input class="jscolor{valueElement:'bordercolor'} btn border border-light w-100">
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col">
                <div class="form-group">
                    <div>
                        <input id="textcolor" name="textcolor" type="text" class="form-control" value="{{.Status.TextColor}}">
                    </div>
                    <small class="form-text text-muted">Status 글자색</small>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <div>
                        <input id="bgcolor" name="bgcolor" type="text" class="form-control" value="{{.Status.BGColor}}">
                    </div>
                    <small class="form-text text-muted">Status 배경색</small>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <div>
                        <input id="bordercolor" name="bordercolor" type="text" class="form-control" value="{{.Status.BorderColor}}">
                    </div>
                    <small class="form-text text-muted">Status 테두리색</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Order</label>
                    <input type="number" name="order" step="0.1" class="form-control" placeholder="0" value="{{.Status.Order}}">
                    <small class="form-text text-muted">Status 우선순위 순서</small>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-text">Review Event</label>
                    <select class="form-control" name="reviewstatusevent">
                        <option value="wait" {{if eq .Status.ReviewStatusEvent "wait" }}selected{{end}}>wait</option>
                        <option value="comment" {{if eq .Status.ReviewStatusEvent "comment" }}selected{{end}}>comment</option>
                        <option value="approve" {{if eq .Status.ReviewStatusEvent "approve" }}selected{{end}}>approve</option>
                        <option value="closed" {{if eq .Status.ReviewStatusEvent "closed" }}selected{{end}}>closed</option>
                    </select>
                    <small>리뷰 상태 변경시 이벤트</small>
                </div>
            </div>
        </div>
        

        <div class="form-check">
            <input type="checkbox" id="defaulton" name="defaulton" class="form-check-input" value="true" {{if eq .Status.DefaultOn true}}checked{{end}}>
            <label class="form-check-label" for="defaulton">기본 검색시 Check 상태 여부</label>
        </div>
        <div class="form-check">
            <input type="checkbox" id="initstatus" name="initstatus" class="form-check-input" value="true" {{if eq .Status.InitStatus true}}checked{{end}}>
            <label class="form-check-label" for="initstatus">아이템(샷,에셋) 생성시 초기 상태값으로 사용</label>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-danger mt-5">Edit Status</button>
        </div>
        </form>
    </div>
</div>

{{template "footerBootstrap"}}
</body>
<script src="/assets/js/jscolor.js"></script>
<script src="/assets/bootstrap-5.0.2/js/bootstrap.min.js"></script>
</html>
{{end}}

