{{define "endpoints" }}
{{template "headBootstrap5"}}
<body>
{{template "navbar-bootstrap5" .}}
{{template "modal-bootstrap5" .}}
<div class="p-3">
    <div class="row" id="endpoints">
        {{range .Endpoints}}
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card m-2 bg-darkmode">
                    <h6 class="card-header">
                        {{.DNS}}{{.Endpoint}}
                        <div class="float-end">
                            <span class="add" onclick="SetModal('{{.ID.Hex}}')" data-bs-toggle="modal" data-bs-target="#modal-endpoint">≡</span>
                            {{if eq $.User.AccessLevel 5 6 7 8 9 10 11}}
                                <span class="remove ml-0" onclick="SetModal('{{.ID.Hex}}');DeleteMode();" data-bs-toggle="modal" data-bs-target="#modal-endpoint">×</span>
                            {{end}}
                        </div>
                    </h6>
                    <div class="card-body pb-0">
                        <p class="card-text">
                            <div class="row">
                                <div class="col">
                                    {{range .Method}}
                                        {{if eq . "GET" "get"}}
                                            <span class="badge bg-primary">GET</span>
                                        {{end}}
                                        {{if eq . "POST" "post"}}
                                            <span class="badge bg-warning">POST</span>
                                        {{end}}
                                        {{if eq . "PUT" "put"}}
                                            <span class="badge bg-success">PUT</span>
                                        {{end}}
                                        {{if eq . "DELETE" "delete"}}
                                            <span class="badge bg-danger">DELETE</span>
                                        {{end}}
                                        {{if eq . "OPTIONS" "options"}}
                                            <span class="badge bg-light text-dark">OPTIONS</span>
                                        {{end}}
                                    {{end}}
                                </div>
                                <div class="col">
                                    {{.Partner}}
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: {{.Progress}}%" aria-valuenow="{{.Progress}}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="text-darkmode">
                                {{if .IsServerless}}<span class="badge rounded-pill bg-dark">Serverless</span>{{end}}
                                {{if .IsUser}}<span class="badge rounded-pill bg-dark">User</span>{{end}}
                                {{if .IsDeveloper}}<span class="badge rounded-pill bg-dark">Developer</span>{{end}}
                                {{if .IsAdmin}}<span class="badge rounded-pill bg-dark">Admin</span>{{end}}
                                {{if .IsSecurity}}<span class="badge rounded-pill bg-dark">Security</span>{{end}}
                                {{if .IsAsset}}<span class="badge rounded-pill bg-dark">Asset</span>{{end}}
                                {{if .IsPatent}}<span class="badge rounded-pill bg-dark">Patent</span>{{end}}
                                {{if .IsUpload}}<span class="badge rounded-pill bg-dark">Upload</span>{{end}}
                                카테고리: {{.Category}}, Type: {{.Type}}, StorageType {{.StorageType}}, CORS: {{.CORS}}, DB: {{.DB}}<br>
                                
                                설명: {{.Description}}<br>
                                태그: {{range .Tags}}<span class="badge rounded-pill bg-secondary me-1">#{{.}}</span>{{end}}<br>
                                포멧: {{range .SupportFormat}}<span class="badge rounded-pill bg-secondary me-1">{{.}}</span>{{end}}<br>
                                Parameter: {{range .Parameter}}<span class="badge rounded-pill bg-secondary me-1">{{.}}</span>{{end}}<br>
                                Token: {{.Token}}<br>                                
                                Curl: {{.Curl}}
                            </div>
                        <p>
                    </div>
                </div>
            </div>
        {{end}}
    </div>
</div>
    
{{template "footerBootstrap"}}
</body>
<script src="/assets/bootstrap-5.0.2/js/bootstrap.min.js"></script>
<script src="/assets/tata/tata.js"></script>
<script src="/assets/js/endpoint.js"></script>
</html>
{{end}}