{{define "exportexcel"}}

{{template "headBootstrap"}}
{{template "navbar" .}}

<body>
    <div class="container p-5">
        <form action="/exportexcel-submit" method="POST">
            <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                <div class="pt-3 pb-3">
                    <h2 class="section-heading">Export Excel</h2>
                </div>
                <div class="form-group">
                    <label>Project</label>
                    <select name="project" class="form-control">
                    {{range .Projectlist}}
                        <option value="{{.}}">{{.}}</option>
                    {{end}}
                    </select>
                    <small class="form-text text-muted">Export 프로젝트를 선택해주세요.</small>
                </div>
                <div class="form-group">
                    <label>Format</label>
                    <select name="format" class="form-control">
                        <option value="cglist-shot">Shot</option>
                        <option value="cglist-asset">Asset</option>
                        <option value="cglist-all">All</option>
                    </select>
                    <small class="form-text text-muted">Format을 선택해주세요.</small>
                </div>
                <div class="form-group">
                    <label>Sort / 정렬방식</label>
                    <select name="sortkey" class="form-control">
                        <option value="name">Name / 이름(샷,에셋 이름순)</option>
                        <option value="rnum">Rnum / 롤넘버(편집순)</option>
                    </select>
                    <small class="form-text text-muted">정렬방식을 선택해주세요.</small>
                </div>
            </div>
            <div class="text-center pt-5">
                <button type="submit" class="btn btn-outline-warning">Export Excel</a>
            </div>
        </form>
    </div>

{{template "footerBootstrap"}}
</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
<script src="/assets/js/input.js"></script>
<script src="/assets/js/csi_v02.js"></script>
<script src="/assets/js/dropzone.js"></script>
</html>

{{end}}