{{define "exportexcel"}}

{{template "headBootstrap"}}
{{template "navbar" .}}

<body>
    <div class="container p-5">
        <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
            <div class="pt-3 pb-3">
                <h2 class="section-heading">Export Excel</h2>
            </div>
            <div class="form-group">
                <label>Project</label>
                <select name="project" class="form-control">
                  {{range .Projectlist}}
                    <option value="{{.}}">{{.}}</option>
                  {{end}}
                </select>
                <small class="form-text text-muted">Export 프로젝트를 선택해주세요.</small>
            </div>
            <div class="form-group">
                <label>Format</label>
                <select name="format" class="form-control">
                    <option value="cglist-pm">CG List (PM)</option>
                    <option value="cglist-workder">CG List (Worker)</option>
                    <option value="cglist-onlyasset">CG List (Only Asset)</option>
                    <option value="cglist-task">CG List (Task)</option>
                </select>
                <small class="form-text text-muted">Format을 선택해주세요.</small>
            </div>
            <div class="form-group">
                <label class="col-form-label">Task</label>
                <select class="form-control" name="task">
                    <option value="all">All</option>
                    <option value="comp">comp</option>
                    <option value="concept">concept</option>
                    <option value="model">model</option>
                    <option value="mm">mm</option>
                    <option value="layout">layout</option>
                    <option value="ani">ani</option>
                    <option value="fx">fx</option>
                    <option value="mg">mg</option>
                    <option value="previz">previz</option>
                    <option value="fur">fur</option>
                    <option value="sim">sim</option>
                    <option value="crowd">crowd</option>
                    <option value="light">light</option>
                    <option value="matte">matte</option>
                    <option value="env">env</option>
                </select>
            </div>
        </div>
        <div class="text-center pt-5">
            <a href="/exportexcel-submit" class="btn btn-outline-warning">Export Excel</a>
        </div>
    </div>

{{template "footerBootstrap"}}
</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
<script src="/assets/js/input.js"></script>
<script src="/assets/js/csi_v02.js"></script>
<script src="/assets/js/dropzone.js"></script>
</html>

{{end}}