{{define "head"}}<!DOCTYPE html>
<head>
<title>CSI{{if $.Searchop.Project}} : {{$.Searchop.Project}}{{end}}</title>
<meta charset="utf-8"/>
<link rel="stylesheet" href="/assets/css/style.css"/>
<link rel="stylesheet" href="/assets/js/jquery-ui-1.12.1/jquery-ui.min.css"/>
<link rel="icon" href="/assets/img/csi.png">
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/js/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="/assets/js/csi.js"></script>
</head>
<body onload="onload()">
<div id="wrapper">
  <div id="topNav">
    <ul>
      <li><a href="/">CSI</a></li>
      <li><a href="/projectinfo">Projects</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/uploadsetellite">Setellite</a></li>
      <li><a href="/help">Help</a></li>
      {{if $.ID}}
        <li><a href="/user?id={{$.ID}}">{{$.ID}}</a></li>
        <li><a href="/signout">SignOut</a></li>
      {{else}}
        <li><a href="/signup">SignUp</a></li>
        <li><a href="/signin">SignIn</a></li>  
      {{end}}
    </ul>
  </div>
{{end}}
