{{define "help_introduce"}}
<div class="p-5 text-center">
    <h3 class="p-2 text-darkmode">CSI: Creation Status Integrator</h3>
    <p class="h6 font-weight-light text-darkmode">
        검색엔진 방식의 프로젝트 관리 툴입니다.<br>
        모바일지원, 빠른속도, 교육의 최소화, 의존성 최소화를 컨셉으로 개발중입니다.<br>
        인트라넷, 클라우드 환경에 설치할 수 있습니다.
    <p>

    <p class="mt-2">
        <span class="text-darkmode">
            mongoDB Version: {{.DBVer}}<br>
            mongoDB IP/Port: {{.DBIP}}<br>
            Server IP: {{.ServerIP}}<br>
            {{if .BuildTime}}
                Build Time: {{.BuildTime}}<br>
            {{end}}
            {{if .Sha1ver}}
                Git SHA1: <a href="https://github.com/digital-idea/csi3/commit/{{.Sha1ver}}" class="text-warning">{{.Sha1ver}}</a><br>
            {{end}}
        </span>
    </p>
</div>
{{end}}