{{define "help_github"}}
<div class="p-5 text-center bg-darklight">
    <h4 class="p-2 text-darkmode">기능요청방법</h4>
    <p class="h6 font-weight-light text-darkmode">
        <a href="https://github.com/digital-idea/OpenPipelineIO#roadmap" class="text-light">Roadmap</a> 우선순위로 개발을 진행합니다.<br>
        자신의 의견을 Github 이슈에 등록해주세요.
    </p>	
    <p class="h6 font-weight-light">
        <a href="https://github.com/digital-idea/OpenPipelineIO/issues" class="btn btn-sm btn-outline-darkmode">Github Issue</a>
    </p>
    <p>
        <img src="/assets/img/csi_issue.png">
    </p>
</div>
{{end}}