{{define "help_colorconcept"}}
<div class="pt-5">
    <h3 class="pt-2 text-darkmode text-center">Yellow / Red</h3>
    <div class="text-center pt-3">
        <button type="button" class="btn btn-outline-warning">Yellow</button>
        <button type="button" class="btn btn-outline-danger">Red</button>
    </div>
    <div class="row">
        <div class="mx-auto text-center">
            <div class="text-left text-darkmode p-4 m-2">
                노랑색: 추가, 편집을 의미하는 색상입니다.<br>
                빨간색: 삭제 기능처럼 위험하거나 중요한 행동을 의미합니다.
            </div>
        </div>
    </div>
</div>
{{end}}