{{define "help_toolbar"}}
<div class="pt-5 bg-darklight">
    <h3 class="pt-2 text-darkmode text-center">Toolbar</h3>
    <div class="row">
        <div class="p-5">
            <div class="p-5">
                <nav class="navbar navbar-expand-lg navbar-darkmode">
                    <div>
                    <ul class="navbar-nav">
                        <span class="navbar-brand ps-3" title="홈으로 이동합니다.">OpenPipelineIO</span>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                                File
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><span class="dropdown-item" title="엑셀파일을 Import 할 때 사용합니다.">Import .xlsx</span></li>
                                <li><hr class="dropdown-divider"></li>
                                </li><span class="dropdown-item" title="엑셀파일을 Export 할 때 사용합니다.">Export .xlsx</span></li>
                            </ul>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                List
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><span class="dropdown-item" title="프로젝트 리스트, 프로젝트 설정 페이지로 이동합니다.">Projects</span></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><span class="dropdown-item" title="사용자 리스트로 이동합니다.">Users</span></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><span class="dropdown-item" title="Task 리스트, 테스크 설정 페이지로 이동합니다.">Task</span></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><span class="dropdown-item" title="본부 리스트를 확인, 설정 합니다.">Divisions(본부)</span></li>
                                <li><span class="dropdown-item" title="부서 리스트를 확인, 설정 합니다.">Departments(부서)</span></li>
                                <li><span class="dropdown-item" title="팀 리스트를 확인, 설정 합니다.">Teams(팀)</span></li>
                                <li><span class="dropdown-item" title="직책 리스트를 확인, 설정 합니다.">Roles(직책)</span></li>
                                <li><span class="dropdown-item" title="직급 리스트를 확인, 설정 합니다.">Positions(직급)</span></li>
                            </ul>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><span class="dropdown-item" title="Setellite 현장정보를 입력합니다.">Setellite</span></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><span class="dropdown-item" title="프로젝트를 추가합니다.">Project</span></li>
                                <li><span class="dropdown-item" title="샷을 추가합니다.">Shot</span></li>
                                <li><span class="dropdown-item" title="에셋을 추가합니다.">Asset</span></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><span class="dropdown-item" title="Task를 추가합니다.">Task</span></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><span class="dropdown-item" title="본부를 추가합니다.">Division(본부)</span></li>
                                <li><span class="dropdown-item" title="부서를 추가합니다.">Department(부서)</span></li>
                                <li><span class="dropdown-item" title="팀을 추가합니다.">Team(팀)</span></li>
                                <li><span class="dropdown-item" title="직책을 추가합니다.">Role(직책)</span></li>
                                <li><span class="dropdown-item" title="직급을 추가합니다.">Position(직급)</span></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Remove
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><span class="dropdown-item text-danger" title="프로젝트를 삭제합니다.">Project</span></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><span class="dropdown-item finger text-danger" title="샷,에셋을 삭제합니다. 삭제할 아이팀을 선택하고 눌러주세요.">Item</span></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><span class="dropdown-item text-danger" title="테스크를 삭제합니다.">Task</span></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><span class="dropdown-item text-danger" title="조직 구조를 삭제합니다.">Organization</span></li>
                            </ul>
                        </li>
                        
                        <li class="nav-item">
                            <span class="nav-link" title="도움말을 확인합니다.">Help</span>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                UserID
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><span class="dropdown-item" title="개인 정보를 확인합니다.">Profile</span></li>
                                <li><span class="dropdown-item" title="개인 정보를 수정합니다.">Edit</span></li>
                                <li><span class="dropdown-item text-danger" title="패스워드를 변경합니다.">Update Password</span></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><span class="dropdown-item" title="CSI 관리자 설정페이지로 이동합니다.">Admin Setting</span></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><span class="dropdown-item" title="로그아웃 합니다.">SignOut</span></li>
                            </ul>
                        </li>
                    </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mx-auto text-center">
            <div class="text-left text-darkmode p-4 m-2 help-text">
                메뉴를 직접 클릭하고 마우스를 올리면 간단한 설명을 볼 수 있습니다.<br>
                • File: Excel Import / Export 시 사용합니다.<br>
                • List: 프로젝트, 사용자, Task, 조직구조 리스트를 볼 수 있습니다.<br>
                • Add: 현장정보, Project, Shot, Asset, Task, 조직구조를 추가할 때 사용합니다.<br>
                • Remove: 프로젝트, Shot/Asset, Task, 조직구조를 삭제할 때 사용합니다.<br>
                • Help: 도움말<br>
                • UserID: 프로필, 개인정보수정, 패스워드 수정, admin설정, 로그아웃<br>
            </div>
        </div>
    </div>
</div>
{{end}}