{{define "help_introduce"}}
<div class="p-5 text-center">
    <h3 class="p-2 text-darkmode">CSI</h3>
    <p class="h6 font-weight-light text-darkmode">
        CSI: Creation Status Integrator의 약자입니다.<br>
        검색엔진 방식을 사용하는 프로젝트 관리 툴입니다. 빠른속도, 교육의 최소화를 컨셉으로 개발중입니다.
    <p>

    <p class="mt-2">
        <small class="text-darkmode">
            Build Time: {{.BuildTime}}<br>
            Git SHA1: <a href="https://github.com/digital-idea/csi3/commit/{{.Sha1ver}}" class="text-warning">{{.Sha1ver}}</a>
        </small>
    </p>
</div>
{{end}}