{{define "help_tasks"}}
<div class="p-5 bg-darklight text-center text-darkmode">
    <h3 class="p-2">Status</h3>
    <div class="row pb-5">
        <div class="mx-auto">
            <div class="row">
                <span class="add" title="Task를 추가합니다.">＋</span>
                <span class="remove ml-1" title="Task를 제거합니다.">－</span>
            </div>
            <div class="mt-1 ml-1 mb-3">
                <div class="row">
                    <div><span class="finger mt-1 badge badge-confirm statusbox_daily" title="해당 날짜에 mov가 업데이트되면 파란테두리가 생성됩니다.">model</span></div>
                    <div><span class="mt-1 ml-1 badge badge-outline-darkmode" title="1차 마감일">0120</span></div>
                    <div><span class="mt-1 ml-1 badge badge-darkmode" title="2차 마감일">0131</span></div>
                    <div><span class="mt-1 ml-1 badge badge-light" title="아티스트 이름">김한웅</span></div>
                    <div><span class="mt-1 ml-1 badge badge-light" title="재생될 미디어가 연결되어 있다면 재생 표시가 표기됩니다.">▶</span></div>
                    <div class="ml-1"><span class="add" title="Task 정보를 수정합니다.">≡</span></div>
                </div>
                <div class="row">
                    <div><span class="finger mt-1 badge badge-wip statusbox_deadline" title="마감일이라면 빨간 테두리가 생성됩니다.">light</span></div>
                    <div><span class="mt-1 ml-1 badge badge-outline-darkmode" title="1차 마감일">0206</span></div>
                    <div><span class="mt-1 ml-1 badge badge-darkmode" title="2차 마감일">0218</span></div>
                    <div><span class="mt-1 ml-1 badge badge-light" title="아티스트 이름">Bailey</span></div>
                    <div><span class="mt-1 ml-1 badge badge-light" title="재생될 미디어가 연결되어 있다면 재생 표시가 표기됩니다.">▶</span></div>
                    <div class="ml-1"><span class="add" title="Task 정보를 수정합니다.">≡</span></div>
                </div>
                <div class="row">
                    <div><span class="finger mt-1 badge badge-ready statusbox" title="Web File System을 띄웁니다.">comp</span></div>
                    <div><span class="mt-1 ml-1 badge badge-outline-darkmode" title="1차 마감일">0224</span></div>
                    <div><span class="mt-1 ml-1 badge badge-darkmode" title="2차 마감일">0306</span></div>
                    <div><span class="mt-1 ml-1 badge badge-light" title="아티스트 이름">Jason</span></div>
                    <div><span class="mt-1 ml-1 badge badge-light" title="재생될 미디어가 연결되어 있다면 재생 표시가 표기됩니다.">▶</span></div>
                    <div class="ml-1"><span class="add" title="Task 정보를 수정합니다.">≡</span></div>
                </div>
            </div>
        </div>
    </div>
    <p class="h6 font-weight-light">
        각 아이템에 원하는 Task를 선언할 수 있습니다.
    </p>
    <p class="h6 font-weight-light">
        <span class="btn btn-dark btn-sm">팀명</span>
        <span class="btn btn-dark btn-sm">▶ 표시</span>
        <span class="btn btn-dark btn-sm">아티스트명</span>
        <span class="btn btn-dark btn-sm">마감일</span> 이 적혀있습니다.
    </p>
    <p class="h6 font-weight-light">
        ▶ 표시를 클릭하면 최근 등록된 mov가 재생됩니다.
    </p>
    <p class="h6 font-weight-light">
        아티스트명을 클릭하면 작업폴더로 바로 연결되는 <a href="{{.Wfs}}" class="blue">WFS(Web File System)</a>이 실행됩니다.
    </p>
</div>
{{end}}