{{define "help_deadline"}}
<div class="p-5 text-center text-darkmode">
    <h3 class="p-2">Deadline</h3>
    <div class="text-center mr-3">
        <span class="text-badge">3D:</span>
        <span class="statusuri badge badge-fade finger">1209</span>
        <span class="statusuri badge badge-darkmode finger">0109</span>
        <span class="statusuri badge badge-danger finger">0119</span>
        <span class="statusuri badge badge-warning finger">0129</span>
    </div>
    
    <div class="text-center mr-3">
        <span class="text-badge">2D:</span>
        <span class="statusuri badge badge-fade finger">1209</span>
        <span class="statusuri badge badge-darkmode finger">0109</span>
        <span class="statusuri badge badge-danger finger">0119</span>
        <span class="statusuri badge badge-warning finger">0129</span>
    </div>
    <p class="h6 pt-3 font-weight-light m-3">
        마감일 태그 형태입니다. 클릭하면 해당 마감샷만 결과가 출력됩니다.<br>
        <span class="statusuri badge badge-danger mt-2">빨강색</span> 표기는 이번주 마감리스트가 출력됩니다.<br>
        <span class="statusuri badge badge-warning mt-2">노랑색</span> 표기는 다음주 마감리스트가 출력됩니다.<br>
        <span class="statusuri badge badge-fade mt-2">반투명</span> 표기는 지난 날짜를 의미합니다.
    </p>
</div>
{{end}}