{{define "help_neutralgrade"}}
<div class="p-5 bg-white text-center">
    <h3 class="p-2">Neutral Grade</h3>
    <p>
        <img src="/assets/img/help/ocio.png">
    </p>
    <p class="h6 font-weight-light">
        OpenPipelineIO는 뉴트럴그레이드 파이프라인을 처리할 수 있습니다.
    </p>
    <p class="h6 font-weight-light">
        뉴트럴그레이드는 원본 플레이트를 CG작업에 유리한 컬러로 바꿀 때 사용합니다.
    </p>
    <p class="h6 font-weight-light">
        플레이트의 컬러를 바꾸게 되면 Color 작업과 관련된 모든 팀을 위해 눈에 띄어야 합니다.
    </p>
    <p class="h6 font-weight-light">
        뉴트럴그레이드가 활성화되면 OpenPipelineIO는 썸네일이미지 주변에 뉴트럴그레이드 표시가 활성화 됩니다.
    </p>
    <p class="h6 font-weight-light">
        또한 이 기능은 바른손 디지털아이디어 내에서 뉴크와 연동되며 뉴크상 단축키는 다음과 같습니다.
    </p>
    <p class="h6 font-weight-light">
        컬러 저장하기 : <span class="btn btn-dark btn-sm">Alt + [</span>, 컬러 불러오기 <span class="btn btn-dark btn-sm">Alt + ]</span>
    </p>
    <p class="h6 font-weight-light">
        큰 개념은 OpenColorIO의 <span class="btn btn-dark btn-sm">.cc</span> 파일 또는 <span class="btn btn-dark btn-sm">.ccc</span> 파일을 DB에 저장하고 아티스트간 공유하는 개념입니다.
    </p>
</div>
{{end}}