{{define "help_toolbar"}}
<div class="pt-5 bg-darklight">
    <h3 class="pt-2 text-darkmode text-center">Toolbar</h3>
    <div class="text-center">
        <img src="/assets/img/help/toolbar.png" class="pt-2 pb-2">
    </div>
    <div class="row">
        <div class="mx-auto text-center">
            <div class="text-left text-darkmode p-4 m-2">
                File: Excel Import / Export 시 사용합니다.<br>
                List: 프로젝트, 사용자, Task, 조직구조 리스트를 볼 수 있습니다.<br>
                Add: 현장정보, Project, Shot, Asset, Task, 조직구조를 추가할 때 사용합니다.<br>
                Remove: 프로젝트, Shot/Asset, Task, 조직구조를 삭제할 때 사용합니다.<br>
                Help: 도움말<br>
                UserID: 프로필, 개인정보수정, 패스워드 수정, admin설정, 로그아웃<br>
            </div>
        </div>
    </div>
</div>
{{end}}