{{define "help_mail"}}
<div class="p-5 text-darkmode text-center">
    <h3 class="p-2">Mail</h3>
    <p>
        <img src="/assets/img/help/sendmail.png">
    </p>
    <p class="h6 font-weight-light">
        여러분의 웹브라우저가 메일프로그램과 잘 연결되어 있다면, 샷 이름 클릭시 프로젝트명과 샷이름이 적힌 메일창이 열립니다.
    </p>
    <p class="h6 font-weight-light">
        이 기능이 작동되기 위해서는 여러분의 웹 브라우저에 메일프로그램 등록이 필요합니다.
    </p>
    <p class="h6 font-weight-light">
        Firefox : <span class="btn btn-dark btn-sm"> 편집 > 환경변수 > 프로그램 > mailto </span>
    </p>
    <p class="h6 font-weight-light">
        에서 메일 클라이언트를 Thunderbird 메일로 바꾸어주세요.
    </p>
    <p class="h6 font-weight-light">
        리눅스에서 Thunderbird의 위치는 <span class="btn btn-dark btn-sm">/usr/bin/thunderbird</span> 경로입니다.
    </p>
</div>
{{end}}