{{define "help_note"}}
<div class="p-5 text-center text-darkmode">
    <h3 class="p-2">Note</h3>
    <div class="row pb-4">
        <div class="mx-auto col-sm-12 col-md-12 col-lg-4">
            <div class="">
                <div class="row">
                    <div>
                        <span class="text-badge">Tags:</span>
                    </div>
                    <div class="row ml-3">
                        <div class="ml-1">
                            <span class="badge badge-outline-darkmode">태그1</span>
                            <span class="badge badge-outline-darkmode">태그2</span>
                        </div>
                    </div>
                    <div class="ml-3">
                        <span class="add ml-1">＋</span>
                        <span class="remove ml-0">－</span>
                    </div>
                </div>
                <!--작업내용-->
                <div class="row">
                    <span class="text-badge">Note:</span>
                </div>
                <div class="ml-1 text-light small">
                    <div class="float-right">
                        <span class="add">＋</span>
                    </div>
                    <div class="text-left">
                        작업내용과 관련된 내용을 작성하거나<br>
                        필요한 정보를 작성한다.
                    </div>
                </div>
                
                <!--ObjectID-->
                <div class="row">
                    <div>
                        <span class="finger no-decoration-text-button">ObjectID:</span>
                    </div>
                    <div>
                        <span class="text-badge ml-1">1-100</span>
                    </div>
                </div>
                
                <!--ProductionCam-->
                <div class="row">
                    <div>
                        <span class="finger no-decoration-text-button">
                            CamInfo:
                        </span>
                    </div>
                    <div>
                        <span class="text-badge ml-1">Pub-mm</span>
                    </div>
                    <div>
                        <span class="text-badge">,</span>
                        <span class="text-badge ml-1">/show/project/cam/pub/path</span>
                    </div>
                    <div>
                        <span class="text-badge">,</span>
                        <span class="text-badge ml-1">Projection</span>
                    </div>
                </div>
                
                <!--연결소스-->
                <div class="row">
                    <span class="text-badge">Sources:</span>
                </div>
                <div class="ml-2 row">
                    <div class="row">
                        <div>
                            <span class="badge badge-outline-darkmode ml-1">참고소스1</span>
                            <span class="badge badge-outline-darkmode ml-1">참고소스2</span>
                        </div>
                    </div>
                    <div class="ml-3">
                        <span class="add ml-1">＋</span>
                        <span class="remove ml-0">－</span>
                    </div>
                </div>

                <!--Reference-->
                <div class="row">
                    <span class="text-badge">References:</span>
                </div>
                <div class="ml-2 row">
                    <div class="row">
                        <div>
                            <span class="badge badge-outline-darkmode ml-1">레퍼런스1</span>
                            <span class="badge badge-outline-darkmode ml-1">레퍼런스2</span>
                        </div>
                    </div>
                    <div class="ml-3">
                        <span class="add ml-1">＋</span>
                        <span class="remove ml-0">－</span>
                    </div>
                </div>
                
                
                <!--Scaninfo-->
                <div class="row">
                    <div>
                        <span class="text-badge">ScanInfo:</span>
                    </div>
                    <div>
                        <span class="text-badge ml-1" title="스캔시간">0120 /</span>
                    </div>
                    <div>
                        <span class="text-badge ml-1" title="스캔이름">A007C006_160424_R28L</span>
                    </div>
                    <div>
                        <span class="text-badge ml-1">1001</span>
                    </div>
                    <div>
                        <span class="text-badge ml-1">-</span>
                    </div>
                    <div>
                        <span class="text-badge ml-1">1050</span>
                    </div>
                    <div>
                        <span class="text-badge ml-1" title="스캔길이">(50)</span>
                    </div>
                    
                    <div>
                        <span class="text-badge ml-1">/</span>
                    </div>
                    <div>
                        <span class="text-badge ml-1">10:00:00:01</span>
                    </div>
                    <div>
                        <span class="text-badge ml-1">-</span>
                    </div>
                    <div>
                        <span class="text-badge ml-1">10:00:02:02</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <p class="h6 font-weight-light">
        작업에 필요한 기본정보, 레퍼런스, 소스, 수정내용, 태그리스트 순으로 적혀있습니다.
    </p>
</div>
{{end}}