{{define "help_tag"}}
<div class="p-5 bg-darklight text-center text-darkmode">
	<h3 class="p-2">Tag System</h3>
	<p>
		<span class="btn btn-outline-darkmode btn-sm m-1 statusuri">배경</span>
		<span class="btn btn-outline-darkmode btn-sm m-1 statusuri">캐릭터</span>
		<span class="btn btn-outline-darkmode btn-sm m-1 statusuri">시뮬레이션</span>
		<span class="btn btn-outline-danger btn-sm m-1">태그변경</span>
	</p>
	<p class="h6 font-weight-light">
		콘텐츠 제작전 업무를 분리하기 위해서 Tag 시스템을 사용할 수 있습니다.<br>
		각 아이템의 Tag항목에서 + - 아이콘을 통해서 설정할 수 있습니다.<br>
		태그변경 표시는 권한이 높을 때 볼 수 있는 버튼이며, 일괄적으로 태그를 변경할 때 사용합니다.
	</p>
</div>


{{end}}