{{define "importexcel"}}

{{template "headBootstrap"}}
{{template "navbar" .}}

<body>
    <div class="container p-5">
        <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
            <div class="pt-3 pb-3">
                <h2 class="section-heading">Import Excel</h2>
            </div>
            <div class="">
                <form action="/upload-excel" class="dropzone">
                    <div class="fallback">
                        <input name="file" type="file" />
                    </div>
                </form>
                <small class="form-text text-mute">업로드할 .xlsx 파일을 Drag & Drop 해주세요.</small>
                <small class="form-text text-mute">Apple Numbers에서 작성된 멀티라인은 인식되지 않습니다.</small>
                <small class="form-text text-mute">
                    <a href="/assets/excel-template/template.xlsx" class="text-warning" download>.xlsx Template 다운로드</a>
                </small>
            </div>
        </div>
        <div class="text-center pt-5">
            <a href="/presetexcel" class="btn btn-outline-warning">NEXT</a>
        </div>
    </div>

{{template "footerBootstrap"}}
</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
<script src="/assets/js/input.js"></script>
<script src="/assets/js/csi_v02.js"></script>
<script src="/assets/js/dropzone.js"></script>
</html>

{{end}}