{{define "index" }}
{{template "headBootstrap" .}}
<body>
    <div id="floatingmenu">
        {{template "navbar" .}}
        <div id="searchbox">
            {{if eq .SearchOption.SearchbarTemplate "searchbarV1" }}
                {{template "searchbarV1" .}}
            {{else}}
                {{template "searchbarV2" .}}
            {{end}}
            {{template "deadlinelist" .}}
            {{template "taglist" .}}
            {{template "info2" .}}
        </div>
    </div>
    {{template "modal" .}}
    <div id="blinkspace" style="height:550px"></div><!--기본 550px 여유를 두고 검색바가 펼쳐지면 items가 밀려서 출력되어야 한다.-->
    {{template "items" .}}
    {{template "footerBootstrap"}}
</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
<script src="/assets/js/input.js"></script>
<script src="/assets/js/export.js"></script>
<script src="/assets/js/csi_v02.js"></script>
<script src="/assets/js/scroll.js"></script>
</html>
{{end}}
