{{define "inputtags" }}
{{template "headBootstrap"}}
{{template "navbar" .}}
{{template "searchbox_v02" .}}

{{range .Items}}
	<div class="form-check">
		<label class="form-check-label">
		  	<input type="checkbox" class="form-check-input" value="">{{.ID}}
		</label>
		<input class="form-control" value="{{range .Tag}}{{.}},{{end}}" type="text" onchange="setTags('TEMP', '{{.Name}}', this.value, '{{$.User.Token}}')">
	</div>
{{end}}

{{template "footerBootstrap"}}
</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
<script src="/assets/js/input.js"></script>
</html>
{{end}}
