{{define "items2" }}
<div class="p-3">
{{range .Items}}
<div class="pt-1"></div>
<div class="row">
	<div class="col-sm-12 col-md-6 col-lg-2">
		<!--Thumbnail-->
		<div class="row">
			<div class="thumbnailbox ml-1">
				{{if .Thummov}}
					<a href="dilink://{{.Thummov}}">
				{{else}}
					<a href="dilink:///show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/plate/{{.ID}}.mov">
				{{end}}
				<img src="/thumbnail/{{$.SearchOption.Project}}/{{.ID}}.jpg" onerror="this.src='/assets/img/none.jpg'" class="thumbnail border-{{Status2string .Status}}">
				</a>
				<div class="top-left">
					<div class="row">
						<span class="black-opbg">{{.Rnum}}</span>
					</div>
					{{if .Ddline3d}}
						<div class="row">
							<span class="black-opbg">3D:{{ToShortTime .Ddline3d}}</span>
						</div>
					{{end}}
					{{if .Ddline2d}}
						<div class="row">
							<span class="black-opbg">2D:{{ToShortTime .Ddline2d}}</span>
						</div>
					{{end}}
				</div>
				<div class="centered-top"><a href="mailto:?subject=[{{$.Projectinfo.MailHead}}] {{.Name}}" class="text-white black-opbg">{{.Name}}</a></div>
				<div class="top-right">
					{{if .Platesize}}
						<div class="row">
							<span class="black-opbg">S: {{.Platesize}}</span>
						</div>
					{{end}}
					{{if .Dsize}}
						<div class="row">
							<span class="black-opbg">U: {{.Dsize}}</span>
						</div>
					{{end}}
					{{if or .Rendersize .Dsize}}
						<div class="row">
							<span class="black-opbg">R: {{if .Rendersize}}{{.Rendersize}}{{else}}{{.Dsize}}{{end}}</span>
						</div>
					{{end}}
				</div>
				<div class="centered">
					{{if eq .Status "2"}}
						{{if .Finver}}
							v{{.Finver}}
						{{end}}
						{{if .Findate}}
							({{ToShortTime .Findate}})
						{{end}}
					{{end}}
				</div>
				<div class="centered-bottom">
					{{if eq .Type "asset"}}
						<span class="badge badge-light">{{.Assettype}}</span>
						{{if .CrowdAsset}}
							<span class="badge badge-warning">Crowd</span>
						{{end}}
					{{else}}
						<!--재스캔 사용 플레이트 표기-->
						{{if eq .Type "org" "left"}}
							{{if .UseType}}
								<span class="badge badge-light">{{.UseType}}</span>
							{{else}}
								<span class="badge badge-light">{{.Type}}</span>
							{{end}}
						{{end}}
						<span class="badge badge-light">{{.Shottype}}</span>
					{{end}}
				</div>
				<div class="centered-left"></div>
				<div class="centered-right">
					<!--Retime-->
					<div class="row">
						{{if .Retimeplate}}
							<a href="dilink://{{.Retimeplate}}" class="badge badge-danger">R</a>
						{{end}}
					</div>
					<!--Just Mark-->
					<div class="row">
						{{if and .JustIn .JustOut}}
							<span class="badge badge-warning mt-1">J</span>
						{{end}}
					</div>
					<!--OCIOcc-->
					<div class="row">
						{{if .OCIOcc}}
							<span class="badge badge-info mt-1">N</span>
						{{end}}
					</div>
				</div>
				<div class="bottom-left">
					<div class="row">
						{{if and .HandleIn .HandleOut}}
							<span class="text-white black-opbg" title="handle">({{.HandleIn}}/{{.HandleOut}})</span>
						{{end}}
					</div>
					<div class="row">
						{{if .PlateIn}}
							<span class="text-white black-opbg" title="platein">{{.PlateIn}}</span>
						{{end}}
					</div>
					<div class="row">
						
						{{if .JustIn}}
							<span class="text-warning black-opbg" title="justin">{{.JustIn}}</span>
						{{end}}
					</div>
					<div class="row">
						{{if .JustTimecodeIn}}
							<span class="text-warning black-opbg">{{.JustTimecodeIn}}</span>
						{{else}}
							{{if .ScanTimecodeIn}}
								<span class="text-white black-opbg">{{.ScanTimecodeIn}}</span>
							{{end}}
						{{end}}
					</div>
				</div>
				<div class="bottom-right">
					<div class="row">
						<span class="text-white black-opbg" title="plateout">
							{{if .PlateOut}}
								{{.PlateOut}}
							{{end}}
							{{if and .PlateIn .PlateOut}}
								({{Framecal .PlateIn .PlateOut}})
							{{end}}
						</span>
					</div>
					<div class="row">
						<span class="text-warning black-opbg" title="justout">
							{{if .JustOut}}
								{{.JustOut}}
							{{end}}
							{{if and .JustIn .JustOut}}
								({{Framecal .JustIn .JustOut}})
							{{end}}
						</span>
					</div>
					<div class="row">
						{{if .JustTimecodeOut}}
							<span class="text-warning black-opbg">{{.JustTimecodeOut}}</span>
						{{else}}
							{{if .ScanTimecodeOut}}
								<span class="text-white black-opbg">{{.ScanTimecodeOut}}</span>
							{{end}}
						{{end}}
					</div>

				</div>
			</div>
		</div>

		
		<div class="row">
			<div class="text-right mx-auto">
				{{if .Updatetime|CheckUpdate}}
					<span class="badge badge-warning">UPDATE {{ToHumantime .Updatetime}}</span>
				{{end}}
			
				{{if eq .Type "asset" -}}
					<a href="/edit?type=item&project={{$.SearchOption.Project}}&slug={{.Slug}}" class="badge badge-danger ml-1">Edit</a>
					<a href="dilink:///show/{{$.SearchOption.Project}}/assets/{{.Assettype}}/{{.Name}}" class="badge badge-secondary ml-1">File</a>
				{{- else -}}
					<a href="/edit?type=item&project={{$.SearchOption.Project}}&slug={{.Slug}}" class="badge badge-danger ml-1">Edit</a>
					<a href="dilink:///show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}" class="badge badge-secondary ml-1">File</a>
				{{- end}}
				<a href="{{$.Dilog}}/search?tool=csi&project={{$.SearchOption.Project}}&slug={{.Slug}}" class="badge badge-secondary ml-1">Log</a>
			</div>
		</div>
	</div>


	<!--Task-->
	<div class="col-sm-12 col-md-6 col-lg-3">
		
		<div class="ml-1">
			{{if .Rollmedia}}
				<!--onset Setellite-->
				<div class="row">
					
					<a href="/setellite?project={{.Project}}&searchword={{.Rollmedia}}" class="badge badge-done text-dark" target="_blink">onset</a>
					
				</div>
			{{end}}
			
			<!--concept-->
			{{if eq .Concept.Status "1" "2" "3" "4" "5" "6" "7" "8" "9" }}
				<div class="row">
					<h5 class="p-0 m-0">
						<span class="badge badge-{{Status2string .Concept.Status}} statusbox{{CheckDate .Concept.Predate .Concept.Date .Concept.Mdate $.SearchOption.Searchword}}">concept</span>
						{{if .Concept.Predate}}
							<span class="badge badge-light">{{ToShortTime .Concept.Predate}}</span>
						{{end}}
						<span class="badge badge-light">{{ToShortTime .Concept.Date}}</span>
						<span class="badge badge-light">{{ .Concept.User }}</span>
						{{if .Concept.Mov }}
							<a class="badge badge-light" href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Concept.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">M</a>
						{{else}}
							<span class="badge badge-light">M</span>
						{{end}}
						{{if eq .Type "asset" }}
							<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/assets/{{.Assettype}}/{{.Name}}/concept/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
						{{else}}
							<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/concept/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
						{{end}}
					</h5>
				</div>
			{{end}}

			<!--model-->
			{{if eq .Model.Status "1" "2" "3" "4" "5" "6" "7" "8" "9" }}
				<div class="row">
					<h5 class="p-0 m-0">
						<span class="badge badge-{{Status2string .Model.Status}} statusbox{{CheckDate .Model.Predate .Model.Date .Model.Mdate $.SearchOption.Searchword}}">model</span>
						{{if .Model.Predate}}
							<span class="badge badge-light">{{ToShortTime .Model.Predate}}</span>
						{{end}}
						<span class="badge badge-light">{{ToShortTime .Model.Date}}</span>
						<span class="badge badge-light">{{ .Model.User }}</span>
						{{if .Model.Mov }}
							<a class="badge badge-light" href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Model.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">M</a>
						{{else}}
							<span class="badge badge-light">M</span>
						{{end}}
						{{if eq .Type "asset" }}
							<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/assets/{{.Assettype}}/{{.Name}}/model/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
						{{else}}
							<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/model/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
						{{end}}
					</h5>
				</div>
			{{end}}

			<!--mm-->
			{{if eq .Mm.Status "1" "2" "3" "4" "5" "6" "7" "8" "9" }}
				<div class="row">
					<h5 class="p-0 m-0">
						<span class="badge badge-{{Status2string .Mm.Status}} statusbox{{CheckDate .Mm.Predate .Mm.Date .Mm.Mdate $.SearchOption.Searchword}}">mm</span>
						{{if .Mm.Predate}}
							<span class="badge badge-light">{{ToShortTime .Mm.Predate}}</span>
						{{end}}
						<span class="badge badge-light">{{ToShortTime .Mm.Date}}</span>
						<span class="badge badge-light">{{ .Mm.User }}</span>
						{{if .Mm.Mov }}
							<a class="badge badge-light" href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Mm.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">M</a>
						{{else}}
							<span class="badge badge-light">M</span>
						{{end}}
						<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/matchmove/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
					</h5>
				</div>
			{{end}}

			<!--layout-->
			{{if eq .Layout.Status "1" "2" "3" "4" "5" "6" "7" "8" "9" }}
				<div class="row">
					<h5 class="p-0 m-0">
						<span class="badge badge-{{Status2string .Layout.Status}} statusbox{{CheckDate .Layout.Predate .Layout.Date .Layout.Mdate $.SearchOption.Searchword}}">layout</span>
						{{if .Layout.Predate}}
							<span class="badge badge-light">{{ToShortTime .Layout.Predate}}</span>
						{{end}}
						<span class="badge badge-light">{{ToShortTime .Layout.Date}}</span>
						<span class="badge badge-light">{{ .Layout.User }}</span>
						{{if .Layout.Mov }}
							<a class="badge badge-light" href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Layout.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">M</a>
						{{else}}
							<span class="badge badge-light">M</span>
						{{end}}
						<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/layout/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
					</h5>
				</div>
			{{end}}

			<!--ani-->
			{{if eq .Ani.Status "1" "2" "3" "4" "5" "6" "7" "8" "9" }}
				<div class="row">
					<h5 class="p-0 m-0">
						<span class="badge badge-{{Status2string .Ani.Status}} statusbox{{CheckDate .Ani.Predate .Ani.Date .Ani.Mdate $.SearchOption.Searchword}}">ani</span>
						{{if .Ani.Predate}}
							<span class="badge badge-light">{{ToShortTime .Ani.Predate}}</span>
						{{end}}
						<span class="badge badge-light">{{ToShortTime .Ani.Date}}</span>
						<span class="badge badge-light">{{ .Ani.User }}</span>
						{{if .Ani.Mov }}
							<a class="badge badge-light" href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Ani.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">M</a>
						{{else}}
							<span class="badge badge-light">M</span>
						{{end}}
						{{if eq .Type "asset"}}
							<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/assets/{{.Assettype}}/{{.Name}}/ani/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
						{{else}}
							<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/ani/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
						{{end}}
					</h5>
				</div>
			{{end}}
			<!--fx-->
			{{if eq .Fx.Status "1" "2" "3" "4" "5" "6" "7" "8" "9" }}
				<div class="row">
					<h5 class="p-0 m-0">
						<span class="badge badge-{{Status2string .Fx.Status}} statusbox{{CheckDate .Fx.Predate .Fx.Date .Fx.Mdate $.SearchOption.Searchword}}">fx</span>
						{{if .Fx.Predate}}
							<span class="badge badge-light">{{ToShortTime .Fx.Predate}}</span>
						{{end}}
						<span class="badge badge-light">{{ToShortTime .Fx.Date}}</span>
						<span class="badge badge-light">{{ .Fx.User }}</span>
						{{if .Fx.Mov }}
							<a class="badge badge-light" href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Fx.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">M</a>
						{{else}}
							<span class="badge badge-light">M</span>
						{{end}}
						<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/fx/dev{{if Username2Elements .Fx.User}}?elements={{Username2Elements .Fx.User}}{{end}}" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
					</h5>
				</div>
			{{end}}

			<!--motion-->
			{{if eq .Mg.Status "1" "2" "3" "4" "5" "6" "7" "8" "9" }}
				<div class="row">
					<h5 class="p-0 m-0">
						<span class="badge badge-{{Status2string .Mg.Status}} statusbox{{CheckDate .Mg.Predate .Mg.Date .Mg.Mdate $.SearchOption.Searchword}}">motion</span>
						{{if .Mg.Predate}}
							<span class="badge badge-light">{{ToShortTime .Mg.Predate}}</span>
						{{end}}
						<span class="badge badge-light">{{ToShortTime .Mg.Date}}</span>
						<span class="badge badge-light">{{ .Mg.User }}</span>
						{{if .Mg.Mov }}
							<a class="badge badge-light" href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Mg.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">M</a>
						{{else}}
							<span class="badge badge-light">M</span>
						{{end}}
						<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/mg/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
					</h5>
				</div>
			{{end}}

			<!--temp1-->
			{{if eq .Temp1.Status "1" "2" "3" "4" "5" "6" "7" "8" "9" }}
				<div class="row">
					<h5 class="p-0 m-0">
						<span class="badge badge-{{Status2string .Temp1.Status}} statusbox{{CheckDate .Temp1.Predate .Temp1.Date .Temp1.Mdate $.SearchOption.Searchword}}">{{if .Temp1.Title}}{{.Temp1.Title}}{{else}}temp1{{end}}</span>
						{{if .Temp1.Predate}}
							<span class="badge badge-light">{{ToShortTime .Temp1.Predate}}</span>
						{{end}}
						<span class="badge badge-light">{{ToShortTime .Temp1.Date}}</span>
						<span class="badge badge-light">{{ .Temp1.User }}</span>
						{{if .Temp1.Mov }}
							<a class="badge badge-light" href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Temp1.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">M</a>
						{{else}}
							<span class="badge badge-light">M</span>
						{{end}}
						<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/{{.Temp1.Title}}" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
					</h5>
				</div>
			{{end}}

			<!--previz-->
			{{if eq .Previz.Status "1" "2" "3" "4" "5" "6" "7" "8" "9" }}
				<div class="row">
					<h5 class="p-0 m-0">
						<span class="badge badge-{{Status2string .Previz.Status}} statusbox{{CheckDate .Previz.Predate .Previz.Date .Previz.Mdate $.SearchOption.Searchword}}">previz</span>
						{{if .Previz.Predate}}
							<span class="badge badge-light">{{ToShortTime .Previz.Predate}}</span>
						{{end}}
						<span class="badge badge-light">{{ToShortTime .Previz.Date}}</span>
						<span class="badge badge-light">{{ .Previz.User }}</span>
						{{if .Previz.Mov }}
							<a class="badge badge-light" href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Previz.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">M</a>
						{{else}}
							<span class="badge badge-light">M</span>
						{{end}}
						<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/previz/product/out" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
					</h5>
				</div>
			{{end}}
			<!--fur-->
			{{if eq .Fur.Status "1" "2" "3" "4" "5" "6" "7" "8" "9" }}
				<div class="row">
					<h5 class="p-0 m-0">
						<span class="badge badge-{{Status2string .Fur.Status}} statusbox{{CheckDate .Fur.Predate .Fur.Date .Fur.Mdate $.SearchOption.Searchword}}">fur</span>
						{{if .Fur.Predate}}
							<span class="badge badge-light">{{ToShortTime .Fur.Predate}}</span>
						{{end}}
						<span class="badge badge-light">{{ToShortTime .Fur.Date}}</span>
						<span class="badge badge-light">{{ .Fur.User }}</span>
						{{if .Fur.Mov }}
							<a class="badge badge-light" href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Fur.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">M</a>
						{{else}}
							<span class="badge badge-light">M</span>
						{{end}}
						{{if eq .Type "asset"}}
							<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/assets/{{.Assettype}}/{{.Name}}/fur/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
						{{else}}
							<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/fursim/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
						{{end}}
					</h5>
				</div>
			{{end}}
			<!--sim-->
			{{if eq .Sim.Status "1" "2" "3" "4" "5" "6" "7" "8" "9" }}
				<div class="row">
					<h5 class="p-0 m-0">
						<span class="badge badge-{{Status2string .Sim.Status}} statusbox{{CheckDate .Sim.Predate .Sim.Date .Sim.Mdate $.SearchOption.Searchword}}">sim</span>
						{{if .Sim.Predate}}
							<span class="badge badge-light">{{ToShortTime .Sim.Predate}}</span>
						{{end}}
						<span class="badge badge-light">{{ToShortTime .Sim.Date}}</span>
						<span class="badge badge-light">{{ .Sim.User }}</span>
						{{if .Sim.Mov }}
							<a class="badge badge-light" href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Sim.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">M</a>
						{{else}}
							<span class="badge badge-light">M</span>
						{{end}}
						{{if eq .Type "asset"}}
							<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/assets/{{.Assettype}}/{{.Name}}/rig/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
						{{else}}
							<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/sim/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
						{{end}}
					</h5>
				</div>
			{{end}}

			<!--crowd-->
			{{if eq .Crowd.Status "1" "2" "3" "4" "5" "6" "7" "8" "9" }}
				<div class="row">
					<h5 class="p-0 m-0">
						<span class="badge badge-{{Status2string .Crowd.Status}} statusbox{{CheckDate .Crowd.Predate .Crowd.Date .Crowd.Mdate $.SearchOption.Searchword}}">crowd</span>
						{{if .Crowd.Predate}}
							<span class="badge badge-light">{{ToShortTime .Crowd.Predate}}</span>
						{{end}}
						<span class="badge badge-light">{{ToShortTime .Crowd.Date}}</span>
						<span class="badge badge-light">{{ .Crowd.User }}</span>
						{{if .Crowd.Mov }}
							<a class="badge badge-light" href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Crowd.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">M</a>
						{{else}}
							<span class="badge badge-light">M</span>
						{{end}}
						<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/crowd/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
					</h5>
				</div>
			{{end}}

			<!--light-->
			{{if eq .Light.Status "1" "2" "3" "4" "5" "6" "7" "8" "9" }}
				<div class="row">
					<h5 class="p-0 m-0">
						<span class="badge badge-{{Status2string .Light.Status}} statusbox{{CheckDate .Light.Predate .Light.Date .Light.Mdate $.SearchOption.Searchword}}">
							{{if eq .Type "asset"}}
								look
							{{else}}
								light
							{{end}}
						</span>
						{{if .Light.Predate}}
							<span class="badge badge-light">{{ToShortTime .Light.Predate}}</span>
						{{end}}
						<span class="badge badge-light">{{ToShortTime .Light.Date}}</span>
						<span class="badge badge-light">{{ .Light.User }}</span>
						{{if .Light.Mov }}
							<a class="badge badge-light" href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Light.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">M</a>
						{{else}}
							<span class="badge badge-light">M</span>
						{{end}}
						{{if eq .Type "asset"}}
							<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/assets/{{.Assettype}}/{{.Name}}/lookdev/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
						{{else}}
							<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/light/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
						{{end}}
					</h5>
				</div>
			{{end}}
			<!--comp-->
			{{if eq .Comp.Status "1" "2" "3" "4" "5" "6" "7" "8" "9" }}
				<div class="row">
					<h5 class="p-0 m-0">
						<span class="badge badge-{{Status2string .Comp.Status}} statusbox{{CheckDate .Comp.Predate .Comp.Date .Comp.Mdate $.SearchOption.Searchword}}">comp</span>
						{{if .Comp.Predate}}
							<span class="badge badge-light">{{ToShortTime .Comp.Predate}}</span>
						{{end}}
						<span class="badge badge-light">{{ToShortTime .Comp.Date}}</span>
						<span class="badge badge-light">{{ .Comp.User }}</span>
						{{if .Comp.Mov }}
							<a class="badge badge-light" href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Comp.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">M</a>
						{{else}}
							<span class="badge badge-light">M</span>
						{{end}}
						{{if eq .Type "asset"}}
							<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/assets/comp/nk" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
						{{else}}
							<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/comp/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
						{{end}}
					</h5>
				</div>
			{{end}}
			<!--matte-->
			{{if eq .Matte.Status "1" "2" "3" "4" "5" "6" "7" "8" "9" }}
				<div class="row">
					<h5 class="p-0 m-0">
						<span class="badge badge-{{Status2string .Matte.Status}} statusbox{{CheckDate .Matte.Predate .Matte.Date .Matte.Mdate $.SearchOption.Searchword}}">matte</span>
						{{if .Matte.Predate}}
							<span class="badge badge-light">{{ToShortTime .Matte.Predate}}</span>
						{{end}}
						<span class="badge badge-light">{{ToShortTime .Matte.Date}}</span>
						<span class="badge badge-light">{{ .Matte.User }}</span>
						{{if .Matte.Mov }}
							<a class="badge badge-light" href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Matte.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">M</a>
						{{else}}
							<span class="badge badge-light">M</span>
						{{end}}
						<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/matte/pub" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
					</h5>
				</div>
			{{end}}
			<!--env-->
			{{if eq .Env.Status "1" "2" "3" "4" "5" "6" "7" "8" "9" }}
				<div class="row">
					<h5 class="p-0 m-0">
						<span class="badge badge-{{Status2string .Env.Status}} statusbox{{CheckDate .Env.Predate .Env.Date .Env.Mdate $.SearchOption.Searchword}}">env</span>
						{{if .Env.Predate}}
							<span class="badge badge-light">{{ToShortTime .Env.Predate}}</span>
						{{end}}
						<span class="badge badge-light">{{ToShortTime .Env.Date}}</span>
						<span class="badge badge-light">{{ .Env.User }}</span>
						{{if .Env.Mov }}
							<a class="badge badge-light" href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Env.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">M</a>
						{{else}}
							<span class="badge badge-light">M</span>
						{{end}}
						<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/env/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
					</h5>
				</div>
			{{end}}
		</div>
	</div>
	<!--작업내용 & Source-->
	<div class="col-sm-12 col-md-12 col-lg-3">
		<!--Tags-->
		<div class="row">
			<span class="badge badge-light">Tags:</span>
			{{if eq .Type "asset"}}
				{{range .Assettags}}
					<a href="/inputmode?project={{$.SearchOption.Project}}&
						searchword=assettags:{{.}}&
						sortkey={{$.SearchOption.Sortkey}}&
						sortkey={{$.SearchOption.Sortkey}}&
						assign={{$.SearchOption.Assign}}&
						ready={{$.SearchOption.Ready}}&
						wip={{$.SearchOption.Wip}}&
						confirm={{$.SearchOption.Confirm}}&
						done={{$.SearchOption.Done}}&
						omit={{$.SearchOption.Omit}}&
						hold={{$.SearchOption.Hold}}&
						out={{$.SearchOption.Out}}&
						none={{$.SearchOption.None}}&
						template={{$.SearchOption.Template}}&
						task={{$.SearchOption.Task}}" class="badge badge-light">{{.}}</a>
				{{- end}}
			{{end}}
			{{range .Tag}}
				<a href="/inputmode?project={{$.SearchOption.Project}}&
					searchword=tag:{{.}}&
					sortkey={{$.SearchOption.Sortkey}}&
					sortkey={{$.SearchOption.Sortkey}}&
					assign={{$.SearchOption.Assign}}&
					ready={{$.SearchOption.Ready}}&
					wip={{$.SearchOption.Wip}}&
					confirm={{$.SearchOption.Confirm}}&
					done={{$.SearchOption.Done}}&
					omit={{$.SearchOption.Omit}}&
					hold={{$.SearchOption.Hold}}&
					out={{$.SearchOption.Out}}&
					none={{$.SearchOption.None}}&
					template={{$.SearchOption.Template}}&
					task={{$.SearchOption.Task}}" class="badge badge-light">{{.}}</a>
			{{end}}
		</div>
		<!--작업내용-->
		<div class="row">
			<span class="badge badge-light">Note:</span>
		</div>
		<div class="ml-1">
			{{range Split .Note.Text "\n"}}
				{{.}}<br>
			{{end}}
		</div>
		
		
		<!--Katana ObjectID-->
		{{if and .ObjectidIn .ObjectidOut}}
		<div class="row">
			<span class="badge badge-warning">Katana: {{.ObjectidIn}}-{{.ObjectidOut}}</span>
		</div>
		{{end}}
		<!--ProductionCam-->
		<div class="row">
			<span class="badge badge-light">CamInfo:</span>
			{{if .ProductionCam.Projection}}
				<span class="badge badge-info">Projection</span>
			{{end}}
	
			{{if .ProductionCam.PubTask}}
				<span class="badge badge-info">{{.ProductionCam.PubTask}}</span>
			{{end}}
			
			{{if .ProductionCam.PubPath}}
				<a href="dilink://{{.ProductionCam.PubPath}}" class="badge badge-info">campath</a>
			{{end}}
		</div>
		
		<!--연결소스-->
		<div class="row">
			<span class="badge badge-light">Source:</span>
		</div>
		
		<div class="row">
			{{range .Links}}
				<a  href="dilink://{{.Path}}" class="badge badge-light" alt="{{.Author}},{{.Date}}" title="{{.Author}},{{.Date}}">Title</span>
			{{- end}}
		</div>
		
		<!--Scaninfo-->
		<div class="row">
			<span class="badge badge-light">ScanInfo:</span>		
			{{if .Scanname}}
				<span class="badge badge-light" title="scanname">{{.Scanname}}</span>
			{{end}}
			{{if .ScanFrame}}
				<span class="badge badge-light" title="scanframe">{{.ScanFrame}} f</span>
			{{end}}
			{{if and .ScanTimecodeIn .ScanTimecodeOut}}
				<span class="badge badge-light">{{.ScanTimecodeIn}}-{{.ScanTimecodeOut}}</span>{{end}}
			{{if .Scantime}}
				<span class="badge badge-light" title="scanframe">{{ToShortTime .Scantime}}</span>
			{{end}}
		</div>

	</div>

	<!--수정사항-->
	<div class="col-sm-12 col-md-12 col-lg-4">
		{{range .Comments}}
			<span class="badge badge-light">{{.Date}}</span>
			<span class="badge badge-light">{{.Author}}</span>
			{{.Text}}
			<hr size="1" noshade class="p-0 m-0">
		{{end}}
	</div>
</div>
<hr>
{{end}}
</div>

{{end}}