{{define "items2" }}
<div class="p-3">
{{range .Items}}
<div class="pt-1"></div>
<div class="row">
	<div class="col-1">
		{{if .Rnum}}{{.Rnum}}{{end}}
		<a href="mailto:?subject=[{{$.Projectinfo.MailHead}}] {{.Name}}">{{.Name}}</a> {{.Type}}<br>
		{{if eq .Type "asset"}}{{.Assettype}}{{else}}{{.Shottype}}{{end}}<br>
		3D마감: {{ToShortTime .Ddline3d}}<br>
		2D마감: {{ToShortTime .Ddline2d}}<br>
		Scansize: {{.Platesize}}<br>
		{{if .Dsize}}<p>Undistort: {{.Dsize}}</p>{{end}}
		{{if .Rendersize}}<p>Render: {{.Rendersize}}</p>{{else}}{{if .Dsize}}<p>Render: {{.Dsize}}</p>{{end}}{{end}}
		
			{{if eq .Type "asset" -}}
				<a href="/edit?type=item&project={{$.SearchOption.Project}}&slug={{.Slug}}" class="badge badge-danger">E</a>
				<a href="dilink:///show/{{$.SearchOption.Project}}/assets/{{.Assettype}}/{{.Name}}" class="badge badge-secondary">F</a>
			{{- else -}}
				<a href="/edit?type=item&project={{$.SearchOption.Project}}&slug={{.Slug}}" class="badge badge-danger">E</a>
				<a href="dilink:///show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}" class="badge badge-secondary">F</a>
			{{- end}}
			<a href="{{$.Dilog}}/search?tool=csi&project={{$.SearchOption.Project}}&slug={{.Slug}}" class="badge badge-secondary">L</a>
	</div>
	<!--Thumbnail-->
	<div class="col-2">
		<div class="row">
			{{if .Scanname}}<span class="badge badge-light" title="scanname">{{.Scanname}}</span>{{else}}<span class="badge badge-light" title="scanname">no scan name</span>{{end}}
			{{if .ScanFrame}}<span class="badge badge-warning" title="scanframe">{{.ScanFrame}} f</span>{{else}}<span class="badge badge-secondary">0000 f</span>{{end}}

			<!--스캔키코드 표기-->
			{{if .ScanTimecodeIn}}<span class="badge badge-warning">{{.ScanTimecodeIn}}</span>{{else}}<span class="badge badge-secondary">00:00:00:00</span>{{end}}
			{{if .ScanTimecodeOut}}<span class="badge badge-warning">{{.ScanTimecodeOut}}</span>{{else}}<span class="badge badge-secondary">00:00:00:00</span>{{end}}
			{{if .Scantime}}<span class="badge badge-light" title="scanframe">{{.Scantime}}</span>{{end}}
		</div>
		<div class="row">
			{{if .JustTimecodeIn}}<span class="badge badge-warning">{{.JustTimecodeIn}}</span>{{else}}<span class="badge badge-secondary">00:00:00:00</span>{{end}}
			{{if .JustTimecodeOut}}<span class="badge badge-warning">{{.JustTimecodeOut}}</span>{{else}}<span class="badge badge-secondary">00:00:00:00</span>{{end}}
		</div>
		<div class="mx-auto">
			{{if .Thummov}}
				<a href="dilink://{{.Thummov}}">
			{{else}}
				<a href="dilink:///show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/plate/{{.ID}}.mov">
			{{end}}
			<img class="thumbimg{{if .OCIOcc}}OCIOcc{{end}}" src="/thumbnail/{{$.SearchOption.Project}}/{{.ID}}.jpg" onerror="this.src='/assets/img/none.jpg'" class="img-responsive fit-image"></a>
		</div>

		<div class="row">
			{{if .PlateIn}}<span class="badge badge-warning" title="platein">{{.PlateIn}} f</span>{{else}}<span class="badge badge-secondary">0000 f</span>{{end}}
			{{if .PlateOut}}<span class="badge badge-warning" title="plateout">{{.PlateOut}} f</span>{{else}}<span class="badge badge-secondary">0000 f</span>{{end}}
			<span class="badge badge-warning">{{Framecal .PlateIn .PlateOut}} f</span>
		</div>
		<div class="row">
			{{if and .JustIn .JustOut}}<span class="badge badge-danger">Just</span>{{else}}<span class="badge badge-light">Just</span>{{end}}
			{{if .HandleIn}}<span class="badge badge-warning" title="handlein">{{.HandleIn}} f</span>{{else}}<span class="badge badge-secondary">0000 f</span>{{end}}
			{{if .JustIn}}<span class="badge badge-warning" title="justin">{{.JustIn}} f</span>{{else}}<span class="badge badge-secondary">0000 f</span>{{end}}
			{{if .JustOut}}<span class="badge badge-warning" title="justout">{{.JustOut}} f</span>{{else}}<span class="badge badge-secondary">0000 f</span>{{end}}
			{{if .HandleOut}}<span class="badge badge-warning" title="handleout">{{.HandleOut}} f</span>{{else}}<span class="badge badge-secondary">0000 f</span>{{end}}
			{{if and .JustIn .JustOut}}<span class="badge badge-warning" title="just frame">{{Framecal .JustIn .JustOut}} f</span>{{end}}
		</div>
		<div class="row">
			<!--군중에셋 표기-->
			{{if eq .Type "asset"}}
				{{if .CrowdAsset}}
					<span class="badge badge-warning">CrowdAsset</span>
				{{end}}
			{{end}}
			<!--재스캔 사용 플레이트 표기-->
			{{if eq .Type "org" "left"}}
				{{if .UseType}}
					<span class="badge badge-warning">{{.UseType}}</span>
				{{else}}
					<span class="badge badge-light">{{.Type}}</span>
				{{end}}
			{{end}}
			<!--Retime-->
			{{if .Retimeplate}}
				<a href="dilink://{{.Retimeplate}}" class="badge badge-success">RETIME</a>
			{{else}}
				<span class="badge badge-light">RETIME</span>
			{{end}}

			<!--Projection-->
			{{if .Retimeplate}}
				<span class="badge badge-warning">Projection</span>
			{{else}}
				<span class="badge badge-light">Projection</span>
			{{end}}

			<!--Katana ObjectID-->
			{{if and .ObjectidIn .ObjectidOut}}
				<span class="badge badge-warning">Katana: {{.ObjectidIn}}~{{.ObjectidOut}}</span>
			{{else}}
				<span class="badge badge-light">Katana: 0~0</span>
			{{end}}

			<!--Setellite-->
			{{if .Rollmedia}}
				<a href="/setellite?project={{.Project}}&searchword={{.Rollmedia}}" class="badge badge-warning" target="_blink" title="현장툴 데이터 링크">SETELLITE</a>
			{{else}}
				<span class="badge badge-light">SETELLITE</span>
			{{end}}
			<!--Update Time-->
			{{if .Updatetime|CheckUpdate}}
				<span class="badge badge-warning">UPDATE {{ToHumantime .Updatetime}}</span>
			{{end}}
			<!--Status-->
			<span class="badge badge-{{Status2string .Status}}">{{Status2capString .Status}}</span>
			<!--Fin Version-->
			{{if eq .Status "2"}}
				<span class="badge badge-light">
					v{{.Finver}}
					{{if .Findate}}
						({{ToShortTime .Findate}})
					{{end}}
				</span>
			{{end}}
		</div>
		
	</div>


	<!--Task-->
	<div class="col-3">
		
		<div>
			<!--concept-->
			<div class="row">
				<span class="badge badge-{{Status2string .Concept.Status}} statusbox{{CheckDate .Concept.Predate .Concept.Date .Concept.Mdate $.SearchOption.Searchword}}">concept</span>
				{{if .Concept.Predate}}
					<span class="badge badge-light">{{ToShortTime .Concept.Predate}}</span>
				{{end}}
				<span class="badge badge-light">{{ToShortTime .Concept.Date}}</span>
				<span class="badge badge-light">{{ .Concept.User }}</span>
				{{if .Concept.Mov }}
					<a class="badge badge-light" href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Concept.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">M</a>
				{{else}}
					<span class="badge badge-light">M</span>
				{{end}}
				{{if eq .Type "asset" }}
					<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/assets/{{.Assettype}}/{{.Name}}/concept/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
				{{else}}
					<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/concept/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
				{{end}}
			</div>

			<!--model-->
			<div class="row">
				<span class="badge badge-{{Status2string .Model.Status}} statusbox{{CheckDate .Model.Predate .Model.Date .Model.Mdate $.SearchOption.Searchword}}">model</span>
				{{if .Model.Predate}}
					<span class="badge badge-light">{{ToShortTime .Model.Predate}}</span>
				{{end}}
				<span class="badge badge-light">{{ToShortTime .Model.Date}}</span>
				<span class="badge badge-light">{{ .Model.User }}</span>
				{{if .Model.Mov }}
					<a class="badge badge-light" href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Model.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">M</a>
				{{else}}
					<span class="badge badge-light">M</span>
				{{end}}
				{{if eq .Type "asset" }}
					<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/assets/{{.Assettype}}/{{.Name}}/model/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
				{{else}}
					<a class="badge badge-light" href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/model/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">F</a>
				{{end}}
			</div>

			<!--mm-->
			<div class="bg-{{Status2string .Mm.Status}} statusbox{{CheckDate .Mm.Predate .Mm.Date .Mm.Mdate $.SearchOption.Searchword}}">
				{{if eq .Mm.Mov "" -}}mm<br>{{- else -}}<a href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Mm.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">mm ▶</a><br>{{- end}}
				{{if eq .Mm.User "" -}}.<br>{{- else -}}<a href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/matchmove/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">{{.Mm.User}}</a><br>{{- end}}
				{{if .Mm.Predate}}{{ToShortTime .Mm.Predate}}<br>{{end}}{{ToShortTime .Mm.Date}}
			</div>
			<!--layout-->
			<div class="bg-{{Status2string .Layout.Status}} statusbox{{CheckDate .Layout.Predate .Layout.Date .Layout.Mdate $.SearchOption.Searchword}}">
				{{if eq .Layout.Mov "" -}}layout<br>{{- else -}}<a href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Layout.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">layout ▶</a><br>{{- end}}
				{{if eq .Layout.User ""}}.<br>{{- else -}}<a href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/layout/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">{{.Layout.User}}</a><br>{{- end}}
				{{if .Layout.Predate}}{{ToShortTime .Layout.Predate}}<br>{{end}}{{ToShortTime .Layout.Date}}
			</div>
			<!--ani-->
			<div class="bg-{{Status2string .Ani.Status}} statusbox{{CheckDate .Ani.Predate .Ani.Date .Ani.Mdate $.SearchOption.Searchword}}">
				{{if eq .Type "asset" -}}
					{{if eq .Ani.Mov "" -}}ani<br>{{- else -}}<a href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Ani.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">ani ▶</a><br>{{- end}}
					{{if eq .Ani.User "" -}}.<br>{{- else -}}<a href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/assets/{{.Assettype}}/{{.Name}}/ani/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">{{.Ani.User}}</a><br>{{- end}}
					{{if .Ani.Predate}}{{ToShortTime .Ani.Predate}}<br>{{end}}{{ToShortTime .Ani.Date}}
				{{- else -}}
					{{if eq .Ani.Mov "" -}}ani<br>{{- else -}}<a href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Ani.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">ani ▶</a><br>{{- end}}
					{{if eq .Ani.User "" -}}.<br>{{- else -}}<a href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/ani/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">{{.Ani.User}}</a><br>{{- end}}
					{{if .Ani.Predate}}{{ToShortTime .Ani.Predate}}<br>{{end}}{{ToShortTime .Ani.Date}}
				{{- end}}
			</div>
			<!--fx-->
			<div class="bg-{{Status2string .Fx.Status}} statusbox{{CheckDate .Fx.Predate .Fx.Date .Fx.Mdate $.SearchOption.Searchword}}">
				{{if eq .Fx.Mov "" -}}fx<br>{{- else -}}<a href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Fx.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">fx ▶</a><br>{{- end}}
				{{if eq .Fx.User "" -}}
					.<br>
				{{- else -}}
					<a href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/fx/dev{{if Username2Elements .Fx.User}}?elements={{Username2Elements .Fx.User}}{{end}}" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">{{.Fx.User}}</a><br>
				{{- end}}
				{{if .Fx.Predate}}{{ToShortTime .Fx.Predate}}<br>{{end}}{{ToShortTime .Fx.Date}}
			</div>
			<!--motion-->
			<div class="bg-{{Status2string .Mg.Status}} statusbox{{CheckDate .Mg.Predate .Mg.Date .Mg.Mdate $.SearchOption.Searchword}}">
				{{if eq .Mg.Mov "" -}}mg<br>{{- else -}}<a href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Mg.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">mg ▶</a><br>{{- end}}
				{{if eq .Mg.User "" -}}.<br>{{- else -}}<a href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/mg/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">{{.Mg.User}}</a><br>{{- end}}
				{{if .Mg.Predate}}{{ToShortTime .Mg.Predate}}<br>{{end}}{{ToShortTime .Mg.Date}}
			</div>
			<!--temp1-->
			<div class="bg-{{Status2string .Temp1.Status}} statusbox{{CheckDate .Temp1.Predate .Temp1.Date .Temp1.Mdate $.SearchOption.Searchword}}">
				{{if eq .Temp1.Mov "" -}}{{if .Temp1.Title}}{{.Temp1.Title}}{{end}}<br>{{- else -}}<a href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Temp1.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">{{.Temp1.Title}} ▶</a><br>{{- end}}
				{{if eq .Temp1.User "" -}}.<br>{{- else -}}<a href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/{{.Temp1.Title}}" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">{{.Temp1.User}}</a><br>{{- end}}
				{{if .Temp1.Predate}}{{ToShortTime .Temp1.Predate}}<br>{{end}}{{ToShortTime .Temp1.Date}}
			</div>
		</div>
		<div class="row">
			<!--previz-->
			<div class="bg-{{Status2string .Previz.Status}} statusbox{{CheckDate .Previz.Predate .Previz.Date .Previz.Mdate $.SearchOption.Searchword}}">
				{{if eq .Type "asset" -}}
					{{if eq .Previz.Mov "" -}}previz<br>{{- else -}}<a href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Previz.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">previz ▶</a><br>{{- end}}
					{{if eq .Previz.User "" -}}.<br>{{- else -}}<a href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/previz/product/out" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">{{.Previz.User}}</a><br>{{- end}}
					{{if .Previz.Predate}}{{ToShortTime .Previz.Predate}}<br>{{end}}{{ToShortTime .Previz.Date}}
				{{- else -}}
					{{if eq .Previz.Mov "" -}}previz<br>{{- else -}}<a href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Previz.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">previz ▶</a><br>{{- end}}
					{{if eq .Previz.User "" -}}.<br>{{- else -}}<a href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/previz/product/out" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">{{.Previz.User}}</a><br>{{- end}}
					{{if .Previz.Predate}}{{ToShortTime .Previz.Predate}}<br>{{end}}{{ToShortTime .Previz.Date}}
				{{- end}}
			</div>
			<!--fur-->
			<div class="bg-{{Status2string .Fur.Status}} statusbox{{CheckDate .Fur.Predate .Fur.Date .Fur.Mdate $.SearchOption.Searchword}}">
				{{if eq .Type "asset" -}}
					{{if eq .Fur.Mov "" -}}fur<br>{{- else -}}<a href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Fur.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">fur ▶</a><br>{{- end}}
					{{if eq .Fur.User "" -}}.<br>{{- else -}}<a href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/assets/{{.Assettype}}/{{.Name}}/fur/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">{{.Fur.User}}</a><br>{{- end}}
					{{if .Fur.Predate}}{{ToShortTime .Fur.Predate}}<br>{{end}}{{ToShortTime .Fur.Date}}
				{{- else -}}
					{{if eq .Fur.Mov "" -}}fursim<br>{{- else -}}<a href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Fur.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">fursim ▶</a><br>{{- end}}
					{{if eq .Fur.User "" -}}.<br>{{- else -}}<a href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/fursim/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">{{.Fur.User}}</a><br>{{- end}}
					{{if .Fur.Predate}}{{ToShortTime .Fur.Predate}}<br>{{end}}{{ToShortTime .Fur.Date}}
				{{- end}}
			</div>
			<!--sim-->
			<div class="bg-{{Status2string .Sim.Status}} statusbox{{CheckDate .Sim.Predate .Sim.Date .Sim.Mdate $.SearchOption.Searchword}}">
				{{if eq .Type "asset" -}}
					{{if eq .Sim.Mov "" -}}rig<br>{{- else -}}<a href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Sim.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">rig ▶</a><br>{{- end}}
					{{if eq .Sim.User "" -}}.<br>{{- else -}}<a href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/assets/{{.Assettype}}/{{.Name}}/rig/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">{{.Sim.User}}</a><br>{{- end}}
					{{if .Sim.Predate}}{{ToShortTime .Sim.Predate}}<br>{{end}}{{ToShortTime .Sim.Date}}
				{{- else -}}
					{{if eq .Sim.Mov "" -}}sim<br>{{- else -}}<a href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Sim.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">sim ▶</a><br>{{- end}}
					{{if eq .Sim.User "" -}}.<br>{{- else -}}<a href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/sim/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">{{.Sim.User}}</a><br>{{- end}}
					{{if .Sim.Predate}}{{ToShortTime .Sim.Predate}}<br>{{end}}{{ToShortTime .Sim.Date}}
				{{- end}}
			</div>
			<!--crowd-->
			<div class="bg-{{Status2string .Crowd.Status}} statusbox{{CheckDate .Crowd.Predate .Crowd.Date .Crowd.Mdate $.SearchOption.Searchword}}">
				{{if eq .Crowd.Mov "" -}}crowd<br>{{- else -}}<a href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Crowd.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">crowd ▶</a><br>{{- end}}
				{{if eq .Crowd.User "" -}}.<br>{{- else -}}<a href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/crowd/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">{{.Crowd.User}}</a><br>{{- end}}
				{{if .Crowd.Predate}}{{ToShortTime .Crowd.Predate}}<br>{{end}}{{ToShortTime .Crowd.Date}}
			</div>
			<!--light-->
			<div class="bg-{{Status2string .Light.Status}} statusbox{{CheckDate .Light.Predate .Light.Date .Light.Mdate $.SearchOption.Searchword}}">
				{{if eq .Type "asset" -}}
					{{if eq .Light.Mov "" -}}look<br>{{- else -}}<a href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Light.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">look ▶</a><br>{{- end}}
					{{if eq .Light.User "" -}}.<br>{{- else -}}<a href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/assets/{{.Assettype}}/{{.Name}}/lookdev/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">{{.Light.User}}</a><br>{{- end}}
					{{if .Light.Predate}}{{ToShortTime .Light.Predate}}<br>{{end}}{{ToShortTime .Light.Date}}
				{{- else -}}
					{{if eq .Light.Mov "" -}}light<br>{{- else -}}<a href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Light.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">light ▶</a><br>{{- end}}
					{{if eq .Light.User "" -}}.<br>{{- else -}}<a href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/light/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">{{.Light.User}}</a><br>{{- end}}
					{{if .Light.Predate}}{{ToShortTime .Light.Predate}}<br>{{end}}{{ToShortTime .Light.Date}}
				{{- end}}
			</div>
			<!--comp-->
			<div class="bg-{{Status2string .Comp.Status}} statusbox{{CheckDate .Comp.Predate .Comp.Date .Comp.Mdate $.SearchOption.Searchword}}">
				{{if eq .Type "asset" -}}
					{{if eq .Comp.Mov "" -}}comp<br>{{- else -}}<a href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Comp.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">comp ▶</a><br>{{- end}}
					{{if eq .Comp.User "" -}}.<br>{{- else -}}<a href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/assets/comp/nk" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">{{.Comp.User}}</a><br>{{- end}}
					{{if .Comp.Predate}}{{ToShortTime .Comp.Predate}}<br>{{end}}{{ToShortTime .Comp.Date}}
				{{- else -}}
					{{if eq .Comp.Mov "" -}}comp<br>{{- else -}}<a href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Comp.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">comp ▶</a><br>{{- end}}
					{{if eq .Comp.User "" -}}.<br>{{- else -}}<a href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/comp/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">{{.Comp.User}}</a><br>{{- end}}
					{{if .Comp.Predate}}{{ToShortTime .Comp.Predate}}<br>{{end}}{{ToShortTime .Comp.Date}}
				{{- end}}
			</div>
			<!--matte-->
			<div class="bg-{{Status2string .Matte.Status}} statusbox{{CheckDate .Matte.Predate .Matte.Date .Matte.Mdate $.SearchOption.Searchword}}">
				{{if eq .Matte.Mov "" -}}matte<br>{{- else -}}<a href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Matte.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">matte ▶</a><br>{{- end}}
				{{if eq .Matte.User "" -}}.<br>{{- else -}}<a href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/matte/pub" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">{{.Matte.User}}</a><br>{{- end}}
				{{if .Matte.Predate}}{{ToShortTime .Matte.Predate}}<br>{{end}}{{ToShortTime .Matte.Date}}
			</div>
			<!--env-->
			<div class="bg-{{Status2string .Env.Status}} statusbox{{CheckDate .Env.Predate .Env.Date .Env.Mdate $.SearchOption.Searchword}}">
				{{if eq .Env.Mov "" -}}env<br>{{- else -}}<a href="dilink://{{if .Beforemov}}{{.Beforemov}};{{end}}{{.Env.Mov}}{{if .Aftermov}};{{.Aftermov}}{{end}}">env ▶</a><br>{{- end}}
				{{if eq .Env.User "" -}}.<br>{{- else -}}<a href="{{$.Wfs}}/show/{{$.SearchOption.Project}}/seq/{{name2seq .Name}}/{{.Name}}/env/dev" onclick="window.open(this.href, 'nuke', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=1, scrollbars=1').focus(); return false;">{{.Env.User}}</a><br>{{- end}}
				{{if .Env.Predate}}{{ToShortTime .Env.Predate}}<br>{{end}}{{ToShortTime .Env.Date}}
			</div>
		</div>
	</div>
	<!--작업내용-->
	<div class="col-2">
		<div class="container">
			<div class="subtitle">
				<sub>작업내용:</sub>
			</div>
			<div class="info">
				{{if .ProductionCam.PubTask}}
					<div class="camPub">
					<div class="head"><img src="/assets/img/video.svg" alt="cam" title="카메라 퍼블리시 정보"></div>
					<div title="카메라 퍼블리시 태스크">{{.ProductionCam.PubTask}}</div>
					
					{{if .ProductionCam.PubPath}}
						<div><a href="dilink://{{.ProductionCam.PubPath}}"><img src="/assets/img/folder-open_regular.svg" alt="openPath" title="카메라 퍼블리시 경로 링크"></a></div>
					{{end}}
					</div>
				{{end}}
			</div>
		</div>
		<div class="note">
			{{ .Note.Text }}
		</div>
		<!--연결소스-->
		<sub>연결소스: </sub><br>
		{{range .Link | ReverseStringSlice }}
			{{.|note2body|RemovePath}}<a class="reflink" href="dilink://{{.|note2body|GetPath}}">{{.|note2body|GetPath}}</a><br>
		{{- end}}		
	</div>

	<!--수정사항-->
	<div class="col-3">
		{{range .Pmnote | ReverseStringSlice -}}
			<span>{{pmnote2body .}}</span>
			<hr size="1" noshade class="p-0 m-0">
		{{- end}}
	</div>
	<!--Tags-->
	<div class="col-1">
		{{if eq .Type "asset"}}
			{{range .Assettags}}
				<a href="/inputmode?project={{$.SearchOption.Project}}&
					searchword=assettags:{{.}}&
					sortkey={{$.SearchOption.Sortkey}}&
					sortkey={{$.SearchOption.Sortkey}}&
					assign={{$.SearchOption.Assign}}&
					ready={{$.SearchOption.Ready}}&
					wip={{$.SearchOption.Wip}}&
					confirm={{$.SearchOption.Confirm}}&
					done={{$.SearchOption.Done}}&
					omit={{$.SearchOption.Omit}}&
					hold={{$.SearchOption.Hold}}&
					out={{$.SearchOption.Out}}&
					none={{$.SearchOption.None}}&
					template={{$.SearchOption.Template}}&
					task={{$.SearchOption.Task}}" class="badge badge-secondary">{{.}}</a>
			{{- end}}
		{{end}}
		{{range .Tag}}
			<a href="/inputmode?project={{$.SearchOption.Project}}&
				searchword=tag:{{.}}&
				sortkey={{$.SearchOption.Sortkey}}&
				sortkey={{$.SearchOption.Sortkey}}&
				assign={{$.SearchOption.Assign}}&
				ready={{$.SearchOption.Ready}}&
				wip={{$.SearchOption.Wip}}&
				confirm={{$.SearchOption.Confirm}}&
				done={{$.SearchOption.Done}}&
				omit={{$.SearchOption.Omit}}&
				hold={{$.SearchOption.Hold}}&
				out={{$.SearchOption.Out}}&
				none={{$.SearchOption.None}}&
				template={{$.SearchOption.Template}}&
				task={{$.SearchOption.Task}}" class="badge badge-secondary">{{.}}</a>
		{{end}}
	</div>
</div>
{{end}}
</div>

{{end}}