{{define "modal-projectforpartner"}}
    <div class="modal" id="modal-projectforpartner" tabindex="-1" role="dialog" aria-labelledby="modal-projectforpartner" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content bg-darkmode">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Project For Partner
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input type="text" id="projectforpartner-id" hidden>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="pt-1">ProjectName<span class="text-danger">*</span></label>
                                        <select class="form-control" id="projectforpartner-projectname"></select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="pt-1">PartnerName<span class="text-danger">*</span></label>
                                        <select class="form-control" id="projectforpartner-partnername"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="pt-1">R&R<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="projectforpartner-rnr" placeholder="R&R">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="pt-1">ProjectType</label>
                                        <input type="text" class="form-control" id="projectforpartner-projecttype" placeholder="ProjectType">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="pt-1">사용언어</label>
                                        <input type="text" class="form-control" id="projectforpartner-language" placeholder="사용언어">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="pt-1">파트너사 내부 매니저</label>
                                        <input type="text" class="form-control" id="projectforpartner-partnerinternalmanager">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="pt-1">파트너사 매니저 Email</label>
                                        <input type="text" class="form-control" id="projectforpartner-manageremail">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="pt-1">사용 메신저</label>
                                        <input type="text" class="form-control" id="projectforpartner-messenger" placeholder="사용 메신저">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="pt-1">메신저 ID</label>
                                        <input type="text" class="form-control" id="projectforpartner-messengerid" placeholder="메신저ID">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="pt-1">StartDate</label>
                                        <input type="text" class="form-control" id="projectforpartner-startdate" placeholder="StartDate">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="pt-1">EndDate</label>
                                        <input type="text" class="form-control" id="projectforpartner-enddate" placeholder="EndDate">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="pt-1">남은 샷</label>
                                        <input type="text" class="form-control" id="projectforpartner-leftovershot">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="pt-1">전체 샷</label>
                                        <input type="text" class="form-control" id="projectforpartner-totalshot">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="pt-1">ProjectBudget</label>
                                        <input type="text" class="form-control" id="projectforpartner-projectbudget" placeholder="ProjectBudget">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="pt-1">Budget 비율</label>
                                        <input type="text" class="form-control" id="projectforpartner-percentageoftotalbudget" placeholder="">
                                    </div>
                                    <small>총 Budget중 몇 퍼센트인가?</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="pt-1">클라이언트에게 돈받는 날짜</label>
                                        <input type="text" class="form-control" id="projectforpartner-paymentdateforclient">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="pt-1">밴더에게 돈을 주는 날짜</label>
                                        <input type="text" class="form-control" id="projectforpartner-paymentdateforvender">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="pt-1">Price Per Shot</label>
                                        <input type="text" class="form-control" id="projectforpartner-pricepershot">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="pt-1">Price Per Frame</label>
                                        <input type="text" class="form-control" id="projectforpartner-priceperframe">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="pt-1">지급회차</label>
                                        <input type="text" class="form-control" id="projectforpartner-paymentcycle">
                                        <small>예) 1/4, 2/4</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="pt-1">예상 맨데이</label>
                                        <input type="text" class="form-control" id="projectforpartner-manday">
                                        <small>회계상 필요함.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="pt-1">설명</label>
                                        <textarea class="form-control" id="projectforpartner-description" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-outline-darkmode" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-sm btn-outline-warning" id="projectforpartner-postbutton" onclick="Post()" data-bs-dismiss="modal" hidden>ADD</button>
                    <button type="button" class="btn btn-sm btn-outline-warning" id="projectforpartner-putbutton" onclick="Put()" data-bs-dismiss="modal" hidden>EDIT</button>
                    <button type="button" class="btn btn-sm btn-outline-danger" id="projectforpartner-deletebutton" onclick="Delete()" data-bs-dismiss="modal" hidden>DELETE</button>
                </div>
            </div>
        </div>
    </div>
{{end}}