{{define "modal-mail"}}
    <!-- Modal: Send Email-->
    <div class="modal fade" id="modal-sendemail" tabindex="-1" role="dialog" aria-labelledby="modal-sendemail" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkmode">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-addsource-title">Send E-mail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-darkmode">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <a href="" id="web-mail-link" class="btn btn-dark btn-block">Mail Client</a>
                        </div>
                        <div class="col">
                            <a href="" id="zimbra-mail-link" class="btn btn-dark btn-block">Zimbra 웹 클라이언트</a>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col text-darkmode small">
                            크롬 사용시 <span class="text-warning">chrome://settings/handlers</span> 에서 메일 Handler를 설정할 수 있습니다.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-darkmode" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{{end}}