{{define "modal-review"}}
    <!-- Modal: Rm ReviewComment-->
    <div class="modal fade" id="modal-rmreviewcomment" tabindex="-1" role="dialog" aria-labelledby="modal-rmreviewcomment" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkmode">
                <div class="modal-header">
                <h5 class="modal-title" id="modal-rmreviewcomment-title">Rm Review Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-darkmode">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="modal-rmreviewcomment-id">
                    <input type="hidden" class="form-control" id="modal-rmreviewcomment-time">
                    <input type="hidden" class="form-control" id="modal-rmreviewcomment-project">
                    <input type="hidden" class="form-control" id="modal-rmreviewcomment-name">
                    <div class="form-group">
                        <label for="modal-rmreviewcomment-text" class="col-form-label">아래 내용을 삭제하겠습니까?</label>
                        <textarea class="form-control" id="modal-rmreviewcomment-text" rows="4" disabled></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-darkmode" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-danger" onclick="rmReviewComment()" data-dismiss="modal">DELETE</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: Edit ReviewComment-->
    <div class="modal fade" id="modal-editreviewcomment" tabindex="-1" role="dialog" aria-labelledby="modal-editreviewcomment" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkmode">
                <div class="modal-header">
                <h5 class="modal-title" id="modal-editreviewcomment-title">Edit Review Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-darkmode">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="modal-editreviewcomment-id">
                    <input type="hidden" class="form-control" id="modal-editreviewcomment-time">
                    <div class="form-group">
                        <label for="modal-editreviewcomment-text" class="col-form-label">Comment</label>
                        <textarea class="form-control" id="modal-editreviewcomment-text" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="modal-editreviewcomment-media" class="col-form-label">Media</label>
                        <input type="text" class="form-control" id="modal-editreviewcomment-media">
                        <small class="form-text text-muted">해당 커맨트와 연결된 Media 경로를 수정합니다.</small>
                    </div>
                    <div class="form-group">
                        <label for="modal-editreviewcomment-frame" class="col-form-label">Frame</label>
                        <input type="number" value="0" min="1" max="99999" step="1" class="form-control" id="modal-editreviewcomment-frame">
                        <small class="form-text text-muted">리뷰내용이 위 프레임 값에 해당됩니다. 값이 0 이라면 표시되지 않습니다.</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-darkmode" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-warning" onclick="editReviewComment()" data-dismiss="modal">Edit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: Rm Review-->
    <div class="modal fade" id="modal-rmreview" tabindex="-1" role="dialog" aria-labelledby="modal-rmreview" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkmode">
                <div class="modal-header">
                <h5 class="modal-title" id="modal-rmreview-title">Rm Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-darkmode">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <span class="text-darkmode" id="modal-rmreview-id"></span><br>
                    <span class="text-darkmode" id="modal-rmreview-project"></span><br>
                    <span class="text-darkmode" id="modal-rmreview-name"></span><br>
                    <label for="modal-rmreview-text" class="col-form-label">해당 리뷰를 삭제하겠습니까?</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-darkmode" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-danger" onclick="rmReview()" data-dismiss="modal">DELETE</button>
                </div>
            </div>
        </div>
    </div>

    

    

    <!-- Modal: Review Goto Frame-->
    <div class="modal fade" id="modal-gotoframe" tabindex="-1" role="dialog" aria-labelledby="modal-gotoframe" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkmode">
                <div class="modal-header">
                <h5 class="modal-title" id="modal-gotoframe-title">Go to frame</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-darkmode">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="modal-gotoframe-text" class="col-form-label">Frame:</label>
                            <input type="number" class="form-control" id="modal-gotoframe-frame">
                            <small class="text-white">이동할 프레임을 입력해주세요.</small>
                        </div>
                    </div>
                </div>                
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-darkmode" data-dismiss="modal">Go</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: Add Review Stage Mode -->
    <div class="modal fade" id="modal-addreview-stagemode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content bg-darkmode">
            <div class="modal-header">
            <h5 class="modal-title" id="modal-addreview-stagemode-title">Add Review</h5>
            <button type="button" class="close" data-bs-dismiss="modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-darkmode">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4 pt-0 pb-0">
                        <div class="form-group">
                            <label class="form-text">Project</label>
                            <select id="modal-addreview-stagemode-project" class="form-control">
                                {{range .Projectlist}}
							        <option value="{{.}}" {{if eq . $.SearchOption.Project}}selected{{end}}>{{.}}</option>
					        	{{end}}
                            </select>
                            <small>프로젝트를 선택해주세요.</small>
                        </div>
                    </div>
                    <div class="col-8 pt-0 pb-0">
                        <div class="form-group">
                            <label class="form-text">Name</label>
                            <input type="text" class="form-control" id="modal-addreview-stagemode-name" value="">
                            <small>Shot, Asset 이름</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col pt-0 pb-0">
                        <div class="form-group">
                            <label class="form-text">Task</label>
                            <select id="modal-addreview-stagemode-task" class="form-control">
                                {{range .TasksettingNames}}
                                    <option value="{{.}}" {{if eq $.SearchOption.Task . }}selected{{end}}>{{.}}</option>
                                {{end}}
                            </select>
                            <small>Task를 선택해주세요.</small>
                        </div>
                    </div>
                    <div class="col pt-0 pb-0">
                        <div class="form-group">
                            <label class="form-text">Stage</label>
                            <select class="form-control" id="modal-addreview-stagemode-stage">
                                {{if not .Stages}}
                                    <option value="">Stage 등록필요</option>
                                {{else}}
                                    {{range .Stages}}
                                        <option value="{{.ID}}" {{if .InitStage}}selected{{end}}>{{.ID}}</option>
                                    {{end}}
                                {{end}}
                            </select>
                            <small>리뷰 Stage 이름</small>
                        </div>
                    </div>
                    <div class="col pt-0 pb-0" hidden>
                        <div class="form-group">
                            <label class="form-text">Type</label>
                            <select class="form-control" id="modal-addreview-stagemode-type">
                                <option value="clip">Clip</option>
                                <option value="image">Image</option>
                            </select>
                            <small>리뷰 Media Type</small>
                        </div>
                    </div>
                    <div class="col pt-0 pb-0" hidden>
                        <div class="form-group">
                            <label class="form-text">Ext</label>
                            <select class="form-control" id="modal-addreview-stagemode-ext">
                                <option value=".mp4">.mp4</option>
                                <option value=".jpg">.jpg</option>
                                <option value=".png">.png</option>
                            </select>
                            <small>변환 확장자</small>
                        </div>
                    </div>
                    <div class="col pt-0 pb-0" hidden>
                        <div class="form-group">
                            <label class="form-text">Author</label>
                            <input type="text" class="form-control" id="modal-addreview-stagemode-author" value="{{.User.ID}}" disabled>
                            <small>사용자 ID</small>
                        </div>
                    </div>
                    <div class="col form-group">
                        <label class="form-text">FPS</label>
                        <select id="modal-addreview-stagemode-fps" class="form-control">
                            <option value="24">24</option>
                            <option value="23.976">23.976</option>
                            <option value="23.98">23.98</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                            <option value="29.97">29.97</option>
                            <option value="59.94">59.94</option>
                            <option value="60">60</option>
                        </select>
                        <small>재생시 FPS</small>
                    </div>
                </div>
                <div class="form-group pt-0 m-0">
                    <label class="form-text">Path</label>
                    <input type="text" class="form-control" placeholder="review 데이터 경로" value="" id="modal-addreview-stagemode-path">
                </div>
                <div class="form-group pt-1 m-0">
                    <form id="reviewStageModeFileDropzone" action="/upload-reviewfile" method="post" class="dropzone" enctype="multipart/form-data">
                        <div class="fallback">
                            <input name="file" type="file"/>
                        </div>
                    </form>
                    
                    <div class="mt-2">
                        <small class="form-text text-muted">업로드할 Review 파일을 Drag & Drop 해주세요.</small>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="modal-addreview-stagemode-removeafterprocess" name="modal-addreview-stagemode-removeafterprocess" class="form-check-input" disabled>
                        <label class="form-check-label form-text text-muted" for="modal-addreview-stagemode-removeafterprocess">영상 Converting이 끝나면 업로드한 영상을 삭제합니다.</label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col form-group">
                        <label class="form-text">Main Version</label>
                        <input type="number" value="1" min="1" max="1000" step="1" class="form-control" id="modal-addreview-stagemode-mainversion">
                        <small class="form-text text-muted">메인버전</small>
                    </div>
                    <div class="col form-group">
                        <label class="form-text">Sub Version</label>
                        <input type="number" value="0" min="0" max="1000" step="1" class="form-control" id="modal-addreview-stagemode-subversion">
                        <small class="form-text text-muted">서브버전</small>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="modal-addreview-stagemode-description" class="col-form-label">Description</label>
                    <textarea class="form-control" id="modal-addreview-stagemode-description" rows="2"></textarea>
                </div>
                <div class="form-group p-0 m-0">
                    <label class="form-text">Camera Info</label>
                    <input type="text" class="form-control" placeholder="camera info" value="" id="modal-addreview-stagemode-camerainfo">
                    <small>카메라 렌즈 미리수 정보처럼 리뷰어의 판단에 영향을 미치는 정보를 기록해 주세요.</small>
                </div>
                <div class="form-group p-0 m-0">
                    <label for="modal-addreview-stagemode-outputdatapath" class="col-form-label">Output Data Path</label>
                    <input type="text" class="form-control" id="modal-addreview-stagemode-outputdatapath">
                    <small class="form-text text-muted">Review 완료되면 외부로 복사해야하는 데이터 경로(Plate, mov, 협업데이터 경로)</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-darkmode" data-bs-dismiss="modal" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-warning" onclick="addReviewStageMode()" data-dismiss="modal">ADD</button>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal: Add Review Status Mode -->
    <div class="modal fade" id="modal-addreview-statusmode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content bg-darkmode">
            <div class="modal-header">
            <h5 class="modal-title" id="modal-addreview-statusmode-title">Add Review</h5>
            <button type="button" class="close" data-bs-dismiss="modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-darkmode">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4 pt-0 pb-0">
                        <div class="form-group">
                            <label class="form-text">Project</label>
                            <select id="modal-addreview-statusmode-project" class="form-control">
                                {{range .Projectlist}}
							        <option value="{{.}}" {{if eq . $.SearchOption.Project}}selected{{end}}>{{.}}</option>
					        	{{end}}
                            </select>
                            <small>프로젝트를 선택해주세요.</small>
                        </div>
                    </div>
                    <div class="col-8 pt-0 pb-0">
                        <div class="form-group">
                            <label class="form-text">Name</label>
                            <input type="text" class="form-control" id="modal-addreview-statusmode-name" value="">
                            <small>Shot, Asset 이름</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col pt-0 pb-0">
                        <div class="form-group">
                            <label class="form-text">Task</label>
                            <select id="modal-addreview-statusmode-task" class="form-control">
                                {{range .TasksettingNames}}
                                    <option value="{{.}}" {{if eq $.SearchOption.Task . }}selected{{end}}>{{.}}</option>
                                {{end}}
                            </select>
                            <small>Task를 선택해주세요.</small>
                        </div>
                    </div>
                    <div class="col pt-0 pb-0" hidden>
                        <div class="form-group">
                            <label class="form-text">Type</label>
                            <select class="form-control" id="modal-addreview-statusmode-type">
                                <option value="clip">Clip</option>
                                <option value="image">Image</option>
                            </select>
                            <small>리뷰 Media Type</small>
                        </div>
                    </div>
                    <div class="col pt-0 pb-0" hidden>
                        <div class="form-group">
                            <label class="form-text">Ext</label>
                            <select class="form-control" id="modal-addreview-statusmode-ext">
                                <option value=".mp4">.mp4</option>
                                <option value=".jpg">.jpg</option>
                                <option value=".png">.png</option>
                            </select>
                            <small>변환 확장자</small>
                        </div>
                    </div>
                    <div class="col pt-0 pb-0" hidden>
                        <div class="form-group">
                            <label class="form-text">Author</label>
                            <input type="text" class="form-control" id="modal-addreview-statusmode-author" value="{{.User.ID}}" disabled>
                            <small>사용자 ID</small>
                        </div>
                    </div>
                    <div class="col form-group">
                        <label class="form-text">FPS</label>
                        <select id="modal-addreview-statusmode-fps" class="form-control">
                            <option value="24">24</option>
                            <option value="23.976">23.976</option>
                            <option value="23.98">23.98</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                            <option value="29.97">29.97</option>
                            <option value="59.94">59.94</option>
                            <option value="60">60</option>
                        </select>
                        <small>재생시 FPS</small>
                    </div>
                </div>
                <div class="form-group pt-0 m-0">
                    <label class="form-text">Path</label>
                    <input type="text" class="form-control" placeholder="review 데이터 경로" value="" id="modal-addreview-statusmode-path">
                </div>
                <div class="form-group pt-1 m-0">
                    <form id="reviewStatusModeFileDropzone" action="/upload-reviewfile" method="post" class="dropzone" enctype="multipart/form-data">
                        <div class="fallback">
                            <input name="file" type="file"/>
                        </div>
                    </form>
                    
                    <div class="mt-2">
                        <small class="form-text text-muted">업로드할 Review 파일을 Drag & Drop 해주세요.</small>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="modal-addreview-statusmode-removeafterprocess" name="modal-addreview-statusmode-removeafterprocess" class="form-check-input" disabled>
                        <label class="form-check-label form-text text-muted" for="modal-addreview-statusmode-removeafterprocess">영상 Converting이 끝나면 업로드한 영상을 삭제합니다.</label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col form-group">
                        <label class="form-text">Main Version</label>
                        <input type="number" value="1" min="1" max="1000" step="1" class="form-control" id="modal-addreview-statusmode-mainversion">
                        <small class="form-text text-muted">메인버전</small>
                    </div>
                    <div class="col form-group">
                        <label class="form-text">Sub Version</label>
                        <input type="number" value="0" min="0" max="1000" step="1" class="form-control" id="modal-addreview-statusmode-subversion">
                        <small class="form-text text-muted">서브버전</small>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="modal-addreview-statusmode-description" class="col-form-label">Description</label>
                    <textarea class="form-control" id="modal-addreview-statusmode-description" rows="2"></textarea>
                </div>
                <div class="form-group p-0 m-0">
                    <label class="form-text">Camera Info</label>
                    <input type="text" class="form-control" placeholder="camera info" value="" id="modal-addreview-statusmode-camerainfo">
                    <small>카메라 렌즈 미리수 정보처럼 리뷰어의 판단에 영향을 미치는 정보를 기록해 주세요.</small>
                </div>
                <div class="form-group p-0 m-0">
                    <label for="modal-addreview-statusmode-outputdatapath" class="col-form-label">Output Data Path</label>
                    <input type="text" class="form-control" id="modal-addreview-statusmode-outputdatapath">
                    <small class="form-text text-muted">Review 완료되면 외부로 복사해야하는 데이터 경로(Plate, mov, 협업데이터 경로)</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-darkmode" data-bs-dismiss="modal" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-warning" onclick="addReviewStatusMode()" data-dismiss="modal">ADD</button>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal: Edit Review -->
    <div class="modal fade" id="modal-editreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkmode">
                <div class="modal-header">
                <h5 class="modal-title" id="modal-editreview-title">Edit Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-darkmode">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="modal-editreview-id">
                    <div class="row">
                        <div class="col-4 pt-0 pb-0">
                            <div class="form-group">
                                <label class="form-text">Project</label>
                                <select id="modal-editreview-project" class="form-control" onchange="setReviewProject()">
                                    {{range .Projectlist}}
                                        <option value="{{.}}" {{if eq . $.SearchOption.Project}}selected{{end}}>{{.}}</option>
                                    {{end}}
                                </select>
                                <small>프로젝트를 선택해주세요.</small>
                            </div>
                        </div>
                        <div class="col-8 pt-0 pb-0">
                            <div class="form-group">
                                <label class="form-text">Name</label>
                                <input type="text" class="form-control" id="modal-editreview-name" value="" onchange="setReviewName()">
                                <small>Shot, Asset 이름</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col pt-0 pb-0">
                            <div class="form-group">
                                <label class="form-text">Task</label>
                                <select id="modal-editreview-task" class="form-control" onchange="setReviewTask()">
                                    {{range .TasksettingNames}}
                                        <option value="{{.}}" {{if eq $.SearchOption.Task . }}selected{{end}}>{{.}}</option>
                                    {{end}}
                                </select>
                                <small>Task를 선택해주세요.</small>
                            </div>
                        </div>
                        <div class="col pt-0 pb-0">
                            <div class="form-group">
                                <label class="form-text">Stage</label>
                                <select class="form-control" id="modal-editreview-stage" onchange="setReviewStage(this.value)">
                                    {{range .Stages}}
                                        <option value="{{.ID}}">{{.ID}}</option>
                                    {{end}}
                                </select>
                                <small>리뷰 Stage 이름</small>
                            </div>
                        </div>
                        <div class="col pt-0 pb-0">
                            <div class="form-group">
                                <label class="form-text">Author</label>
                                <input type="text" class="form-control" id="modal-editreview-author" value="{{.User.ID}}" disabled>
                                <small>사용자 ID</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group pt-0 m-0 col-8">
                            <label class="form-text">Createtime</label>
                            <input type="text" class="form-control" placeholder="0000-00-00T00:00:00+09:00" id="modal-editreview-createtime" onchange="setReviewCreatetime()">
                        </div>
                        <div class="form-group pt-0 m-0 col-4">
                            <label class="form-text">&nbsp;</label>
                            <button class="btn btn-darkmode btn-block" onclick="setReviewCreatetimeNow()">Set Now!</button>
                        </div>
                    </div>
                    <div class="form-group pt-0 m-0">
                        <label class="form-text">Path</label>
                        <input type="text" class="form-control" placeholder="데일리로 올릴 미디어 경로" value="" id="modal-editreview-path" onchange="setReviewPath()">
                    </div>
                    <div class="row">
                        <div class="col-6 form-group">
                            <label class="form-text">Main Version</label>
                            <input type="number" value="1" min="1" max="1000" step="1" class="form-control" id="modal-editreview-mainversion" onchange="setReviewMainVersion()">
                            <small class="form-text text-muted">메인버전을 입력해주세요.</small>
                        </div>
                        <div class="col-6 form-group">
                            <label class="form-text">Sub Version</label>
                            <input type="number" value="0" min="0" max="1000" step="1" class="form-control" id="modal-editreview-subversion" onchange="setReviewSubVersion()">
                            <small class="form-text text-muted">서브버전을 입력해주세요.</small>
                        </div>
                    </div>
                    <div class="form-group p-0 m-0">
                        <label class="form-text">FPS</label>
                        <select id="modal-editreview-fps" class="form-control" onchange="setReviewFps()">
                            <option value="24">24</option>
                            <option value="23.976">23.976</option>
                            <option value="23.98">23.98</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                            <option value="29.97">29.97</option>
                            <option value="59.94">59.94</option>
                            <option value="60">60</option>
                        </select>
                        <small>리뷰 재생시 필요한 fps. 리뷰창에서 프레임을 앞뒤로 움직일때도 사용됩니다.</small>
                    </div>
                    <div class="form-group">
                        <label for="modal-editreview-description" class="col-form-label">Description</label>
                        <textarea class="form-control" id="modal-editreview-description" rows="2"></textarea>
                        <div class="mt-2">
                            <button id="modal-editreview-description-button" class="btn btn-sm btn-outline-warning btn-block" onclick="setReviewDescription()">Edit</button>
                        </div>
                    </div>
                    <div class="form-group p-0 m-0">
                        <label class="form-text">Camera Info</label>
                        <input type="text" class="form-control" placeholder="camera info" value="" id="modal-editreview-camerainfo" onchange="setReviewCameraInfo()">
                        <small>카메라 렌즈 미리수 정보처럼 리뷰어의 판단에 영향을 미치는 정보를 기록해 주세요.</small>
                    </div>
                    <div class="form-group p-0 m-0">
                        <label for="modal-editreview-outputdatapath" class="col-form-label">Output Data Path</label>
                        <input type="text" class="form-control" id="modal-editreview-outputdatapath"  onchange="ReviewOutputDataPath()">
                        <small class="form-text text-muted">Review 완료되면 외부로 복사해야하는 데이터 경로(Plate, mov, 협업데이터 경로)</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-darkmode" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{{end}}