{{define "modal-scanplate"}}
    <!-- Modal: Rm ScanPlate-->
    <div class="modal" id="modal-rmscanplate" tabindex="-1" role="dialog" aria-labelledby="modal-rmscanplate" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkmode">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-rmscanplate-title">Remove ScanPlate</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="modal-rmscanplate-id" class="col-form-label">ID:</label>
                            <input type="text" class="form-control" id="modal-rmscanplate-id" readonly>
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-darkmode" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-danger" onclick="rmscanplate()" data-bs-dismiss="modal">REMOVE</button>
                </div>
            </div>
        </div>
    </div>
{{end}}