{{define "navbar" }}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">CSI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/projectinfo">Projects</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Organization
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/divisions">Divisions(본부)</a>
              <a class="dropdown-item" href="/departments">Departments(부서)</a>
              <a class="dropdown-item" href="/teams">Teams(팀)</a>
              <a class="dropdown-item" href="/roles">Roles(직책)</a>
              <a class="dropdown-item" href="/positions">Positions(직급)</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/help">Help</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Add
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/addproject">Project</a>
              <a class="dropdown-item" href="/addshot">Shot</a>
              <a class="dropdown-item" href="/addasset">Asset</a>
              {{if eq .User.AccessLevel 4 5 6 7 8 9 10}}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/adddivision">Division(본부)</a>
              <a class="dropdown-item" href="/adddepartment">Department(부서)</a>
              <a class="dropdown-item" href="/addteam">Team(팀)</a>
              <a class="dropdown-item" href="/addrole">Role(직책)</a>
              <a class="dropdown-item" href="/addposition">Position(직급)</a>
              {{end}}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/uploadsetellite">Setellite</a>
            </div>
        </li>
        {{if .Devmode}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Input
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/inputmode?project=TEMP&sortkey=slug&template=inputtags&endpoint=searchv2&assign=true&ready=true&wip=true&confirm=true">태그설정</a>
            <a class="dropdown-item" href="/inputmode?project=TEMP&sortkey=slug&template=inputassigntasks&endpoint=searchv2&assign=true&ready=true&wip=true&confirm=true">Assign Tasks</a>
            <a class="dropdown-item" href="/inputtime">시간정보 수정</a>
            <a class="dropdown-item" href="/inputonset">작업내용 개별입력</a>
            <a class="dropdown-item" href="/inputonsettextarea">작업내용 일괄입력</a>
            <a class="dropdown-item" href="/inputpmnote">수정내용 개별입력</a>
            <a class="dropdown-item" href="/inputpmnotetextarea">수정내용 일괄입력</a>
          </div>
        </li>
        {{end}}
        <li class="nav-item">
          <a class="nav-link" href="/users">Users</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {{.User.ID}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/user?id={{.User.ID}}">Profile</a>
              <a class="dropdown-item" href="/edituser?id={{.User.ID}}">Edit</a>
              <a class="dropdown-item text-danger" href="/updatepassword?id={{.User.ID}}">Update Password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/signout">SignOut</a>
            </div>
        </li>
      </ul>
    </div>
  </nav>
{{end}}
