{{define "navbar" }}
<nav class="navbar navbar-expand-lg navbar-darkmode">
    <a class="navbar-brand" href="/">CSI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {{if .Devmode}}
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/inputmode?project=TEMP&sortkey=slug&template=index2&endpoint=searchv2&assign=true&ready=true&wip=true&confirm=true&task=&searchword=">NewView</a>
          </li>
        {{end}}
        {{if eq .User.AccessLevel 4 5 6 7 8 9 10}}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                File
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/importexcel">Import .xlsx (Excel-준비중)</a>
                
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/exportexcel">Export .xlsx (Excel-준비중)</a>
              </div>
          </li>
        {{end}}
        <li class="nav-item">
          <a class="nav-link" href="/projectinfo">Projects</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Organization
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/divisions">Divisions(본부)</a>
              <a class="dropdown-item" href="/departments">Departments(부서)</a>
              <a class="dropdown-item" href="/teams">Teams(팀)</a>
              <a class="dropdown-item" href="/roles">Roles(직책)</a>
              <a class="dropdown-item" href="/positions">Positions(직급)</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/help">Help</a>
        </li>
        
        {{if eq .User.AccessLevel 4 5 6 7 8 9 10}}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Add
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/uploadsetellite">Setellite</a>
              
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/addproject">Project</a>
                <a class="dropdown-item" href="/addshot">Shot</a>
                <a class="dropdown-item" href="/addasset">Asset</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/adddivision">Division(본부)</a>
                <a class="dropdown-item" href="/adddepartment">Department(부서)</a>
                <a class="dropdown-item" href="/addteam">Team(팀)</a>
                <a class="dropdown-item" href="/addrole">Role(직책)</a>
                <a class="dropdown-item" href="/addposition">Position(직급)</a>
              
            </div>
        </li>
        {{end}}
        {{if eq .User.AccessLevel 5 8 10}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Remove
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{if eq .User.AccessLevel 10}}
              <a class="dropdown-item text-danger" href="/rmproject">Project</a>
            {{end}}
            <a class="dropdown-item text-danger" href="/rmshot">Shot</a>
            <a class="dropdown-item text-danger" href="/rmasset">Asset</a>
          </div>
        </li>
        {{end}}
        {{if eq .User.AccessLevel 4 5 6 7 8 9 10}}
          <li class="nav-item">
            <a class="nav-link" href="/users">Users</a>
          </li>
        {{end}}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {{.User.ID}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/user?id={{.User.ID}}">Profile</a>
              <a class="dropdown-item" href="/edituser?id={{.User.ID}}">Edit</a>
              <a class="dropdown-item text-danger" href="/updatepassword?id={{.User.ID}}">Update Password</a>
              {{if eq .User.AccessLevel 10}}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/adminsetting">Admin Setting</a>
              {{end}}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/signout">SignOut</a>
            </div>
        </li>
      </ul>
    </div>
  </nav>
{{end}}
