{{define "page"}}
<div class="row">
    <div class="mx-auto">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <span class="page-link btn-darkmode" href="" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </span>
                </li>
                {{range $i := GenPageNums .TotalPageNum}}
                    <li class="page-item">
                        <span class="page-link btn-darkmode" onclick="redirectPage('{{$i}}')">
                            {{$i}}
                        </span>
                    </li>
                {{end}}
                <li class="page-item">
                    <span class="page-link btn-darkmode" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </span>
                </li>
            </ul>
        </nav>
    </div>
</div>
{{end}}