{{define "partners" }}
{{template "headBootstrap5"}}
<body>
{{template "navbar-bootstrap5" .}}
{{template "modal-bootstrap5" .}}
<div class="p-3">
    <div class="row" id="partners">
        {{range .Partners}}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="card m-2 bg-darkmode">
                    <h6 class="card-header">
                        {{if .Codename}}
                            {{.Codename}} -
                        {{end}}
                        <a href="{{.Homepage}}" class="text-darkmode">
                            {{.Name}}
                        </a>
                        <div class="float-end">
                            <span class="add" onclick="SetModal('{{.ID.Hex}}')" data-bs-toggle="modal" data-bs-target="#modal-partner">≡</span>
                            {{if eq $.User.AccessLevel 5 6 7 8 9 10 11}}
                                <span class="remove ml-0" onclick="SetModal('{{.ID.Hex}}');DeleteMode();" data-bs-toggle="modal" data-bs-target="#modal-partner">×</span>
                            {{end}}
                        </div>
                    </h6>
                    <div class="card-body pb-0">
                        <h6 class="card-title">
                            사업영역: {{.Domain}}, 지역: {{.Location}}
                        </h6>
                        <p class="card-text">
                            히스토리: {{.ProjectHistory}}<br>
                            업무시간: {{.Opentime}}-{{.Closedtime}}<br>
                            담당자: {{.Manager}} <a href="tel:{{.ManagerPhone}}" class="text-darkmode">{{.ManagerPhone}}</a><br>
                            담당자 이메일: <a href="mailto:{{.ManagerEmail}}" class="text-darkmode">{{.ManagerEmail}}</a><br>
                            PMS: <a href="{{.PmsURL}}" class="text-darkmode">{{.PmsURL}}</a>
                        <p>
                    </div>
                </div>
            </div>
        {{end}}
    </div>
</div>
    
{{template "footerBootstrap"}}
</body>
<script src="/assets/bootstrap-5.0.2/js/bootstrap.min.js"></script>
<script src="/assets/tata/tata.js"></script>
<script src="/assets/js/partner.js"></script>
</html>
{{end}}