{{define "partners" }}
{{template "headBootstrap5"}}
<body>
{{template "navbar-bootstrap5" .}}
{{template "modal-bootstrap5" .}}

<!--searchbox-->
<div class="container">
    <div class="row justify-content-center align-items-center p-3">
        <form action="/partners" method="POST" class="editform text-center">
            <div class="input-group">
                <input class="form-control" id="search" placeholder="Search word.." type="text" maxlength="50" size=50 name="searchword" autofocus="autofocus" value="">
                <div class="input-group-append">
                    <button class="btn btn-darkmode">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="p-3">
    <div class="row" id="partners">
        {{range .Partners}}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="card m-2 bg-darkmode">
                    <h6 class="card-header">
                        {{if .Codename}}
                            {{.Codename}} -
                        {{end}}
                        <a href="{{.Homepage}}" class="text-darkmode">
                            {{.Name}}
                        </a>
                        <div class="float-end">
                            <span class="add" onclick="SetModal('{{.ID.Hex}}')" data-bs-toggle="modal" data-bs-target="#modal-partner">≡</span>
                            {{if eq $.User.AccessLevel 5 6 7 8 9 10 11}}
                                <span class="remove ml-0" onclick="SetModal('{{.ID.Hex}}');DeleteMode();" data-bs-toggle="modal" data-bs-target="#modal-partner">×</span>
                            {{end}}
                        </div>
                    </h6>
                    <div class="card-body pb-0">
                        <h6 class="card-title">
                            사업영역: {{.Domain}}, 지역: {{.Location}}
                        </h6>
                        <p class="card-text mb-2">
                            히스토리: {{.ProjectHistory}}<br>
                            업무시간: {{.Opentime}}-{{.Closedtime}}<br>
                            담당자: {{.Manager}} <a href="tel:{{.ManagerPhone}}" class="text-darkmode">{{.ManagerPhone}}</a><br>
                            담당자 이메일: <a href="mailto:{{.ManagerEmail}}" class="text-darkmode">{{.ManagerEmail}}</a><br>
                            PMS: <a href="{{.PmsURL}}" class="text-darkmode">{{.PmsURL}}</a>
                            <div>
                                <a href="/projectsforpartner?search={{.Name}}" class="badge badge-darkmode finger">프로젝트</a>
                                <a href="/budgets?search={{.Name}}" class="badge badge-darkmode finger">예산</a>
                                <a href="/contracts?search={{.Name}}" class="badge badge-darkmode finger">계약서</a>
                                <a href="/evaluation?search={{.Name}}" class="badge badge-darkmode finger">평가</a>
                            </div>
                        <p>
                    </div>
                </div>
            </div>
        {{end}}
    </div>
</div>
    
{{template "footerBootstrap"}}
</body>
<script src="/assets/bootstrap-5.0.2/js/bootstrap.min.js"></script>
<script src="/assets/tata/tata.js"></script>
<script src="/assets/js/partner.js"></script>
</html>
{{end}}