{{define "partners" }}
{{template "headBootstrap5"}}
<body>
{{template "navbar-bootstrap5" .}}
{{template "modal-bootstrap5" .}}
<div class="p-3">
    <div class="row" id="partners">
        {{range .Partners}}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card m-2 bg-darkmode">
                    <h6 class="card-header">
                        {{.Name}}
                    </h6>
                    <div class="card-body">
                        <h6 class="card-title">
                            은행: {{.Bank}}
                        </h6>
                        <p class="card-text">
                            홈페이지: {{.Homepage}}
                        <p>
                    </div>
                </div>
            </div>
        {{end}}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card m-2 bg-darkmode">
                <h6 class="card-header">
                    &nbsp;
                </h6>
                <div class="card-body">
                    <h6 class="card-title text-center">
                        <span class="add text-decoration-none" data-bs-toggle="modal" data-bs-target="#modal-partner">＋</span>
                    </h6>
                    <p class="card-text">
                        &nbsp;
                    <p>
                </div>
            </div>
        </div>
    </div>
</div>
    
{{template "footerBootstrap"}}
</body>
<script src="/assets/bootstrap-5.0.2/js/bootstrap.min.js"></script>
<script src="/assets/tata/tata.js"></script>
<script src="/assets/js/partner.js"></script>
</html>
{{end}}