{{define "projectinfo" }}
{{template "headBootstrap"}}
{{template "navbar" .}}

<body>
		
<div class="p-4">
	<div class="row">
		<a href="/projectinfo" class="btn border-secondary text-secondary btn-sm m-1 border">전체</a>
		<a href="/projectinfo?status=archive" class="btn border-secondary text-secondary btn-sm m-1 border">종료</a>
		<a href="/projectinfo?status=pre" class="btn btn-info btn-sm m-1">준비</a>
		<a href="/projectinfo?status=post" class="btn btn-success btn-sm m-1">진행</a>
		<a href="/projectinfo?status=layover" class="btn btn-warning btn-sm m-1">중단</a>
		<a href="/projectinfo?status=backup" class="btn btn-danger btn-sm m-1">백업</a>
	</div>
</div>

<div class="p-4">
	<div class="row">
		{{range .Projects}}
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="card m-2">
					<h6 class="card-header {{projectStatus2color .Status}}">
						{{.ID}}
						{{if .Name}} [ {{.Name}} ]{{end}}
					</h6>
					<div class="card-body">
						<h6 class="card-title">
							{{if .Style}}<span class="btn btn-sm border">{{.Style}}</span>{{end}}
							{{if .Stereo}}<span class="btn btn-sm border">Stereo</span>{{end}}
							{{if .Screenx}}<span class="btn btn-sm border">ScreenX</span>{{end}}
							{{if .Lut}}<span class="btn btn-sm btn-warning">LUT 사용</span>{{else}}<span class="btn btn-sm border">LUT 비사용</span>{{end}}
							<a href="mailto:{{.ID}}@{{$.MailDNS}}?subject=[{{if .MailHead}}{{.MailHead}}{{else}}{{.ID}}{{end}}]" class="btn btn-primary btn-sm">E-mail</a>
							<a href="/editproject?id={{.ID}}" class="btn btn-danger btn-sm">Edit</a>
						</h6>
					
						<p class="card-text">
							Issue: {{.Issue}}
						<p>
						<p class="card-text m-0 p-0">
							Sup: {{.Super}}
							Cgsup: {{.CgSuper}}
						</p>
						<p class="card-text m-0 p-0">
							PD: {{.Pd}}
							PM: {{.Pm}}
							PA: {{.Pa}}
						</p>
						<p class="card-text m-0 p-0">
							카메라: {{.Camera}}
						</p>
						<p class="card-text m-0 p-0">
							플레이트: {{.PlateWidth}}x{{.PlateHeight}} / {{.PlateExt}} / {{.PlateInColorspace}} > {{.PlateOutColorspace}}
						</p>
						<p class="card-text m-0 p-0">
							컨펌MOV: {{.OutputMov.Width}}x{{.OutputMov.Height}} / {{.OutputMov.Codec}} / {{.OutputMov.Fps}}fps
						</p>
						<p class="card-text m-0 p-0">
							편집MOV: {{.EditMov.Width}}x{{.EditMov.Height}} / {{.EditMov.Codec}} / {{.EditMov.Fps}}fps
						</p>

						<p class="card-text">
							{{range .Milestones}}
								{{.Name}}{{.Date}}
							{{end}}
						</p>
					</div>
				</div>
			</div>
		{{end}}
	</div>
</div>

{{template "footerBootstrap"}}
</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
</html>
{{end}}
