{{define "publishkey" }}
{{template "headBootstrap"}}
{{template "navbar" .}}

<body>
		
<div class="p-2">
	<div class="text-center mt-5 mb-3">
		<span class="text-darkmode">
			OpenPipelineIO에서 사용되는 Publish Key 목록입니다.<br>
			Publish에 필요한 Key가 없다면 <a href="/addpublishkey" class="add ml-1" title="PublishKey 추가">＋</a> 버튼을 눌러주세요.
		</span>
	</div>
	{{if .PublishKeys}}
		{{range .PublishKeys}}
			<div class="text-darkmode p-2">
				<div class="row">
					<div class="col-12">
						<a href="/editpublishkey?id={{.ID}}" class="btn w-100" style="color: #FFFFFF; background-color: #3D3B3B; border: 1px solid #787474;" title="{{.Description}}">
							{{.ID}}({{.Description}})
						</a>
					</div>
				</div>
			</div>
		{{end}}
	{{else}}
		<div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
			<div class="text-center mt-5">
				<span class="text-darkmode">Publish Key가 존재하지 않습니다. PublishKey를 생성해주세요.</span>
			</div>
			<div class="text-center">
				{{if eq $.User.AccessLevel 4 5 6 7 8 9 10}}
					<a href="/addpublishkey" class="mt-5 mb-5 btn btn-outline-warning">Add Publish Key</a>
				{{end}}
			</div>
		</div>
	{{end}}
</div>

{{template "footerBootstrap"}}
</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
</html>
{{end}}
