{{define "review" }}
{{template "headBootstrap" .}}
<body>
    <input type="hidden" id="selectReviewItemID" value="">
    <div id="floatingmenu">
        {{template "navbar" .}}
    </div>
    {{template "modal" .}}
    <div id="blinkspace" style="height:60px"></div><!--기본 100px 여유를 두고 navbar와의 간격을 조정한다.-->
    
    <div class="row mt-3 ml-3 mr-3">
        <div class="col-2 p-0 border-darkmode overflow-auto text-darkmode" style="height: 70vh;">
            <form action="/review-submit" method="POST">
                <div class="w-100">
                    <div class="input-group p-1">
                        <input type="text" name="SearchReview" class="input-group-prepend form-control form-control-sm" placeholder="검색어" value="{{.Searchword}}">
                        <div class="input-group-btn input-group-append">
                            <button class="btn btn-sm btn-darkmode" id="button">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="overflow-auto" style="height: 65vh; overflow-y: scroll; scrollbar-color: rgb(109, 109, 109) rgb(45, 45, 45);">
                {{range .Reviews}}
                    <div class="p-2 m-1 reviewitem finger" name="reviewitem" id="{{.ID.Hex}}" onclick="selectReviewItem('{{.ID.Hex}}','{{.Fps}}')">
                        <span class="text-muted">{{.Project}}</span>
                        <a href="dilink://{{.Path}}" class="text-darkmode">{{.Name}}</a>
                        <span class="ml-1 badge badge-secondary">{{.Task}}</span>
                        <span class="ml-1 badge badge-secondary">{{.Status}}</span>
                    </div>
                {{end}}
            </div>
        </div>
        <div class="col-8 border-darkmode bg-black p-0" id="playerbox" style="height: 70vh;">
            <canvas class="p-0" id="player"></canvas>
        </div>
        <div class="col-2 p-0 border-darkmode overflow-auto text-darkmode" style="height: 70vh;">
            <div style="height: 80%">
                Review text(리뷰내용)
            </div>
            <div style="height: 20%">
                <textarea class="form-control no-resize" id="Reviewcomment" name="Reviewcomment" rows="3" placeholder="리뷰내용을 작성해주세요."></textarea>
                <div class="pt-1 row">
                    <div class="col">
                        <span class="btn btn-sm btn-outline-warning w-100">comment</span>
                    </div>
                    <div class="col">
                        <span class="btn btn-sm btn-outline-success w-100">approve</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ml-3 mr-3">
        <div class="col-12 border-darkmode text-center text-darkmode no-selection">
            <span class="player-pen" id="player-pen"></span>
            <span class="player-text mr-5" id="player-text"></span>

            <span class="player-start" id="player-start"></span>
            <span class="player-left" id="player-left"></span>
            <span class="player-pause" id="player-pause"></span>
            <span class="player-play" id="player-play"></span>
            <span class="player-right" id="player-right"></span>
            <span class="player-end mr-5" id="player-end"></span>
            <!--<span class="player-expand" id="player-expand"></span>-->
            
            <span class="player-mute" id="player-mute"></span>
            <input type="range" id="seek-bar" value="0">
            <input type="range" id="volume-bar" min="0" max="1" step="0.1" value="1">
        </div>
    </div>
    <div class="row ml-3 mr-3">
        <div class="col-12 border-darkmode text-darkmode" style="height: 10vh;">
            Name(샷,에셋)과 관련된 모든 검색결과를 출력함.<br>
            편집상의 앞뒤 컷, 이전 또는 이후 버전의 선택
        </div>
    </div>
    {{template "footerBootstrap"}}
</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
<script src="/assets/js/input.js"></script>
<script src="/assets/js/csi_v02.js"></script>
</html>
{{end}}
