{{define "rmproject_success" }}
{{template "headBootstrap"}}
{{template "navbar" .}}
<body>

<div class="container p-5">
    <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
        <div class="pt-3 pb-5">
            <h2 class="section-heading">Remove Project Status</h2>
        </div>
        <div class="text-darkmode">
            {{if .Error}}
                {{.Project}} 프로젝트를 삭제할 수 없습니다.
                Error: {{.Error}}
            {{else}}
                {{.Project}} 프로젝트가 정상적으로 삭제되었습니다.
            {{end}}
        </div>
        <div class="text-center">
            <a href="/inputmode?project=&sortkey=&template=index&endpoint=searchv2&assign=true&ready=true&wip=true&confirm=true&done=false&omit=false&hold=false&out=false&none=false&task=&searchword=" class="btn btn-darkmode mt-5">Home</a>
        </div>
    </div>
</div>

{{template "footerBootstrap"}}
</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
</html>
{{end}}

