{{define "rmshot" }}
{{template "headBootstrap"}}
{{template "navbar" .}}
<body>

<div class="container p-5">
    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
        <form action="/rmshot_submit" method="POST">
        <div class="pt-3 pb-5">
            <h2 class="section-heading">Rm Shot</h2>
        </div>
        <div class="form-group">
            <label>Project</label>
            <select name="Project" class="form-control">
              {{range .Projectlist}}
                <option value="{{.}}" {{if eq $.SearchOption.Project .}}selected{{end}}>{{.}}</option>
              {{end}}
            </select>
            <small class="form-text text-danger">샷을 제거할 프로젝트를 선택해주세요.</small>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="Name" class="form-control" placeholder="예) SS_0010">
                    <small class="form-text text-muted">샷 이름을 작성해주세요. 예) SS_0010</small>
                    <small class="form-text text-muted">" " 띄어쓰기 또는 "," 문자를 이용해서 동시에 여러샷을 생성할 수 있습니다.</small>
                    <small class="form-text text-muted">&nbsp;&nbsp;예) SS_0010 SS_0020</small>
                    <small class="form-text text-muted">MS Excel, Google Spreadsheet, Apple Numbers, LibreOffice Spreadsheet 의 Cell 데이터를 Copy & Paste 하여 사용가능합니다.</small>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-danger mt-5">Rm Shot</button>
        </div>
        </form>
    </div>
</div>

{{template "footerBootstrap"}}
</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
</html>
{{end}}

