{{define "scanplate" }}
{{template "headBootstrap5"}}
<body>
{{template "navbar-bootstrap5" .}}
{{template "modal-bootstrap5" .}}

<div class="container py-5 px-2">
    <div class="col-lg-12 col-md-12 col-sm-12 mx-auto">
        <div class="pt-3 pb-3">
            <h2 class="text-muted">Scan Plate</h2>
        </div>

        <div class="row pt-2 pb-2">
            <div class="col-sm">
                <div class="from-group">
                    <div class="form-check form-switch">
                        <input class="form-check-input finger" type="checkbox" id="uploadmethod" onclick="checkUploadMethod()">
                        <label class="form-check-label finger unselectable text-muted" for="uploadmethod">Upload Method</label>
                    </div>
                </div>
            </div>
        </div>

        <div id="scanplateuploadzone">
            <form action="/upload-scanplate" class="dropzone" id="scanplateuploaddropzone">
                <div class="fallback">
                    <input name="file" type="file" />
                </div>
            </form>
            <div class="pt-2">
                <small class="form-text text-muted">
                    Drag & drop the file you want to upload.(Allowed file format: .jpg .png .exr .mov .dpx)
                     <span class="badge bg-danger finger" id="clear-dropzone" onclick="DeleteScanPlateTemp()">Delete Uploaded files</span></small>
            </div>
            
        </div>

        <div class="row pt-2">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="form-group pt-2">
                            <label class="text-muted">Method</label>
                            <select id="method" name="method" class="form-control">
                                <option value="seq">seq</option>
                                <option value="mov">mov</option>
                                <option value="image">image</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group pt-2">
                            <label class="text-muted">Type</label>
                            <input type="text" id="scanplate-type" class="form-control" placeholder="org" value="org">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group pt-2">
                    <label class="text-muted">Name Regular Expression</label>
                    <span class="preset-button float-end" data-bs-toggle="modal" data-bs-target="#modal-preset-scanplatenameregex">Preset</span>
                    <input type="text" id="regex" class="form-control" placeholder="(?P<name>\w+)_org_v(?P<version>%\w+)(?P<ext>.\w+)">
                </div>
            </div>
        </div>

        <div class="row pt-2">
            <div class="col-6">
                <div class="form-group">
                    <label class="text-muted">Colorspace</label>
                    <span class="preset-button float-end" data-bs-toggle="modal" data-bs-target="#modal-preset-colorspace">Preset</span>
                    <div class="row">
                        <div class="col">
                            <select id="incolorspace" name="incolorspace" class="form-control">
                                {{range .Colorspaces}}<option value="{{.}}">{{.}}</option>{{end}}
                            </select>
                            <small class="form-text text-muted">In Colorspace</small>
                        </div>
                        <div class="col">
                            <select id="outcolorspace" name="outcolorspace" class="form-control">
                                {{range .Colorspaces}}<option value="{{.}}">{{.}}</option>{{end}}
                            </select>
                            <small class="form-text text-muted">Out Colorspace</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="text-muted">Lookup Table Path</label>
                    <input type="text" id="lutpath" class="form-control" placeholder="/path/name.cube">
                    <small class="form-text text-muted">Support lut: .cube, 3dl, dat, m3d, csp</small>
                </div>
            </div>
        </div>

        

        <div class="row pt-2">
            <div class="col-sm">
                <div class="form-group">
                    <label class="text-muted">Scan Plate Path</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Path" id="searchpath">
                        <button class="btn btn-outline-warning" type="button" id="searchfootages">ScanPath</button>
                    </div>
                    <small class="form-text text-warning">
                        On the following cases, web server can be overloaded.<br>
                        - If the OS security policy doesn’t allow the path.<br>
                        - If there are too many sources on the path.
                    </small>
                </div>
            </div>
        </div>

        <div class="row pt-2">
            <div class="col-sm">
                <div class="border-table rounded unselectable" id="source-table"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="w-100 btn-group btn-group-sm rounded-bottom" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-darkmode" id="download-pdf">Download PDF</button>
                    <button type="button" class="btn btn-outline-darkmode" id="download-xlsx">Download XLSX</button>
                    <button type="button" class="btn btn-outline-darkmode" id="download-csv">Download CSV</button>
                    <button type="button" class="btn btn-outline-darkmode" id="download-json">Download JSON</button>
                    <button type="button" class="btn btn-outline-darkmode" id="download-html">Download HTML</button>
                    <button type="button" class="btn btn-outline-darkmode" id="print-table">Print Table</button>
                </div>
            </div>
            <small class="form-text text-warning">
                Drag the item for changing the process order. Double click the base name for deleting.
            </small>
        </div>

        <div class="row pt-2">
            <div class="col-sm">
                <div class="form-group">
                    <label class="text-muted">Project</label>
                    <select id="scanplate-project" class="form-control">
                        {{range .Projectlist}}<option value="{{.}}">{{.}}</option>{{end}}
                    </select>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label class="text-muted">OpenPipelineIO DNS</label>
                    <input type="text" id="dns" class="form-control" placeholder="https://openpipeline.io">
                </div>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="text-muted">Mov Fps</label>
                            <select id="fps" class="form-control">
                                <option value="23.98">23.98</option>
                                <option value="23.976">23.976</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="29.97">29.97</option>
                                <option value="30">30</option>
                                <option value="59.94">59.94</option>
                                <option value="60">60</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="text-muted">Undistortion Rate</label>
                            <input type="text" id="undistortionrate" class="form-control" placeholder="{{.Setting.DefaultScaleRatioOfUndistortionPlate}}" value="{{.Setting.DefaultScaleRatioOfUndistortionPlate}}">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="form-group">
                    <label class="text-muted">Token</label>
                    <input type="text" id="scanplatetoken" class="form-control" placeholder="">
                </div>
            </div>
        </div>
            
        
        

        <div class="row pt-2">
            <div class="col-sm"> <!--DB 연산-->
                <div class="from-group">
                    <label class="text-muted pt-2 pb-2">DB Process</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input finger" type="checkbox" id="setplatesize" checked>
                        <label class="form-check-label finger unselectable text-muted" for="setplatesize">Set plate size by image size</label>
                    </div>
                    <div class="from-group">
                        <div class="form-check form-switch">
                            <input class="form-check-input finger" type="checkbox" id="setundistortionsize" checked>
                            <label class="form-check-label finger unselectable text-muted" for="setundistortionsize">Set undistortion size</label>
                        </div>
                    </div>
                    <div class="from-group">
                        <div class="form-check form-switch">
                            <input class="form-check-input finger" type="checkbox" id="setrendersize" checked>
                            <label class="form-check-label finger unselectable text-muted" for="setrendersize">Set render size by undistortion size</label>
                        </div>
                    </div>
                    <div class="from-group">
                        <div class="form-check form-switch">
                            <input class="form-check-input finger" type="checkbox" id="setframe" checked>
                            <label class="form-check-label finger unselectable text-muted" for="setframe">Set Frame IN/OUT</label>
                        </div>
                    </div>
                    <div class="from-group">
                        <div class="form-check form-switch">
                            <input class="form-check-input finger" type="checkbox" id="settimecode" checked>
                            <label class="form-check-label finger unselectable text-muted" for="settimecode">Set Timecode IN/OUT</label>
                        </div>
                    </div>
                    <div class="from-group">
                        <div class="form-check form-switch">
                            <input class="form-check-input finger" type="checkbox" id="setscanfolder" checked>
                            <label class="form-check-label finger unselectable text-muted" for="setscanfolder">Set Scan folder</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm"> <!--Disk 연산-->
                <div class="from-group">
                    <label class="text-muted pt-2 pb-2">Storage Process</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input finger" type="checkbox" id="genplatepath" checked>
                        <label class="form-check-label finger unselectable text-muted" for="genplatepath">Create Plate Path</label>
                    </div>
                </div>
                <div class="from-group">
                    <div class="form-check form-switch">
                        <input class="form-check-input finger" type="checkbox" id="copyplate" checked>
                        <label class="form-check-label finger unselectable text-muted" for="copyplate">Copy Plate</label>
                    </div>
                </div>
                <div class="from-group">
                    <div class="form-check form-switch">
                        <input class="form-check-input finger" type="checkbox" id="proxyjpg" checked>
                        <label class="form-check-label finger unselectable text-muted" for="proxyjpg">Proxy JPG</label>
                    </div>
                </div>
                <div class="from-group">
                    <div class="form-check form-switch">
                        <input class="form-check-input finger" type="checkbox" id="proxyhalfjpg">
                        <label class="form-check-label finger unselectable text-muted" for="proxyhalfjpg">Proxy Half JPG</label>
                    </div>
                </div>
                <div class="from-group">
                    <div class="form-check form-switch">
                        <input class="form-check-input finger" type="checkbox" id="proxyhalfexr">
                        <label class="form-check-label finger unselectable text-muted" for="proxyhalfexr">Proxy Half EXR (or DPX)</label>
                    </div>
                </div>
                <div class="from-group">
                    <div class="form-check form-switch">
                        <input class="form-check-input finger" type="checkbox" id="genmov" checked>
                        <label class="form-check-label finger unselectable text-muted" for="genmov">Create Mov</label>
                    </div>
                </div>
                <div class="from-group">
                    <div class="form-check form-switch">
                        <input class="form-check-input finger" type="checkbox" id="genmovslate" checked>
                        <label class="form-check-label finger unselectable text-muted" for="genmovslate">Create Mov Slate</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center pt-5">
        <button type="submit" class="btn btn-outline-warning" id="submitScanPlate">SUBMIT PROCESS</button>
    </div>
</div>

{{template "footerBootstrap"}}
</body>
<script src="/assets/bootstrap-5.0.2/js/bootstrap.min.js"></script>
<script src="/assets/js/dropzone.js"></script>
<script src="/assets/tabulator5.1/js/tabulator.min.js"></script>
<script src="/assets/js/exports/jspdf.umd.min.js"></script>
<script src="/assets/js/exports/jspdf.plugin.autotable.min.js"></script>
<script src="/assets/js/exports/xlsx.full.min.js"></script>
<script src="/assets/tata/tata.js"></script>
<script src="/assets/js/scanplate.js"></script>

<script>
    let token = ""
    if (document.getElementById("scanplatetoken").value != "") {
        token = document.getElementById("scanplatetoken").value
    } else {
        token = document.getElementById("token").value
    }
    //define some sample data
    var sources = [
        {id:1,dir:"/scan/path",base:"SS_0010_org_v001.%04d.exr",ext:".exr",framein:"1001",frameout:"1150",length:150,name:"SS_0010",type:"org",incolorspace:"ACES - ACES2065-1",outcolorspace:"Output - Rec.709",width:"4096",height:"2304",timecodein:"10:11:12:03",timecodeout:"10:11:12:08"},
        {id:2,dir:"/scan/path",base:"SS_0020_org_v001.%04d.exr",ext:".exr",framein:"1001",frameout:"1050",length:1050,name:"SS_0020",type:"org1",incolorspace:"ACES - ACES2065-1",outcolorspace:"Output - Rec.709",width:"4096",height:"2304",timecodein:"10:11:12:09",timecodeout:"10:11:12:13"},
    ];
    
    // Colorspace를 가지고 옵니다.
    var colorspaces = {}
    fetch('/api/ociocolorspace', {
        method: 'GET',
    })
    .then((response) => {
        if (!response.ok) {
            throw Error(response.statusText + " - " + response.url);
        }
        return response.json()
    })
    .then((data) => {
        if (data === null) {
            return
        }
        for (let i = 0; i < data.colorspaces.length; i++){
            colorspaces[data.colorspaces[i]] = data.colorspaces[i]
        }        
    })
    .catch((err) => {
        alert(err)
    });
    
    var table = new Tabulator("#source-table", {
        height:370, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
        data:sources, //assign data to table
        layout:"fitColumns", //fit columns to width of table (optional)
        pagination:"local",
        paginationSize:10,
        paginationSizeSelector:[10, 20],
        movableColumns:true,
        movableRows:true,
        reactiveData:true, //turn on data reactivity
        selectable:false, //make rows selectable
        paginationCounter:"rows",
        clipboard:true,
        clipboardPasteAction:"replace",
        printAsHtml:true,
        printHeader:"<h3><center>Sources</center></h3>",
        printFooter:"<h5></h5>",
        columns:[ //Define Table Columns
            {rowHandle:true, formatter:"handle", headerSort:false, frozen:true, width:30, minWidth:30},
            {title:"dir", field:"dir", hozAlign: "left", headerHozAlign:"center", headerSort:false},
            {title:"base", field:"base", hozAlign:"left", headerHozAlign:"center", headerSort:false, cellDblClick:function(e, cell){cell.getRow().delete();}},
            {title:"ext", field:"ext", hozAlign:"center", headerHozAlign:"center", width:50, headerSort:false},
            {title:"name", field:"name", hozAlign:"center", headerHozAlign:"center", headerSort:false, editor:"input",},
            {title:"type", field:"type", hozAlign:"center", headerHozAlign:"center", width:50, headerSort:false, editor:"input",},
            {title:"in", field:"framein", hozAlign:"center", headerHozAlign:"center", width:50, headerSort:false, editor:"input",},
            {title:"out", field:"frameout", hozAlign:"center", headerHozAlign:"center", width:50, headerSort:false, editor:"input",},
            {title:"num", field:"length", hozAlign:"center", headerHozAlign:"center", width:50, headerSort:false},
            {title:"colorin", field:"incolorspace", hozAlign:"center", headerHozAlign:"center", headerSort:false, editor:"select", editorParams:{values:colorspaces}},
            {title:"colorout", field:"outcolorspace", hozAlign:"center", headerHozAlign:"center", headerSort:false, editor:"select", editorParams:{values:colorspaces}},
            {title:"timein", field:"timecodein", hozAlign:"center", headerHozAlign:"center", width:90, headerSort:false},
            {title:"timeout", field:"timecodeout", hozAlign:"center", headerHozAlign:"center", width:90, headerSort:false},
            {title:"w", field:"width", hozAlign:"center", headerHozAlign:"center", width:50, headerSort:false},
            {title:"h", field:"height", hozAlign:"center", headerHozAlign:"center", width:50, headerSort:false},
        ],
    });

    //listen for row move
    table.on("rowMoved", function(row){
        sources = table.getData(); // 테이블 데이터의 순서가 sources 순서로 되어야 한다.
        table.replaceData(sources)
    });

    //trigger download of data.csv file
    document.getElementById("download-csv").addEventListener("click", function(){
        table.download("csv", "data.csv");
    });

    //trigger download of data.json file
    document.getElementById("download-json").addEventListener("click", function(){
        table.download("json", "data.json");
    });

    //trigger download of data.xlsx file
    document.getElementById("download-xlsx").addEventListener("click", function(){
        table.download("xlsx", "data.xlsx", {sheetName:"Source Data"});
    });

    //trigger download of data.pdf file
    document.getElementById("download-pdf").addEventListener("click", function(){
        table.download("pdf", "data.pdf", {
            orientation:"portrait", //set page orientation to portrait
            title:"Source Data", //add title to report
        });
    });

    //trigger download of data.html file
    document.getElementById("download-html").addEventListener("click", function(){
        table.download("html", "data.html", {style:true});
    });

    //print button
    document.getElementById("print-table").addEventListener("click", function(){
        table.print("active", true, {columnGroups:false});
    });

    //submit Footages
    document.getElementById("submitScanPlate").addEventListener("click", function(){
        sources = table.getData();
        for (let i = 0; i < sources.length; i += 1) {
            // Set Dns, token
            sources[i].dns = document.getElementById("dns").value
            sources[i].token = document.getElementById("scanplatetoken").value
            // Set Frame
            sources[i].setframe = document.getElementById("setframe").checked
            // Set Timecode
            sources[i].settimecode = document.getElementById("settimecode").checked
            // 플레이트 경로 생성여부
            sources[i].genplatepath = document.getElementById("genplatepath").checked
            // 플레이트 복사여부
            sources[i].copyplate = document.getElementById("copyplate").checked
            // Proxy Jpg 생성여부
            sources[i].proxyjpg = document.getElementById("proxyjpg").checked
            // Proxy Half Jpg 생성여부
            sources[i].proxyhalfjpg = document.getElementById("proxyhalfjpg").checked
            // Proxy Half Exr 생성여부
            sources[i].proxyhalfexr = document.getElementById("proxyhalfexr").checked
            // mov 생성
            sources[i].fps = document.getElementById("fps").value
            sources[i].genmov = document.getElementById("genmov").checked
            sources[i].genmovslate = document.getElementById("genmovslate").checked
            sources[i].lutpath = document.getElementById("lutpath").value
            // 프로젝트 설정
            sources[i].project = document.getElementById("scanplate-project").value
            // 플레이트 사이즈
            if (!document.getElementById("setplatesize").checked) {
                sources[i].width = 0
                sources[i].height = 0
            }
            // 언디스토션 사이트
            if (!document.getElementById("setundistortionsize").checked) {
                sources[i].undistortionwidth = 0
                sources[i].undistortionheight = 0
            } else {
                sources[i].undistortionwidth = Math.round(sources[i].width * document.getElementById("undistortionrate").value)
                sources[i].undistortionheight = Math.round(sources[i].height * document.getElementById("undistortionrate").value)
            }
            // 렌더사이즈
            if (!document.getElementById("setrendersize").checked) {
                sources[i].renderwidth = 0
                sources[i].renderheight = 0
            } else {
                sources[i].renderwidth = Math.round(sources[i].width * document.getElementById("undistortionrate").value)
                sources[i].renderheight = Math.round(sources[i].height * document.getElementById("undistortionrate").value)
            }
        }
        // process할 scanplate를 대량전송합니다.
        fetch('/api/scanplates', {
            method: 'POST',
            headers: {
                "Authorization": "Basic "+ token,
            },
            body: JSON.stringify(sources),
        })
        .then((response) => {
            if (!response.ok) {
                throw Error(response.statusText + " - " + response.url);
            }
            return response.json()
        })
        .then((data) => {
            // 전송버튼 차단
            let button = document.getElementById("submitScanPlate")
            button.disabled = true
            button.classList.remove("btn-outline-warning");
            button.classList.add("btn-outline-secondary");
        })
        .catch((err) => {
            alert(err)
        });
        
        
        // Toast 띄우기
        tata.success('Submit Process', sources.length + " items have been sent.", {
            position: 'tr',
            duration: 10000,
            onClick: goProcessPage,
            onClose: null,
        })
    });

    document.getElementById("searchfootages").addEventListener("click", function(){
        fetch('/api/searchfootages', {
            method: 'POST',
            headers: {
                "Authorization": "Basic "+ token,
            },
            body: new URLSearchParams({
                "path": document.getElementById("searchpath").value,
                "type": document.getElementById("scanplate-type").value,
                "incolorspace": document.getElementById("incolorspace").value,
                "outcolorspace": document.getElementById("outcolorspace").value,
                "regex": document.getElementById("regex").value,
                "method": document.getElementById("method").value,
            })
        })
        .then((response) => {
            if (!response.ok) {
                return response.text().then((data) => {
                    alert(data);
                    //return data;
                })
            }
            if (response.ok) {
                return response.json().then((data) => {
                    sources = data;
                    table.replaceData(data); //update data
                    //table.updateData();
                    //return
                })
            }
        })
        .catch((err) => {
            alert(err);
        });
    });
    

    function goProcessPage() {
        window.location.replace("item-process")
    }
</script>

</html>
{{end}}