{{define "searchbarV2"}}
<form action="/searchsubmitv2" method="POST">
	<div class="row justify-content-center align-items-center m-3">
		<div class="col-lg-7">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<select name="Project" class="custom-select rounded-left" id="searchbox-project" onchange="changeProject();">
						{{range .Projectlist}}
							<option value="{{.}}" {{if eq . $.SearchOption.Project}}selected{{end}}>{{.}}</option>
						{{end}}
					</select>
				</div>
				<div class="input-group-append">
					<select name="Task" class="custom-select" id="searchbox-task">
						<option value="" {{if eq $.SearchOption.Task "" }}selected{{end}}>All</option>
						{{range .TasksettingNames}}
							<option value="{{.}}" {{if eq $.SearchOption.Task . }}selected{{end}}>{{.}}</option>
						{{end}}
					</select>
				</div>
				<input class="form-control" id="searchbox-searchword" placeholder="Search word.." type="text" name="Searchword" value="{{.SearchOption.Searchword}}">
				<div class="input-group-append">
					<select id="searchbox-sortkey" name="Sortkey" class="custom-select">
						<option value="id" {{if eq $.SearchOption.Sortkey "id" }}selected{{end}}>정렬: 샷네임</option>
						<option value="rnum" {{if eq $.SearchOption.Sortkey "rnum" }}selected{{end}}>정렬: 롤넘버</option>
						<option value="ddline3d" {{if eq $.SearchOption.Sortkey "ddline3d" }}selected{{end}}>정렬: 3D마감</option>
						<option value="ddline2d" {{if eq $.SearchOption.Sortkey "ddline2d" }}selected{{end}}>정렬: 2D마감</option>
						<option value="scanframe" {{if eq $.SearchOption.Sortkey "scanframe" }}selected{{end}}>정렬: 스캔길이</option>
						<option value="scantime" {{if eq $.SearchOption.Sortkey "scantime" }}selected{{end}}>정렬: 스캔날짜</option>
						<option value="taskpredate" {{if eq $.SearchOption.Sortkey "taskpredate" }}selected{{end}}>정렬: Task 1차마감</option>
						<option value="taskdate" {{if eq $.SearchOption.Sortkey "taskdate" }}selected{{end}}>정렬: Task 2차마감</option>
					</select>
				</div>
				<div class="input-group-append">
					<select name="SearchbarTemplate" id="searchbox-searchbar-template" class="custom-select">
						<option value="searchbarV1" {{if eq $.SearchOption.SearchbarTemplate "searchbarV1" }}selected{{end}}>ver1</option>
						<option value="searchbarV2" {{if eq $.SearchOption.SearchbarTemplate "searchbarV2" }}selected{{end}}>ver2</option>
					</select>
				</div>
				<div class="input-group-append">
					<button class="btn btn-darkmode" id="button">
						Search
						{{if .Searchnum.Search}}
							<span class="badge badge-darkmode">{{.Searchnum.Search}}</span>
						{{end}}
					</button>
				</div>
			</div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center ml-3 mr-3">
        <div class="pl-3 pr-1">
            <div class="col">
				{{range .Status}}
					<span class="btn btn-sm mb-2 bg-{{.ID}}" data-toggle="tooltip" data-placement="top" title="{{.Description}}">
						<input type="checkbox" class="mr-1 StatusCheckBox{{if .DefaultOn}} DefaultStatusCheckBox{{end}}" id="searchbox-checkbox-{{.ID}}" status="{{.ID}}" onchange="changeStatusURI('{{.ID}}');" name="{{.ID}}" value="true"{{if hasStatus $.SearchOption.TrueStatus .ID}} checked{{end}}>
						<a class="text-{{.ID}} statusuri" href="/inputmode?
												project={{$.SearchOption.Project}}&
												searchword=status:{{.ID}}&
												sortkey={{$.SearchOption.Sortkey}}&
												searchbartemplate=searchbarV2&
												truestatus={{.ID}}&
												task={{$.SearchOption.Task}}">
												{{.ID}}</a>
						<span class="badge badge-light">{{index $.Searchnum.StatusNum .ID}}</span>
					</span>
				{{end}}
            </div>
        </div>
        <div class="pl-1 pr-3">
            <div class="col">
				<img src="/assets/img/arrows-spin-solid.svg" width="24" height="24" class="finger mb-2" onclick="selectmodeV2()" data-toggle="tooltip" data-placement="bottom" title="SelectMode Ctrl+Alt+Shift+m">
				<img src="/assets/img/listview.svg" width="24" height="24" class="finger mb-2" onclick="listview()" data-toggle="tooltip" data-placement="bottom" title="ListView">
				<img src="/assets/img/calendar.svg" width="24" height="24" class="finger mb-2 mr-3" onclick="calendarview()" data-toggle="tooltip" data-placement="bottom" title="CalendarView">
				
				<a class="btn btn-sm btn-outline-darkmode mb-2 statusuri" href="/inputmode?
																	project={{.SearchOption.Project}}&
																	searchword=shottype:2d&
																	sortkey={{.SearchOption.Sortkey}}&
																	searchbartemplate=searchbarV2&
																	truestatus={{Join .SearchOption.TrueStatus "," }}&
																	task={{.SearchOption.Task}}">2D <span class="badge badge-darkmode">{{.Searchnum.Shot2d}}</span></a>
                <a class="btn btn-sm btn-outline-darkmode mb-2 statusuri" href="/inputmode?
																	project={{.SearchOption.Project}}&
																	searchword=shottype:3d&
																	sortkey={{.SearchOption.Sortkey}}&
																	searchbartemplate=searchbarV2&
																	truestatus={{Join .SearchOption.TrueStatus "," }}&
																	task={{.SearchOption.Task}}">3D <span class="badge badge-darkmode">{{.Searchnum.Shot3d}}</span></a>
				<a class="btn btn-sm btn-outline-darkmode mb-2 statusuri" href="/inputmode?
																	project={{.SearchOption.Project}}&
																	searchword=type:shot&
																	sortkey={{.SearchOption.Sortkey}}&
																	searchbartemplate=searchbarV2&
																	truestatus={{Join .SearchOption.TrueStatus "," }}&
																	task={{.SearchOption.Task}}">Shot <span class="badge badge-darkmode">{{.Searchnum.Shot}}</span></a>
				<a class="btn btn-sm btn-outline-darkmode mb-2 statusuri" href="/inputmode?
																	project={{.SearchOption.Project}}&
																	searchword=type:asset&
																	sortkey={{.SearchOption.Sortkey}}&
																	searchbartemplate=searchbarV2&
																	truestatus={{Join .SearchOption.TrueStatus "," }}&
																	task={{.SearchOption.Task}}">Asset <span class="badge badge-darkmode">{{.Searchnum.Assets}}</span></a>
            </div>
		</div>
    </div>
</form>

<div class="p-0">
	<div class="text-darkmode">
		{{$totalExceptNone := Minus .Totalnum.Total .Totalnum.None }}
		{{.Totalnum.Percent}}% ({{Add .Totalnum.Done .Totalnum.Hold}} / {{Minus $totalExceptNone .Totalnum.Omit}})
		{{if .Dday}}
			/ <span class="text-warning">{{.Dday}}</span>
		{{else}}
			/ <span class="text-danger">마감일 설정필요</span>
		{{end}}
	</div>
		
	<div class="progress" style="height: 1px;">
		<div class="progress-bar bg-warning" role="progressbar" style="width: {{.Totalnum.Percent}}%;" aria-valuenow="{{.Totalnum.Percent}}" aria-valuemin="0" aria-valuemax="100"></div>
	</div>		
</div>


{{end}}
