{{define "searchbox_v02"}}
<form action="/searchsubmitv2" method="POST">
	<div class="row justify-content-center align-items-center m-3">
		<div class="col-lg-6">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<select name="Project" class="custom-select">
						{{range .Projectlist}}
							<option value="{{.}}" {{if eq . $.SearchOption.Project}}selected{{end}}>{{.}}</option>
						{{end}}
					</select>
				</div>
				<div class="input-group-append">
					<select name="Task" class="custom-select">
						<option value="" {{if eq $.SearchOption.Task ""}}selected{{end}}>All</option>
						<option value="concept" {{if eq $.SearchOption.Task "concept"}}selected{{end}}>concept</option>
						<option value="model" {{if eq $.SearchOption.Task "model"}}selected{{end}}>model</option>
						<option value="mm" {{if eq $.SearchOption.Task "mm"}}selected{{end}}>mm</option>
						<option value="layout" {{if eq $.SearchOption.Task "layout"}}selected{{end}}>layout</option>
						<option value="ani" {{if eq $.SearchOption.Task "ani"}}selected{{end}}>ani</option>
						<option value="fx" {{if eq $.SearchOption.Task "fx"}}selected{{end}}>fx</option>
						<option value="mg" {{if eq $.SearchOption.Task "mg"}}selected{{end}}>mg</option>
						<option value="previz" {{if eq $.SearchOption.Task "previz"}}selected{{end}}>previz</option>
						<option value="fur" {{if eq $.SearchOption.Task "fur"}}selected{{end}}>fur</option>
						<option value="rig" {{if eq $.SearchOption.Task "rig"}}selected{{end}}>rig</option>
						<option value="crowd" {{if eq $.SearchOption.Task "crowd"}}selected{{end}}>crowd</option>
						<option value="light" {{if eq $.SearchOption.Task "light"}}selected{{end}}>light</option>
						<option value="comp" {{if eq $.SearchOption.Task "comp"}}selected{{end}}>comp</option>
						<option value="matte" {{if eq $.SearchOption.Task "matte"}}selected{{end}}>matte</option>
						<option value="env" {{if eq $.SearchOption.Task "env"}}selected{{end}}>env</option>
					</select>
				</div>
				<input class="form-control" id="search" placeholder="Search word.." type="text" name="Searchword" value="{{.SearchOption.Searchword}}">
				<div class="input-group-append">
					<select name="Sortkey" class="custom-select">
						<option value="slug" {{if eq $.SearchOption.Sortkey "slug"}}selected{{end}}>정렬 : 샷네임</option>
						<option value="rnum" {{if eq $.SearchOption.Sortkey "rnum"}}selected{{end}}>정렬 : 롤넘버</option>
						<option value="ddline3d" {{if eq $.SearchOption.Sortkey "ddline3d"}}selected{{end}}>정렬 : 3D마감</option>
						<option value="ddline2d" {{if eq $.SearchOption.Sortkey "ddline2d"}}selected{{end}}>정렬 : 2D마감</option>
						<option value="scanframe" {{if eq $.SearchOption.Sortkey "scanframe"}}selected{{end}}>정렬 : 스캔길이</option>
						<option value="scantime" {{if eq $.SearchOption.Sortkey "scantime"}}selected{{end}}>정렬 : 스캔날짜</option>
					</select>
				</div>
				<div class="input-group-append">
					<button class="btn btn-secondary" id="button">
						Search
						{{if .Searchnum.Search}}
							<span class="badge badge-light">{{.Searchnum.Search}}</span>
						{{end}}
					</button>
				</div>
			</div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center ml-3 mr-3">
        <div class="row pl-3 pr-3">
            <div class="col">
				<a class="btn btn-sm mb-2 bg-assign text-dark" href="/tag/{{.SearchOption.Project}}/assign">
					<input type="checkbox" class="mr-2 StatusCheckBox" name="Assign" value="true"{{if $.SearchOption.Assign}} checked{{end}}>assign <span class="badge badge-light">{{.Searchnum.Assign}}</span>
				</a>
				<a class="btn btn-sm mb-2 bg-ready text-dark" href="/tag/{{.SearchOption.Project}}/ready">
					<input type="checkbox" class="mr-2 StatusCheckBox" name="Ready" value="true"{{if $.SearchOption.Ready}} checked{{end}}>ready <span class="badge badge-light">{{.Searchnum.Ready}}</span>
				</a>
				<a class="btn btn-sm mb-2 bg-wip text-dark" href="/tag/{{.SearchOption.Project}}/wip">
					<input type="checkbox" class="mr-2 StatusCheckBox" name="Wip" value="true"{{if $.SearchOption.Wip}} checked{{end}}>wip <span class="badge badge-light">{{.Searchnum.Wip}}</span>
				</a>
				<a class="btn btn-sm mb-2 bg-confirm text-dark" href="/tag/{{.SearchOption.Project}}/confirm">
					<input type="checkbox" class="mr-2 StatusCheckBox" name="Confirm" value="true"{{if $.SearchOption.Confirm}} checked{{end}}>confirm <span class="badge badge-light">{{.Searchnum.Confirm}}</span>
				</a>
				<a class="btn btn-sm mb-2 bg-done text-dark" href="/tag/{{.SearchOption.Project}}/done">
					<input type="checkbox" class="mr-2 StatusCheckBox" name="Done" value="true"{{if $.SearchOption.Done}} checked{{end}}>done <span class="badge badge-light">{{.Searchnum.Done}}</span>
				</a>
				<a class="btn btn-sm mb-2 bg-omit text-dark" href="/tag/{{.SearchOption.Project}}/omit">
					<input type="checkbox" class="mr-2 StatusCheckBox" name="Omit" value="true"{{if $.SearchOption.Omit}} checked{{end}}>omit <span class="badge badge-light">{{.Searchnum.Omit}}</span>
				</a>
				<a class="btn btn-sm mb-2 bg-hold text-dark" href="/tag/{{.SearchOption.Project}}/hold">
					<input type="checkbox" class="mr-2 StatusCheckBox" name="Hold" value="true"{{if $.SearchOption.Hold}} checked{{end}}>hold <span class="badge badge-light">{{.Searchnum.Hold}}</span>
				</a>
				<a class="btn btn-sm mb-2 bg-out text-dark" href="/tag/{{.SearchOption.Project}}/out">
					<input type="checkbox" class="mr-2 StatusCheckBox" name="Out" value="true"{{if $.SearchOption.Out}} checked{{end}}>out <span class="badge badge-light">{{.Searchnum.Out}}</span>
				</a>
				<a class="btn btn-sm mb-2 bg-none text-dark" href="/tag/{{.SearchOption.Project}}/none">
					<input type="checkbox" class="mr-2 StatusCheckBox" name="None" value="true"{{if $.SearchOption.None}} checked{{end}}>none <span class="badge badge-light">{{.Searchnum.None}}</span>
				</a>
            </div>
        </div>
        <div class="row pl-3 pr-3">
            <div class="col">
                <a class="btn btn-sm btn-outline-secondary mb-2 text-dark" onclick="selectmode()">선택모드</a>
                <a class="btn btn-sm btn-outline-secondary mb-2 text-dark" href="tag/{{.SearchOption.Project}}/2d">2D <span class="badge badge-light">{{.Searchnum.Shot2d}}</span></a>
                <a class="btn btn-sm btn-outline-secondary mb-2 text-dark" href="tag/{{.SearchOption.Project}}/3d">3D <span class="badge badge-light">{{.Searchnum.Shot3d}}</span></a>
				<a class="btn btn-sm btn-outline-secondary mb-2 text-dark" href="tag/{{.SearchOption.Project}}/shot">Shot <span class="badge badge-light">{{.Searchnum.Shot}}</span></a>
				<a class="btn btn-sm btn-outline-secondary mb-2 text-dark" href="tag/{{.SearchOption.Project}}/asset">Asset <span class="badge badge-light">{{.Searchnum.Assets}}</span></a>
            </div>
		</div>
		<input type="hidden" name="Template" value="{{.SearchOption.Template}}">
    </div>
</form>



<div class="p-1">
	<div class="progress">
		<div class="progress-bar bg-secondary" role="progressbar" style="width: {{.Totalnum.Percent}}%;" aria-valuenow="{{.Totalnum.Percent}}" aria-valuemin="0" aria-valuemax="100">
			{{$totalExceptNone := Minus .Totalnum.Total .Totalnum.None }}
			{{.Totalnum.Percent}}% ({{Add .Totalnum.Done .Totalnum.Hold}} / {{Minus $totalExceptNone .Totalnum.Omit}})
		</div>
	</div>			
</div>

{{end}}
