{{define "searchbox_v02"}}
<form action="/" method="POST">
	<div class="row justify-content-center align-items-center p-3">
		<div class="col-lg-6">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<select name="project" class="custom-select">
						{{range .Projectlist}}
							<option value="{{.}}">{{.}}</option>
						{{end}}
					</select>
				</div>
				<input class="form-control" id="search" placeholder="Search word.." type="text" maxlength="50" name="searchword" autofocus="autofocus" value="">
				<div class="input-group-append">
					<select name="Sortkey" class="custom-select">
						<option value="slug">정렬 : 샷네임</option>
						<option value="rnum">정렬 : 롤넘버</option>
						<option value="ddline3d">정렬 : 3D마감</option>
						<option value="ddline2d">정렬 : 2D마감</option>
						<option value="scanframe">정렬 : 스캔길이</option>
						<option value="scantime">정렬 : 스캔날짜</option>
					</select>
				</div>
				<div class="input-group-append">
					<button class="btn btn-primary" id="button">Search</button>
				</div>
			</div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center pl-3 pr-3">
        <div class="row pl-3 pr-3">
            <div class="col">
                <a class="btn btn-sm mb-2 bg-assign text-dark" href="/"><input type="checkbox" class="mr-2">assign(0)</a>
                <a class="btn btn-sm mb-2 bg-ready"><input type="checkbox" class="mr-2">ready(0)</a>
                <a class="btn btn-sm mb-2 bg-wip"><input type="checkbox" class="mr-2">wip(0)</a>
                <a class="btn btn-sm mb-2 bg-confirm"><input type="checkbox" class="mr-2">confirm(0)</a>
                <a class="btn btn-sm mb-2 bg-done"><input type="checkbox" class="mr-2">done(0)</a>
                <a class="btn btn-sm mb-2 bg-omit"><input type="checkbox" class="mr-2">omit(0)</a>
                <a class="btn btn-sm mb-2 bg-out"><input type="checkbox" class="mr-2">out(0)</a>
                <a class="btn btn-sm mb-2 bg-none"><input type="checkbox" class="mr-2">none(0)</a>
            </div>
        </div>
        <div class="row pl-3 pr-3">
            <div class="col">
                <a class="btn btn-sm btn-outline-secondary mb-2">선택모드</a>
                <a class="btn btn-sm btn-outline-secondary mb-2">2D</a>
                <a class="btn btn-sm btn-outline-secondary mb-2">3D</a>
                <a class="btn btn-sm btn-outline-secondary mb-2">Asset</a>
            </div>
        </div>
    </div>
</form>
{{end}}
