{{define "searchbox_v02"}}
<form action="/searchsubmitv2" method="POST">
	<div class="row justify-content-center align-items-center p-3">
		<div class="col-lg-6">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<select name="Project" class="custom-select">
						{{range .Projectlist}}
							<option value="{{.}}" {{if eq . $.SearchOption.Project}}selected{{end}}>{{.}}</option>
						{{end}}
					</select>
				</div>
				<input class="form-control" id="search" placeholder="Search word.." type="text" name="Searchword" value="{{.SearchOption.Searchword}}">
				<div class="input-group-append">
					<select name="Sortkey" class="custom-select">
						<option value="slug" {{if eq $.SearchOption.Sortkey "slug"}}selected{{end}}>정렬 : 샷네임</option>
						<option value="rnum" {{if eq $.SearchOption.Sortkey "rnum"}}selected{{end}}>정렬 : 롤넘버</option>
						<option value="ddline3d" {{if eq $.SearchOption.Sortkey "ddline3d"}}selected{{end}}>정렬 : 3D마감</option>
						<option value="ddline2d" {{if eq $.SearchOption.Sortkey "ddline2d"}}selected{{end}}>정렬 : 2D마감</option>
						<option value="scanframe" {{if eq $.SearchOption.Sortkey "scanframe"}}selected{{end}}>정렬 : 스캔길이</option>
						<option value="scantime" {{if eq $.SearchOption.Sortkey "scantime"}}selected{{end}}>정렬 : 스캔날짜</option>
					</select>
				</div>
				<div class="input-group-append">
					<button class="btn btn-primary" id="button">Search</button>
				</div>
			</div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center pl-3 pr-3">
        <div class="row pl-3 pr-3">
            <div class="col">
				<a class="btn btn-sm mb-2 bg-assign text-dark" href="/tag/{{.SearchOption.Project}}/assign">
					<input type="checkbox" class="mr-2 StatusCheckBox" name="Assign" value="true"{{if $.SearchOption.Assign}} checked{{end}}>assign(0)
				</a>
				<a class="btn btn-sm mb-2 bg-ready text-dark" href="/tag/{{.SearchOption.Project}}/ready">
					<input type="checkbox" class="mr-2 StatusCheckBox" name="Ready" value="true"{{if $.SearchOption.Ready}} checked{{end}}>ready(0)
				</a>
				<a class="btn btn-sm mb-2 bg-wip text-dark" href="/tag/{{.SearchOption.Project}}/wip">
					<input type="checkbox" class="mr-2 StatusCheckBox" name="Wip" value="true"{{if $.SearchOption.Wip}} checked{{end}}>wip(0)
				</a>
				<a class="btn btn-sm mb-2 bg-confirm text-dark" href="/tag/{{.SearchOption.Project}}/confirm">
					<input type="checkbox" class="mr-2 StatusCheckBox" name="Confirm" value="true"{{if $.SearchOption.Confirm}} checked{{end}}>confirm(0)
				</a>
				<a class="btn btn-sm mb-2 bg-done text-dark" href="/tag/{{.SearchOption.Project}}/done">
					<input type="checkbox" class="mr-2 StatusCheckBox" name="Done" value="true"{{if $.SearchOption.Done}} checked{{end}}>done(0)
				</a>
				<a class="btn btn-sm mb-2 bg-omit text-dark" href="/tag/{{.SearchOption.Project}}/omit">
					<input type="checkbox" class="mr-2 StatusCheckBox" name="Omit" value="true"{{if $.SearchOption.Omit}} checked{{end}}>omit(0)
				</a>
				<a class="btn btn-sm mb-2 bg-hold text-dark" href="/tag/{{.SearchOption.Project}}/hold">
					<input type="checkbox" class="mr-2 StatusCheckBox" name="Hold" value="true"{{if $.SearchOption.Hold}} checked{{end}}>hold(0)
				</a>
				<a class="btn btn-sm mb-2 bg-out text-dark" href="/tag/{{.SearchOption.Project}}/out">
					<input type="checkbox" class="mr-2 StatusCheckBox" name="Out" value="true"{{if $.SearchOption.Out}} checked{{end}}>out(0)
				</a>
				<a class="btn btn-sm mb-2 bg-none text-dark" href="/tag/{{.SearchOption.Project}}/none">
					<input type="checkbox" class="mr-2 StatusCheckBox" name="None" value="true"{{if $.SearchOption.None}} checked{{end}}>none(0)
				</a>
            </div>
        </div>
        <div class="row pl-3 pr-3">
            <div class="col">
                <a class="btn btn-sm btn-outline-secondary mb-2 text-dark" onclick="selectmode()">선택모드</a>
                <a class="btn btn-sm btn-outline-secondary mb-2 text-dark" href="tag/{{.SearchOption.Project}}/2d">2D</a>
                <a class="btn btn-sm btn-outline-secondary mb-2 text-dark" href="tag/{{.SearchOption.Project}}/3d">3D</a>
                <a class="btn btn-sm btn-outline-secondary mb-2 text-dark" href="tag/{{.SearchOption.Project}}/asset">Asset</a>
            </div>
		</div>
		<input type="hidden" name="Template" value="{{.SearchOption.Template}}">
    </div>
</form>
{{end}}
