{{define "searchbarV1"}}
<form action="/searchsubmit" method="POST">
	<div class="row justify-content-center align-items-center m-3">
		<div class="col-lg-7">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<select name="Project" class="rounded-left custom-select" id="searchbox-project" onchange="changeTitle();">
						{{range .Projectlist}}
							<option value="{{.}}" {{if eq . $.SearchOption.Project}}selected{{end}}>{{.}}</option>
						{{end}}
					</select>
				</div>
				<div class="input-group-append">
					<select name="Task" id="searchbox-task" class="custom-select">
						<option value="" {{if eq $.SearchOption.Task "" }}selected{{end}}>All</option>
						{{range .TasksettingNames}}
							<option value="{{.}}" {{if eq $.SearchOption.Task . }}selected{{end}}>{{.}}</option>
						{{end}}
					</select>
				</div>
				<input class="form-control" id="searchbox-searchword" placeholder="Search word.." type="text" name="Searchword" value="{{.SearchOption.Searchword}}">
				<div class="input-group-append">
					<select name="Sortkey" id="searchbox-sortkey" class="custom-select">
						<option value="id" {{if eq $.SearchOption.Sortkey "id" }}selected{{end}}>정렬: 샷네임</option>
						<option value="rnum" {{if eq $.SearchOption.Sortkey "rnum" }}selected{{end}}>정렬: 롤넘버</option>
						<option value="ddline3d" {{if eq $.SearchOption.Sortkey "ddline3d" }}selected{{end}}>정렬: 3D마감</option>
						<option value="ddline2d" {{if eq $.SearchOption.Sortkey "ddline2d" }}selected{{end}}>정렬: 2D마감</option>
						<option value="scanframe" {{if eq $.SearchOption.Sortkey "scanframe" }}selected{{end}}>정렬: 스캔길이</option>
						<option value="scantime" {{if eq $.SearchOption.Sortkey "scantime" }}selected{{end}}>정렬: 스캔날짜</option>
						<option value="taskpredate" {{if eq $.SearchOption.Sortkey "taskpredate" }}selected{{end}}>정렬: Task 1차마감</option>
						<option value="taskdate" {{if eq $.SearchOption.Sortkey "taskdate" }}selected{{end}}>정렬: Task 2차마감</option>
					</select>
				</div>
				<div class="input-group-append">
					<select name="SearchbarTemplate" id="searchbox-searchbar-template" class="custom-select">
						<option value="searchbarV1" {{if eq $.SearchOption.SearchbarTemplate "searchbarV1" }}selected{{end}}>ver1</option>
						<option value="searchbarV2" {{if eq $.SearchOption.SearchbarTemplate "searchbarV2" }}selected{{end}}>ver2</option>
					</select>
				</div>
				<div class="input-group-append">
					<button class="btn btn-darkmode" id="button">
						Search
						{{if .Searchnum.Search}}
							<span class="badge badge-darkmode">{{.Searchnum.Search}}</span>
						{{end}}
					</button>
				</div>
			</div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center ml-3 mr-3">
        <div class="pl-3 pr-3">
            <div class="col">
				<span class="btn btn-sm mb-2 bg-assign">
					<input type="checkbox" class="mr-1 StatusCheckBox" id="searchbox-checkbox-assign" status="assign" onchange="changeStatusURI('assign');" name="Assign" value="true"{{if $.SearchOption.Assign}} checked{{end}}>
					<a class="text-assign statusuri" href="/inputmode?
											project={{.SearchOption.Project}}&
											searchword=status:assign&
											sortkey={{.SearchOption.Sortkey}}&
											assign={{.SearchOption.Assign}}&
											ready={{.SearchOption.Ready}}&
											wip={{.SearchOption.Wip}}&
											confirm={{.SearchOption.Confirm}}&
											done={{.SearchOption.Done}}&
											omit={{.SearchOption.Omit}}&
											hold={{.SearchOption.Hold}}&
											out={{.SearchOption.Out}}&
											none={{.SearchOption.None}}&
											template={{.SearchOption.Template}}&
											searchbartemplate=searchbarV1&
											task={{.SearchOption.Task}}">
											assign</a>
																
					 <span class="badge badge-light">{{.Searchnum.Assign}}</span>
				</span>
				<span class="btn btn-sm mb-2 bg-ready">
					<input type="checkbox" class="mr-1 StatusCheckBox" id="searchbox-checkbox-ready" status="ready" onchange="changeStatusURI('ready');" name="Ready" value="true"{{if $.SearchOption.Ready}} checked{{end}}>
					<a class="text-ready statusuri" href="/inputmode?
										project={{.SearchOption.Project}}&
										searchword=status:ready&
										sortkey={{.SearchOption.Sortkey}}&
										assign={{.SearchOption.Assign}}&
										ready={{.SearchOption.Ready}}&
										wip={{.SearchOption.Wip}}&
										confirm={{.SearchOption.Confirm}}&
										done={{.SearchOption.Done}}&
										omit={{.SearchOption.Omit}}&
										hold={{.SearchOption.Hold}}&
										out={{.SearchOption.Out}}&
										none={{.SearchOption.None}}&
										template={{.SearchOption.Template}}&
										searchbartemplate=searchbarV1&
										task={{.SearchOption.Task}}">ready</a>
					<span class="badge badge-light">{{.Searchnum.Ready}}</span>
				</span>
				<span class="btn btn-sm mb-2 bg-wip">
					<input type="checkbox" class="mr-1 StatusCheckBox" id="searchbox-checkbox-wip" status="wip" onchange="changeStatusURI('wip');" name="Wip" value="true"{{if $.SearchOption.Wip}} checked{{end}}>
					<a class="text-wip statusuri" href="/inputmode?
										project={{.SearchOption.Project}}&
										searchword=status:wip&
										sortkey={{.SearchOption.Sortkey}}&
										assign={{.SearchOption.Assign}}&
										ready={{.SearchOption.Ready}}&
										wip={{.SearchOption.Wip}}&
										confirm={{.SearchOption.Confirm}}&
										done={{.SearchOption.Done}}&
										omit={{.SearchOption.Omit}}&
										hold={{.SearchOption.Hold}}&
										out={{.SearchOption.Out}}&
										none={{.SearchOption.None}}&
										template={{.SearchOption.Template}}&
										searchbartemplate=searchbarV1&
										task={{.SearchOption.Task}}">wip</a>
					<span class="badge badge-light">{{.Searchnum.Wip}}</span>
				</span>
				<span class="btn btn-sm mb-2 bg-confirm">
					<input type="checkbox" class="mr-1 StatusCheckBox" id="searchbox-checkbox-confirm" status="confirm" onchange="changeStatusURI('confirm');" name="Confirm" value="true"{{if $.SearchOption.Confirm}} checked{{end}}>
					<a class="text-confirm statusuri" href="/inputmode?
										project={{.SearchOption.Project}}&
										searchword=status:confirm&
										sortkey={{.SearchOption.Sortkey}}&
										assign={{.SearchOption.Assign}}&
										ready={{.SearchOption.Ready}}&
										wip={{.SearchOption.Wip}}&
										confirm={{.SearchOption.Confirm}}&
										done={{.SearchOption.Done}}&
										omit={{.SearchOption.Omit}}&
										hold={{.SearchOption.Hold}}&
										out={{.SearchOption.Out}}&
										none={{.SearchOption.None}}&
										template={{.SearchOption.Template}}&
										searchbartemplate=searchbarV1&
										task={{.SearchOption.Task}}">confirm</a>
					<span class="badge badge-light">{{.Searchnum.Confirm}}</span>
				</span>
				<span class="btn btn-sm mb-2 bg-done">
					<input type="checkbox" class="mr-1 StatusCheckBox" id="searchbox-checkbox-done" status="done" onchange="changeStatusURI('done');" name="Done" value="true"{{if $.SearchOption.Done}} checked{{end}}>
					<a class="text-done statusuri" href="/inputmode?
										project={{.SearchOption.Project}}&
										searchword=status:done&
										sortkey={{.SearchOption.Sortkey}}&
										assign={{.SearchOption.Assign}}&
										ready={{.SearchOption.Ready}}&
										wip={{.SearchOption.Wip}}&
										confirm={{.SearchOption.Confirm}}&
										done={{.SearchOption.Done}}&
										omit={{.SearchOption.Omit}}&
										hold={{.SearchOption.Hold}}&
										out={{.SearchOption.Out}}&
										none={{.SearchOption.None}}&
										template={{.SearchOption.Template}}&
										searchbartemplate=searchbarV1&
										task={{.SearchOption.Task}}">done</a>
					<span class="badge badge-light">{{.Searchnum.Done}}</span>
				</span>
				<span class="btn btn-sm mb-2 bg-out">
					<input type="checkbox" class="mr-1 StatusCheckBox" id="searchbox-checkbox-out" status="out" onchange="changeStatusURI('out');" name="Out" value="true"{{if $.SearchOption.Out}} checked{{end}}>
					<a class="text-out statusuri" href="/inputmode?
											project={{.SearchOption.Project}}&
											searchword=status:out&
											sortkey={{.SearchOption.Sortkey}}&
											assign={{.SearchOption.Assign}}&
											ready={{.SearchOption.Ready}}&
											wip={{.SearchOption.Wip}}&
											confirm={{.SearchOption.Confirm}}&
											done={{.SearchOption.Done}}&
											omit={{.SearchOption.Omit}}&
											hold={{.SearchOption.Hold}}&
											out={{.SearchOption.Out}}&
											none={{.SearchOption.None}}&
											template={{.SearchOption.Template}}&
											searchbartemplate=searchbarV1&
											task={{.SearchOption.Task}}">
											out</a>
																
					 <span class="badge badge-light">{{.Searchnum.Out}}</span>
				</span>
				<span class="btn btn-sm mb-2 bg-omit">
					<input type="checkbox" class="mr-1 StatusCheckBox" id="searchbox-checkbox-omit" status="omit" onchange="changeStatusURI('omit');" name="Omit" value="true"{{if $.SearchOption.Omit}} checked{{end}}>
					<a class="text-omit statusuri" href="/inputmode?
										project={{.SearchOption.Project}}&
										searchword=status:omit&
										sortkey={{.SearchOption.Sortkey}}&
										assign={{.SearchOption.Assign}}&
										ready={{.SearchOption.Ready}}&
										wip={{.SearchOption.Wip}}&
										confirm={{.SearchOption.Confirm}}&
										done={{.SearchOption.Done}}&
										omit={{.SearchOption.Omit}}&
										hold={{.SearchOption.Hold}}&
										out={{.SearchOption.Out}}&
										none={{.SearchOption.None}}&
										template={{.SearchOption.Template}}&
										searchbartemplate=searchbarV1&
										task={{.SearchOption.Task}}">omit</a>
					<span class="badge badge-light">{{.Searchnum.Omit}}</span>
				</span>
				<span class="btn btn-sm mb-2 bg-hold">
					<input type="checkbox" class="mr-1 StatusCheckBox" id="searchbox-checkbox-hold" status="hold" onchange="changeStatusURI('hold');" name="Hold" value="true"{{if $.SearchOption.Hold}} checked{{end}}>
					<a class="text-hold statusuri" href="/inputmode?
										project={{.SearchOption.Project}}&
										searchword=status:hold&
										sortkey={{.SearchOption.Sortkey}}&
										assign={{.SearchOption.Assign}}&
										ready={{.SearchOption.Ready}}&
										wip={{.SearchOption.Wip}}&
										confirm={{.SearchOption.Confirm}}&
										done={{.SearchOption.Done}}&
										omit={{.SearchOption.Omit}}&
										hold={{.SearchOption.Hold}}&
										out={{.SearchOption.Out}}&
										none={{.SearchOption.None}}&
										template={{.SearchOption.Template}}&
										searchbartemplate=searchbarV1&
										task={{.SearchOption.Task}}">hold</a>
					<span class="badge badge-light">{{.Searchnum.Hold}}</span>
				</span>
				<span class="btn btn-sm mb-2 bg-none">
					<input type="checkbox" class="mr-1 StatusCheckBox" id="searchbox-checkbox-none" status="none" onchange="changeStatusURI('none');" name="None" value="true"{{if $.SearchOption.None}} checked{{end}}>
					<a class="text-none statusuri" href="/inputmode?
										project={{.SearchOption.Project}}&
										searchword=status:none&
										sortkey={{.SearchOption.Sortkey}}&
										assign={{.SearchOption.Assign}}&
										ready={{.SearchOption.Ready}}&
										wip={{.SearchOption.Wip}}&
										confirm={{.SearchOption.Confirm}}&
										done={{.SearchOption.Done}}&
										omit={{.SearchOption.Omit}}&
										hold={{.SearchOption.Hold}}&
										out={{.SearchOption.Out}}&
										none={{.SearchOption.None}}&
										template={{.SearchOption.Template}}&
										searchbartemplate=searchbarV1&
										task={{.SearchOption.Task}}">none</a>
					<span class="badge badge-light">{{.Searchnum.None}}</span>
				</span>
            </div>
        </div>
        <div class="pl-3 pr-3">
            <div class="col">
				<span class="btn btn-sm btn-outline-darkmode mb-2" onclick="selectmode()" title="Ctrl + Alt + Shift + m">
					선택모드
				</span>
				<a class="btn btn-sm btn-outline-darkmode mb-2 statusuri" href="/inputmode?
																	project={{.SearchOption.Project}}&
																	searchword=shottype:2d&
																	sortkey={{.SearchOption.Sortkey}}&
																	assign={{.SearchOption.Assign}}&
																	ready={{.SearchOption.Ready}}&
																	wip={{.SearchOption.Wip}}&
																	confirm={{.SearchOption.Confirm}}&
																	done={{.SearchOption.Done}}&
																	omit={{.SearchOption.Omit}}&
																	hold={{.SearchOption.Hold}}&
																	out={{.SearchOption.Out}}&
																	none={{.SearchOption.None}}&
																	template={{.SearchOption.Template}}&
																	searchbartemplate=searchbarV1&
																	task={{.SearchOption.Task}}">2D <span class="badge badge-darkmode">{{.Searchnum.Shot2d}}</span></a>
                <a class="btn btn-sm btn-outline-darkmode mb-2 statusuri" href="/inputmode?
																	project={{.SearchOption.Project}}&
																	searchword=shottype:3d&
																	sortkey={{.SearchOption.Sortkey}}&
																	assign={{.SearchOption.Assign}}&
																	ready={{.SearchOption.Ready}}&
																	wip={{.SearchOption.Wip}}&
																	confirm={{.SearchOption.Confirm}}&
																	done={{.SearchOption.Done}}&
																	omit={{.SearchOption.Omit}}&
																	hold={{.SearchOption.Hold}}&
																	out={{.SearchOption.Out}}&
																	none={{.SearchOption.None}}&
																	template={{.SearchOption.Template}}&
																	searchbartemplate=searchbarV1&
																	task={{.SearchOption.Task}}">3D <span class="badge badge-darkmode">{{.Searchnum.Shot3d}}</span></a>
				<a class="btn btn-sm btn-outline-darkmode mb-2 statusuri" href="/inputmode?
																	project={{.SearchOption.Project}}&
																	searchword=type:shot&
																	sortkey={{.SearchOption.Sortkey}}&
																	assign=true&
																	ready=true&
																	wip=true&
																	confirm=true&
																	done=true&
																	omit=true&
																	hold=true&
																	out=true&
																	none=true&
																	template={{.SearchOption.Template}}&
																	searchbartemplate=searchbarV1&
																	task={{.SearchOption.Task}}">Shot <span class="badge badge-darkmode">{{.Searchnum.Shot}}</span></a>
				<a class="btn btn-sm btn-outline-darkmode mb-2 statusuri" href="/inputmode?
																	project={{.SearchOption.Project}}&
																	searchword=type:asset&
																	sortkey={{.SearchOption.Sortkey}}&
																	assign=true&
																	ready=true&
																	wip=true&
																	confirm=true&
																	done=true&
																	omit=true&
																	hold=true&
																	out=true&
																	none=true&
																	template={{.SearchOption.Template}}&
																	searchbartemplate=searchbarV1&
																	task={{.SearchOption.Task}}">Asset <span class="badge badge-darkmode">{{.Searchnum.Assets}}</span></a>
            </div>
		</div>
		<input type="hidden" name="Template" value="{{.SearchOption.Template}}">
    </div>
</form>



<div class="p-0">
	<div class="text-darkmode">
		{{$totalExceptNone := Minus .Totalnum.Total .Totalnum.None }}
		{{.Totalnum.Percent}}% ({{Add .Totalnum.Done .Totalnum.Hold}} / {{Minus $totalExceptNone .Totalnum.Omit}})
		{{if .Dday}}
			/ <span class="text-warning">{{.Dday}}</span>
		{{else}}
			/ <span class="text-danger">마감일 설정필요</span>
		{{end}}
	</div>
		
	<div class="progress" style="height: 1px;">
		<div class="progress-bar bg-warning" role="progressbar" style="width: {{.Totalnum.Percent}}%;" aria-valuenow="{{.Totalnum.Percent}}" aria-valuemin="0" aria-valuemax="100"></div>
	</div>		
</div>


{{end}}
