{{define "searchbox"}}

{{/*만약 프로젝트명이 쿠키로 저장되어있지 않고, 최초 index페이지로 접근하면 첫번째 프로젝트를 선택한다.*/}}
{{$firstProject := index .Projectlist 0}}
{{$project := or .Searchop.Project $firstProject}}

<form action="/search" method="POST" class="searchbox" name="checkboxes">
<select name="Project" class="selectproject" onchange="changeProject(this);">
{{range .Projectlist}}<option value="{{.}}"{{if eq $.Searchop.Project .}} selected{{end}}>{{.}}</option>{{end}}
</select>
<input class="searchform" type="text" size="30" maxlength="50" name="Searchword" value="{{.Searchop.Searchword}}">
<button class="button" id="button">Search</button>
<br><br>
<cboxtext>
<input class="StatusCheckBox" type="checkbox" name="Assign" value="true" {{if .Searchop.Assign}}checked{{end}}>
<a href="/tag/{{$project}}/assign" title="작업자 배정을 기다리는 리스트" name="assign"><assign>assign</assign><searchnum>{{if $.Searchop.Searchword}}{{.Searchnum.Assign}}{{else}}0{{end}}</searchnum></a>&nbsp;&nbsp;

<input class="StatusCheckBox" type="checkbox" name="Ready" value="true" {{if .Searchop.Ready}}checked{{end}}>
<a href="/tag/{{$project}}/ready" title="작업자가 배정만 된 리스트(팀장)" name="ready"><ready>ready</ready><searchnum>{{if $.Searchop.Searchword}}{{.Searchnum.Ready}}{{else}}0{{end}}</searchnum></a>&nbsp;&nbsp;

<input class="StatusCheckBox" type="checkbox" name="Wip" value="true" {{if .Searchop.Wip}}checked{{end}}>
<a href="/tag/{{$project}}/wip" title="작업중인 리스트(작업자)" name="wip"><wip>wip</wip><searchnum>{{if $.Searchop.Searchword}}{{.Searchnum.Wip}}{{else}}0{{end}}</searchnum></a>&nbsp;&nbsp;

<input class="StatusCheckBox" type="checkbox" name="Confirm" value="true" {{if .Searchop.Confirm}}checked{{end}}>
<a href="/tag/{{$project}}/confirm" title="컨펌대기중인 리스트(작업자)" name="confirm"><confirm>confirm</confirm><searchnum>{{if $.Searchop.Searchword}}{{.Searchnum.Confirm}}{{else}}0{{end}}</searchnum></a>&nbsp;&nbsp;

<input class="StatusCheckBox" type="checkbox" name="Done" value="true" {{if .Searchop.Done}}checked{{end}}>
<a href="/tag/{{$project}}/done" title="작업이 완료된 리스트" name="done"><done>done</done><searchnum>{{if $.Searchop.Searchword}}{{.Searchnum.Done}}{{else}}0{{end}}</searchnum></a>&nbsp;&nbsp;

<input class="StatusCheckBox" type="checkbox" name="Omit" value="true" {{if .Searchop.Omit}}checked{{end}}>
<a href="/tag/{{$project}}/omit" title="작업이 취소된 리스트" name="omit"><omit>omit</omit><searchnum>{{if $.Searchop.Searchword}}{{.Searchnum.Omit}}{{else}}0{{end}}</searchnum></a>&nbsp;&nbsp;

<input class="StatusCheckBox" type="checkbox" name="Hold" value="true" {{if .Searchop.Hold}}checked{{end}}>
<a href="/tag/{{$project}}/hold" title="작업이 정지된 리스트" name="hold"><hold>hold</hold><searchnum>{{if $.Searchop.Searchword}}{{.Searchnum.Hold}}{{else}}0{{end}}</searchnum></a>&nbsp;&nbsp;

<input class="StatusCheckBox" type="checkbox" name="Out" value="true" {{if .Searchop.Out}}checked{{end}}>
<a href="/tag/{{$project}}/out" title="외주로 나간 리스트" name="out"><out>out</out><searchnum>{{if $.Searchop.Searchword}}{{.Searchnum.Out}}{{else}}0{{end}}</searchnum></a>&nbsp;&nbsp;

<input class="StatusCheckBox" type="checkbox" name="None" value="true" {{if .Searchop.None}}checked{{end}}>
<a href="/tag/{{$project}}/none" title="기타 리스트(소스, 레퍼런스)" name="none"><none>none</none></a>&nbsp;

<button class="selectmode" type=button onclick="selectmode()">선택모드</button> &nbsp;&nbsp;/&nbsp;
<a href="/tag/{{$project}}/2d" name="2d">2D</a>,
<a href="/tag/{{$project}}/3d" name="3d">3D</a>,
<a href="/tag/{{$project}}/asset" name="asset">Asset</a>
</cboxtext>
&nbsp;&nbsp;

<select name="Sortkey" class="sortbox">
<option value="slug" {{if eq .Searchop.Sortkey "slug"}}selected{{end}}>정렬 : 샷네임</option>
<option value="rnum" {{if eq .Searchop.Sortkey "rnum"}}selected{{end}}>정렬 : 롤넘버</option>
<option value="ddline3d" {{if eq .Searchop.Sortkey "ddline3d"}}selected{{end}}>정렬 : 3D마감</option>
<option value="ddline2d" {{if eq .Searchop.Sortkey "ddline2d"}}selected{{end}}>정렬 : 2D마감</option>
<option value="scanframe" {{if eq .Searchop.Sortkey "scanframe"}}selected{{end}}>정렬 : 스캔길이</option>
<option value="scantime" {{if eq .Searchop.Sortkey "scantime"}}selected{{end}}>정렬 : 스캔날짜</option>
</select>

<select name="Template" class="sortbox">
<option value="csi2" {{if eq .Searchop.Template "csi2"}}selected{{end}}>양식 : csi2</option>
<option value="csi3" {{if eq .Searchop.Template "csi3"}}selected{{end}}>양식 : csi3</option>
</select>

</form>
{{end}}
