{{define "setrnum" }}
<div class="pt-5">

</div>
<div class="row m-1">
	{{range .Items}}
	<div class="mx-auto">
		<div class="card m-2" style="width: 18rem;">
			<img class="card-img-top" src="/thumbnail/{{.Project}}/{{.ID}}.jpg" onerror="this.src='/assets/img/none.jpg'">
			<div class="card-body">
				<h6 class="card-title">{{.Name}}({{.Type}})</h6>
				<input class="form-control" value="{{.Rnum}}" type="text" onchange="setRnum('{{.Project}}', '{{.Name}}', this.value, '{{$.User.Token}}')">
				<small class="form-text text-muted">A0001 형태로 각 권(A,B,C,D,E,F)문자와 편집본 순서를 입력합니다.</small>
			</div>
		</div>
	</div>
	{{end}}
</div>

{{end}}
