{{define "signup" }}
{{template "headBootstrap"}}
<body>

<div class="container p-5">
    <form method="post" action="/signup_submit">
    <div class="pt-3 pb-5">
        <h2 class="section-heading text-center">{{.Company}} Sign Up</h2>
    </div>
    <div class="row">   
        <div class="col-sm">
            <div class="form-group">
                <label>ID <span class="text-danger">*</span></label>
                <input type="text" name="ID" class="form-control" placeholder="ID">
                <small class="form-text text-muted">사번이 있다면 사번을 입력해주세요. 대문자를 입력하더라도 소문자로 변경됩니다.</small>
            </div>
            <div class="form-group">
                <label>Password <span class="text-danger">*</span></label>
                <input type="password" name="Password" class="form-control" placeholder="Password">
                <small class="form-text text-muted">대소문자,숫자,특수문자 포함,8자리 이상을 권장합니다.</small>
            </div>
            <div class="form-group">
                <label>Confirm Password <span class="text-danger">*</span></label>
                <input type="password" name="ConfirmPassword" class="form-control" placeholder="Confirm Password">
                <small class="form-text text-muted">다시한번 패스워드를 입력해주세요.</small>
            </div>
            <label>Name / 이름</label>
            <div class="form-row">
                <div class="col-4">
                    <input type="text" name="FirstNameKor" class="form-control" placeholder="성">
                </div>
                <div class="col-8">
                    <input type="text" name="LastNameKor" class="form-control" placeholder="이름">
                </div>
            </div>
            <small class="form-text text-muted pb-3">한글이름</small>
            <div class="form-row">
                <div class="col-8">
                    <input type="text" name="FirstNameEng" class="form-control" placeholder="First">
                </div>
                <div class="col-4">
                    <input type="text" name="LastNameEng" class="form-control" placeholder="Last">
                </div>
            </div>
            <small class="form-text text-muted pb-3">영문이름. 외국인은 이름이 길기 때문에 FirstName을 닉네임으로 사용합니다.</small>
            <div class="form-row">
                <div class="col-4">
                    <input type="text" name="FirstNameChn" class="form-control" placeholder="성(한자)">
                </div>
                <div class="col-8">
                    <input type="text" name="LastNameChn" class="form-control" placeholder="이름(한자)">
                </div>
            </div>
            <small class="form-text text-muted pb-3">중국영화 크레딧 제작시 한자이름을 요구하는 경우가 있습니다.</small>

            <div class="form-group">
                <label>E-mail / 사내 이메일</label>
                <input type="email" name="Email" class="form-control" placeholder="사번@{{.MailDNS}}">
                <small class="form-text text-muted">회사 내부에서 사용하는 이메일을 적어주세요.</small>
            </div>

            <div class="form-group">
                <label >E-mail / 외부 이메일</label>
                <input type="email" name="EmailExternal" class="form-control" placeholder="E-mail">
                <small class="form-text text-muted">회사 외부에서 사용하는 이메일을 적어주세요.</small>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm">
            <div class="form-group">
                <label>Phone / 휴대폰 번호</label>
                <input type="tel" name="Phone" id="Phone" class="form-control" placeholder="Phone number">
                <small class="form-text text-muted">휴대폰 번호를 입력해주세요.</small>
            </div>

            <div class="form-group">
                <label>Hotline / 사내 전화번호</label>
                <input type="tel" name="Hotline" id="Hotline" class="form-control" placeholder="Hotline number">
                <small class="form-text text-muted">사내 전화번호를 입력해주세요.</small>
            </div>

            <div class="form-group">
                <label>Parts / 팀, 부서</label>    
                <select class="form-control" name="Parts">
                    <option value="기획마케팅,사업본부,일산,">기획마케팅,사업본부,일산</option>
                    <option value="제작관리,제작본부,일산,">제작관리,제작본부,일산</option>
                    <option value="TF관리,제작본부,일산,">TF관리,제작본부,일산</option>
                    <option value="드라마관리,제작본부,일산,">드라마관리,제작본부,일산</option>
                    <option value="드라마제작,제작본부,일산,">드라마제작,제작본부,일산</option>
                    <option value="SCX TF,제작본부,일산,">SCX TF,제작본부,일산</option>
                    <option value="Pre/Post Viz,제작본부,일산,">Pre/Post Viz,제작본부,일산</option>
                    <option value="Onset Supervisor,제작본부,일산,">Onset Supervisor,제작본부,일산</option>
                    <option value="Project Support,제작본부,일산,">Project Support,제작본부,일산</option>
                    <option value="데이터관리팀,제작본부,일산,">데이터관리팀,제작본부,일산</option>
                    <option value="CG슈퍼바이저,제작본부,일산,">CG슈퍼바이저,제작본부,일산</option>
                    <option value="파이프라인,R&D,지원 본부,일산,">파이프라인,R&D,지원 본부,일산</option>
                    <option value="파이프라인 TF,R&D,지원 본부,일산,">파이프라인 TF,R&D,지원 본부,일산</option>
                    <option value="모델링,제작본부,일산,">모델링,제작본부,일산</option>
                    <option value="매치무브,제작본부,일산,">매치무브,제작본부,일산</option>
                    <option value="애니메이션,제작본부,일산,">애니메이션,제작본부,일산</option>
                    <option value="Crowd,제작본부,일산,">Crowd,제작본부,일산</option>
                    <option value="Rigging,제작본부,일산,">Rigging,제작본부,일산</option>
                    <option value="Lighting,제작본부,일산,">Lighting,제작본부,일산</option>
                    <option value="Texture,제작본부,일산,">Texture,제작본부,일산</option>
                    <option value="FX,제작본부,일산,">FX,제작본부,일산</option>
                    <option value="Environment,제작본부,일산,">Environment,제작본부,일산</option>
                    <option value="Matte Painting,제작본부,일산,">Matte Painting,제작본부,일산</option>
                    <option value="Comp1,제작본부,일산,">Comp1,제작본부,일산</option>
                    <option value="Comp2,제작본부,일산,">Comp2,제작본부,일산</option>
                    <option value="Comp3,제작본부,일산,">Comp3,제작본부,일산</option>
                    <option value="Motion,제작본부,일산,">Motion,제작본부,일산</option>
                    <option value="R&D Center,R&D,지원 본부,일산,">R&D Center,R&D,지원 본부,일산</option>
                    <option value="지원 TF,R&D,지원 본부,일산,">지원 TF,R&D,지원 본부,일산</option>
                    <option value="Visual media,">Visual media</option>
                    <option value="인사총무,경영지원본부,일산,">인사총무,경영지원본부,일산</option>
                    <option value="자금,경영지원본부,일산,">자금,경영지원본부,일산</option>
                    <option value="회계,경영지원본부,일산,">회계,경영지원본부,일산</option>
                    <option value="IT/Infra,경영지원본부,일산,">IT/Infra,경영지원본부,일산</option>
                    <option value="사업본부,일산,">사업본부,일산</option>
                    <option value="북경디지털아이디어,북경,">북경디지털아이디어,북경</option>
                    <option value="디지털아이디어픽쳐스,판교,">디지털아이디어픽쳐스,판교</option>
                    <option value="">해당없음</option>
                </select>
            </div>

            <div class="form-group">
                <label>Additional Parts / 직책정보, 추가정보</label>
                <input type="text" name="AdditionalParts" class="form-control" placeholder="직책, 추가정보">
                <small class="form-text text-muted">위에서 선택할 수 없는 정보를 추가적으로 작성합니다.</small>
                <small class="form-text text-muted">조직은 변화되기 때문에 Tag로 관리됩니다.</small>
            </div>

            <div class="form-group">
                <label>Location / 사내 위치정보</label>
                <input type="text" name="Location" class="form-control" placeholder="8층">
                <small class="form-text text-muted">층수를 입력해주세요.</small>
            </div>

            <div class="form-group">
                <label>Timezone / 시간대</label>
                <select name="Timezone" class="form-control">
                    <option value="Asia/Seoul" selected>한국 Asia/Seoul</option>
                    <option value="Asia/Beijing">중국 Asia/Beijing</option>
                </select>
                <small class="form-text text-muted">회사 확장을 대비하여 시간대를 선택합니다.</small>
            </div>

            <div class="form-group pt-4">
                <label>Captcha <span class="text-danger">*</span></label>
                <p>
                    <img id="captcha" src="/captcha/{{.CaptchaID}}.png" alt="Captcha image">
                </p>
                <input type=hidden name="CaptchaNum" value="{{.CaptchaID}}">
                <input type="text" name="CaptchaID" id="CaptchaID" class="form-control" placeholder="">
                <small class="form-text text-muted">위 이미지에 보이는 숫자를 입력해주세요.</small>
            </div>
        </div>
    </div>     
    <div class="text-center">
        <button type="submit" class="btn btn-primary mt-5">SIGN UP / 가입하기</button>
    </div>
    </form>
</div>



{{template "footerBootstrap"}}
</body>
<script src="/assets/js/signup.js"></script>
</html>
{{end}}
