{{define "signup_success" }}
{{template "headBootstrap"}}
<body>

<div class="container p-5">
    <div class="pt-3 pb-5">
        <h2 class="section-heading text-center">Sign Up Success!</h2>
    </div>
    <div class="row">
        <div class="col-sm text-center text-darkmode">
            {{.ID}} 로 가입이 완료되었습니다.<br>
            <small class="text-muted">접속정보: {{.LastIP}}:{{.LastPort}}</small>
        </div>
    </div>     
    <div class="text-center">
        <a href="/" class="btn btn-outline-darkmode mt-5">CSI 홈으로 이동하기</a>
    </div>
</div>



{{template "footerBootstrap"}}
</body>
</html>
{{end}}
