{{define "signin_success" }}
{{template "headBootstrap"}}
<body>

<div class="container p-5">
    <div class="pt-3 pb-5">
        <h2 class="section-heading text-center">Sign In Success</h2>
    </div>
    <div class="row">
        <div class="col-sm text-darkmode text-center">
            Sign In 되었습니다.<br>
        </div>
    </div>     
    <div class="text-center">
        <a href="/" class="btn btn-darkmode mt-5">CSI 홈으로 이동하기</a>
        {{if eq $.User.AccessLevel 3 4 5 6 7 8 9 10}}
            <a href="/users" class="btn btn-darkmode mt-5">Users 이동하기</a>
        {{end}}
    </div>
</div>



{{template "footerBootstrap"}}
</body>
</html>
{{end}}
