{{define "statisticsstatusperproject" }}
{{template "headBootstrap5"}}
<body>
{{template "navbar-bootstrap5" .}}

<div class="p-2 text-darkmode">
    <div>
        <span class="align-middle">전체 프로젝트</span>
    </div>
    <div class="progress mt-2" style="height:30px" id="total-shot-progress"></div>
    <div class="progress mt-2" style="height:50px" id="total-shot-status-progress"></div>
    <small>None Status 갯수: <span id="NoneStatusNum"></span></small>
</div>

<div class="p-2 text-darkmode">
    <div>
        <span class="align-middle">선택 프로젝트의 합</span>
    </div>
    <div class="progress mt-2" style="height:30px" id="sum-shot-progress"></div>
    <div class="progress mt-2" style="height:50px" id="sum-shot-status-progress"></div>
    <small>None Status 갯수: <span id="SumNoneStatusNum"></span></small>
</div>

<!--프로젝트 프리셋 버튼-->
<div class="p-2 text-darkmode text-end" id="projectpresets">
    <span class="btn btn-sm btn-outline-darkmode m-1"><input class="me-1" type="checkbox" id="preset-all" onclick="projectpresetAll()">전체</span>
    <span class="btn btn-sm btn-outline-darkmode m-1"><input class="me-1" type="checkbox" id="preset-postproject" onclick="projectpresetPostProject()">진행중</span>
    <span class="btn btn-sm btn-outline-darkmode m-1"><input class="me-1" type="checkbox" id="preset-preproject" onclick="projectpresetPreProject()">준비중</span>
    <span class="btn btn-sm btn-outline-darkmode m-1"><input class="me-1" type="checkbox" id="preset-test" onclick="projectpresetTest()">테스트</span>
    <span class="btn btn-sm btn-outline-darkmode m-1"><input class="me-1" type="checkbox" id="preset-layover" onclick="projectpresetLayover()">중단</span>
    <span class="btn btn-sm btn-outline-darkmode m-1"><input class="me-1" type="checkbox" id="preset-backup" onclick="projectpresetBackup()">백업중</span>
    <span class="btn btn-sm btn-outline-darkmode m-1"><input class="me-1" type="checkbox" id="preset-archive" onclick="projectpresetArchived()">백업완료</span>
    <span class="btn btn-sm btn-outline-darkmode m-1"><input class="me-1" type="checkbox" id="preset-lawsuit" onclick="projectpresetLawsuit()">소송중</span>
</div>
<!--프로젝트 태그 버튼-->
<div class="p-2 text-darkmode text-end" id="projectstags"></div>

<!--프로젝트 챠트 그리기-->
<div class="p-2 text-darkmode" id="statusperprojects"></div>
    
{{template "footerBootstrap"}}
</body>
<script src="/assets/bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/statisticsstatusperproject.js"></script>

<script>
    SetProjectsTags() // 프로젝트 태그 렌더링
    StatusPerProject() // 샷 진행바 렌더링
</script>
</html>
{{end}}