{{define "statistics" }}
{{template "headBootstrap5"}}
<body>
{{template "navbar-bootstrap5" .}}



<div class="ps-3 pt-3 text-darkmode">
    <span class="unselectable" data-bs-toggle="collapse" href="#thisMonthDeadlineDetail" role="button" aria-expanded="false" aria-controls="thisMonthDeadlineDetail">
        이번달 마감해야하는 샷: <span id="this-month-deadline">0</span>개<br>
    </span>
    <div class="collapse ps-4" id="thisMonthDeadlineDetail"></div>
</div>
<div class="ps-3 pt-2 text-darkmode">
    <span class="unselectable" data-bs-toggle="collapse" href="#nextMonthDeadlineDetail" role="button" aria-expanded="false" aria-controls="nextMonthDeadlineDetail">
        다음달 마감해야하는 샷: <span id="next-month-deadline">0</span>개<br>
    </span>
    <div class="collapse ps-4" id="nextMonthDeadlineDetail"></div>
</div>
<div class="ps-3 pt-2 text-darkmode">
    <span class="unselectable" data-bs-toggle="collapse" href="#needDeadlineDetail" role="button" aria-expanded="false" aria-controls="needDeadlineDetail">
        마감일 설정이 필요한 샷: <span id="need-deadline">0</span>개<br>
    </span>
    <div class="collapse ps-4" id="needDeadlineDetail"></div>
</div>

<div class="p-2 text-darkmode">
    전체 프로젝트 Shot<br>
    <div class="progress" style="height:50px" id="total-shot-progress">
    </div>
</div>

<div class="p-2 text-darkmode">
    전체 프로젝트 Shot 샘플<br>
    <div class="progress" style="height:50px">
        <div class="progress-bar bg-assign" role="progressbar" style="width: 10%" aria-valuenow="1000" aria-valuemin="0" aria-valuemax="10000" data-bs-toggle="tooltip" data-bs-placement="top" title="assign:1000">assign<br>1000</div>
        <div class="progress-bar bg-ready" role="progressbar" style="width: 2%" aria-valuenow="200" aria-valuemin="0" aria-valuemax="10000" data-bs-toggle="tooltip" data-bs-placement="top" title="ready:200">ready<br>200</div>
        <div class="progress-bar bg-wip" role="progressbar" style="width: 4%" aria-valuenow="400" aria-valuemin="0" aria-valuemax="10000" data-bs-toggle="tooltip" data-bs-placement="top" title="wip:400">wip<br>400</div>
        <div class="progress-bar bg-confirm" role="progressbar" style="width: 3%" aria-valuenow="300" aria-valuemin="0" aria-valuemax="10000" data-bs-toggle="tooltip" data-bs-placement="top" title="confirm:300">confirm<br>300</div>
        <div class="progress-bar bg-done" role="progressbar" style="width: 20%" aria-valuenow="2000" aria-valuemin="0" aria-valuemax="10000" data-bs-toggle="tooltip" data-bs-placement="top" title="done:2000">done<br>2000</div>
        <div class="progress-bar bg-out" role="progressbar" style="width: 20%" aria-valuenow="2000" aria-valuemin="0" aria-valuemax="10000" data-bs-toggle="tooltip" data-bs-placement="top" title="out:2000">out<br>2000</div>
        <div class="progress-bar bg-omit" role="progressbar" style="width: 1%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="10000" data-bs-toggle="tooltip" data-bs-placement="top" title="omit:100">omit<br>100</div>
        <div class="progress-bar bg-hold" role="progressbar" style="width: 2%" aria-valuenow="200" aria-valuemin="0" aria-valuemax="10000" data-bs-toggle="tooltip" data-bs-placement="top" title="hold:200">hold<br>200</div>
        <div class="progress-bar bg-none" role="progressbar" style="width: 38%" aria-valuenow="3800" aria-valuemin="0" aria-valuemax="10000" data-bs-toggle="tooltip" data-bs-placement="top" title="none:3800">none<br>3800</div>
    </div>
</div>


<div class="p-2 text-darkmode">
    A프로젝트<br>
    <div class="progress" style="height:14px">
        <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">wip</div>
        <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">done</div>
        <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">ready</div>
    </div>
</div>
<div class="p-2 text-darkmode">
    B프로젝트<br>
    <div class="progress" style="height:14px">
        <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">wip</div>
        <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">done</div>
        <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">ready</div>
    </div>
</div>





<div class="p-3 text-darkmode">
    <!--정리가 필요한 것-->
    총 200,000샷 남음(남았다는 것은 애매한 개념이다. -> 상태바로 바꾸기)<br>
    A프로젝트: 110,000샷 남음(각 프로젝트 별로도 상태바로 하는게 좋아보여요.)<br>
    B프로젝트: 10,000샷 남음<br>
</div>

<div class="p-3 text-darkmode">
    A팀 A프로젝트: %<br>
    A팀 B프로젝트: %<br>
    A팀 총 % 진행중<br>
</div>
<div class="p-2 text-darkmode">
    합성1팀<br>
    <div class="progress" style="height:28px">
        <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">wip</div>
        <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">done</div>
        <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">ready</div>
    </div>
</div>

<div class="p-2 text-darkmode">
    합성1팀 A프로젝트<br>
    <div class="progress" style="height:14px">
        <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">wip</div>
        <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">done</div>
        <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">ready</div>
    </div>
</div>
    
    
{{template "footerBootstrap"}}
</body>
<script src="/assets/bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
<script src="/assets/tata/tata.js"></script>
<script src="/assets/js/statistics.js"></script>

<script>
    NeedDeadlinenum() // 데드라인이 설정되지 않은 샷 갯수
    DeadlinenumThismonth() // 이번달 마감샷 갯수
    DeadlinenumNextmonth() // 다음달 마감샷 갯수
    TotalShotProgress() // 전체 샷 진행바
</script>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
</html>
{{end}}