{{define "taglist" }}

<div class="text-right mb-1 mr-3">
	<span class="text-badge">Asset tags:</span>
	{{range .Assettags}}
		<a href="/inputmode?project={{$.SearchOption.Project}}&
				searchword=assettags:{{.}}&
				sortkey={{$.SearchOption.Sortkey}}&
				sortkey={{$.SearchOption.Sortkey}}&
				assign={{$.SearchOption.Assign}}&
				ready={{$.SearchOption.Ready}}&
				wip={{$.SearchOption.Wip}}&
				confirm={{$.SearchOption.Confirm}}&
				done={{$.SearchOption.Done}}&
				omit={{$.SearchOption.Omit}}&
				hold={{$.SearchOption.Hold}}&
				out={{$.SearchOption.Out}}&
				none={{$.SearchOption.None}}&
				template={{$.SearchOption.Template}}&
				searchbartemplate={{$.SearchOption.SearchbarTemplate}}&
				truestatus={{Join $.AllStatusIDs "," }}&
				task={{$.SearchOption.Task}}" class="badge badge-darkmode statusuri">{{.}}</a>
	{{end}}
</div>


<div class="text-right mb-1 mr-2">
	{{range .Tags}}
		{{if eq . "" }}
		{{else}}
			{{$tag := AddTagColon .}}
			{{if eq $tag $.SearchOption.Searchword}}
				<a href="/inputmode?project={{$.SearchOption.Project}}&
						searchword=tag:{{.}}&
						sortkey={{$.SearchOption.Sortkey}}&
						assign={{$.SearchOption.Assign}}&
						ready={{$.SearchOption.Ready}}&
						wip={{$.SearchOption.Wip}}&
						confirm={{$.SearchOption.Confirm}}&
						done={{$.SearchOption.Done}}&
						omit={{$.SearchOption.Omit}}&
						hold={{$.SearchOption.Hold}}&
						out={{$.SearchOption.Out}}&
						none={{$.SearchOption.None}}&
						template={{$.SearchOption.Template}}&
						searchbartemplate={{$.SearchOption.SearchbarTemplate}}&
						truestatus={{Join $.SearchOption.TrueStatus "," }}&
						task={{$.SearchOption.Task}}" class="btn btn-darkmode btn-sm m-1 statusuri">{{.}}</a>
			{{else}}
				<a href="/inputmode?project={{$.SearchOption.Project}}&
						searchword=tag:{{.}}&
						sortkey={{$.SearchOption.Sortkey}}&
						assign={{$.SearchOption.Assign}}&
						ready={{$.SearchOption.Ready}}&
						wip={{$.SearchOption.Wip}}&
						confirm={{$.SearchOption.Confirm}}&
						done={{$.SearchOption.Done}}&
						omit={{$.SearchOption.Omit}}&
						hold={{$.SearchOption.Hold}}&
						out={{$.SearchOption.Out}}&
						none={{$.SearchOption.None}}&
						template={{$.SearchOption.Template}}&
						searchbartemplate={{$.SearchOption.SearchbarTemplate}}&
						truestatus={{Join $.SearchOption.TrueStatus "," }}&
						task={{$.SearchOption.Task}}" class="btn btn-outline-darkmode btn-sm m-1 statusuri">{{.}}</a>
			{{end}}
		{{end}}
	{{end}}
	{{if eq $.User.AccessLevel 4 5 6 7 8 9 10 11}}
		<span class="btn btn-outline-danger btn-sm m-1" data-toggle="modal" data-target="#modal-renametag" onclick="setRenameTagModal('{{$.SearchOption.Project}}')">태그변경</span>
	{{end}}
</div>


{{end}}
