{{define "updatepassword" }}
{{template "headBootstrap5"}}

<body>
    {{template "navbar-bootstrap5" .}}
    <div class="container p-5">
        <form method="post" action="/updatepassword_submit">
        <div class="pt-3 pb-5">
            <h2 class="section-heading">Update Password</h2>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label>{{.User.ID}} 사용자의 패스워드를 수정합니다.</label>
                </div>
                <div class="form-group pb-5">
                    <label>Old password</label>
                    <input type="password" name="OldPassword" class="form-control" placeholder="Password">
                    <small class="form-text text-muted">현재 사용중인 패스워드를 입력해주세요.</small>
                </div>
                <div class="form-group">
                    <label>New password</label>
                    <input type="password" name="NewPassword" class="form-control" placeholder="Password">
                    <small class="form-text text-muted">새 패스워드를 입력해주세요.</small>
                </div>
                <div class="form-group">
                    <label>Confirm new password</label>
                    <input type="password" name="ConfirmNewPassword" class="form-control" placeholder="Password">
                    <small class="form-text text-muted">새 패스워드를 한번 더 입력해주세요</small>
                </div>
            </div>
        </div>     
        <div class="text-center">
            <button type="submit" class="btn btn-danger mt-5">Update Password</button>
        </div>
        </form>
    </div>
    {{template "footerBootstrap"}}
</body>
<script src="/assets/bootstrap-5.0.2/js/bootstrap.min.js"></script>
</html>
{{end}}
