{{define "users" }}
{{template "headBootstrap"}}
{{template "navbar" .}}
<body>

<!--searchbox-->
<div class="container p-3">
    <div class="row justify-content-center align-items-center p-3">
        <form action="/users" method="POST" name="checkboxs" class="editform text-center">
        <div class="input-group">
            <input class="form-control" id="search" placeholder="Search word.." type="text" maxlength="50" size=50 name="searchword" autofocus="autofocus" value="{{.Searchword}}">
            <div class="input-group-append">
            <button class="btn btn-primary" id="button">{{if eq .Usernum 0}}Search{{else}}Search ({{.Usernum}}){{end}}</button>
            </div>
        </div>
        </form>
    </div>
</div>

<div class="text-center p-3">
{{range .Tags}}
    <a href="/users?search={{.}}" class="btn btn-secondary btn-sm p-1 mt-1">{{.}}</a>
{{end}}
<a href="/replacepart" class="btn btn-danger btn-sm p-1 mt-1">부서이름변경</a>
</div>

<div class="p-3">
    <div class="row">
        {{range .Users}}
        <div class="card w-10 mx-auto m-3">
            <a href="/user?id={{.ID}}">
                <img class="card-img-top" src="{{if .Thumbnail}}/thumbnail/user/{{.ID}}.jpg{{else}}/assets/img/nophoto.svg{{end}}" alt="{{.ID}}" width="200" height="280">
            </a>
            <div class="card-body text-center">
                <h4 class="card-title">{{.FirstNameKor}}{{.LastNameKor}}{{if .FirstNameChn}}({{.FirstNameChn}}{{.LastNameChn}}){{end}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{.FirstNameEng}} {{.LastNameEng}}<br>{{.ID}}</h6>
                <p class="card-text">
                    <a href="mailto:{{.Email}}">{{.Email}}</a><br>
                    <a href="mailto:{{.EmailExternal}}">{{.EmailExternal}}</a><br>
                    <a href="tel:{{.Hotline}}">{{.Hotline}}</a>{{if .Location}} / {{.Location}}{{end}}<br>
                    <a href="tel:{{.Phone}}">{{.Phone}}</a><br>
                </p>
                <div class="col parts p-1">
                {{range .Parts}}
                    <a href="/users?search={{.}}" class="btn btn-outline-secondary btn-sm p-1 mt-1">{{.}}</a>
                {{end}}
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>

{{template "footerBootstrap"}}
</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
</html>
{{end}}
