{{define "user" }}
{{template "headBootstrap"}}
{{template "navbar" .}}
<body>

<div class="p-3">
    <div class="row">
        <div class="card w-10 mx-auto m-3">
            <img class="card-img-top" src="{{if .User.Thumbnail}}/thumbnail/user/{{.User.ID}}.jpg{{else}}/assets/img/nophoto.svg{{end}}" alt="{{.User.ID}}">
            <div class="card-body text-center">
                <h4 class="card-title">{{.User.FirstNameKor}}{{.User.LastNameKor}}{{if .User.FirstNameChn}}({{.User.FirstNameChn}}{{.User.LastNameChn}}){{end}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{.User.FirstNameEng}} {{.User.LastNameEng}}<br>{{.User.ID}}</h6>
                <p class="card-text">
                    내부: <a href="mailto:{{.User.Email}}">{{.User.Email}}</a><br>
                    외부: <a href="mailto:{{.User.EmailExternal}}">{{.User.EmailExternal}}</a><br>
                    내선: <a href="tel:{{.User.Hotline}}">{{.User.Hotline}}</a>{{if .User.Location}} / {{.User.Location}}{{end}}<br>
                    핸드폰: <a href="tel:{{.User.Phone}}">{{.User.Phone}}</a><br>
                </p>
                {{range .User.Parts}}
                    <a href="/users?search={{.}}" class="btn btn-outline-secondary btn-sm p-1 mt-1">{{.}}</a>
                {{end}}
            </div>
        </div>
    </div>
</div>

{{template "footerBootstrap"}}
</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
</html>
{{end}}
