{{define "users" }}
{{template "headBootstrap"}}
{{template "navbar" .}}
<body>

<!--searchbox-->
<div class="container p-3">
    <div class="row justify-content-center align-items-center p-3">
        <form action="/users" method="POST" name="checkboxs" class="editform text-center">
        <div class="input-group">
            <input class="form-control" id="search" placeholder="Search word.." type="text" maxlength="50" size=50 name="searchword" autofocus="autofocus" value="{{.Searchword}}">
            <div class="input-group-append">
                <button class="btn btn-darkmode" id="button">
                    Search
                    {{if ne .Usernum 0}}
                        <span class="badge badge-darkmode">{{.Usernum}}</span>
                    {{end}}
                </button>
            </div>
        </div>
        </form>
    </div>
</div>

<div class="text-center p-3">
{{range .Tags}}
    <a href="/users?search=tag:{{.}}" class="btn btn-outline-darkmode btn-sm p-1 mt-1">{{.}}</a>
{{end}}
{{if eq .User.AccessLevel 4 5 6 7 8 9 10 11}}
    <a href="/replacetag" class="btn btn-danger btn-sm p-1 mt-1">태그이름변경</a>
{{end}}
</div>

<div class="p-3">
    <div class="row">
        {{range .Users}}
        
        <div class="card w-10 mx-auto m-3 {{if eq .AccessLevel 0}}bg-danger{{else}}bg-darkmode{{end}}">
            <a href="/user?id={{.ID}}">
                <img class="card-img-top" src="{{if .Thumbnail}}/thumbnail/user/{{.ID}}.jpg{{else}}/assets/img/nophoto.svg{{end}}" alt="{{.ID}}" width="200" height="280">
            </a>
            <div class="card-body text-center">
                <h4 class="card-title">{{.LastNameKor}}{{.FirstNameKor}}{{if .FirstNameChn}}({{.LastNameChn}}{{.FirstNameChn}}){{end}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{.FirstNameEng}} {{.LastNameEng}}<br>{{.ID}}</h6>
                <p class="card-text">
                    <a href="mailto:{{.Email}}" class="text-darkmode"><small>{{.Email}}</small></a><br>
                    <a href="mailto:{{.EmailExternal}}" class="text-darkmode"><small>{{.EmailExternal}}</small></a><br>
                    <a href="tel:{{.Hotline}}" class="text-darkmode">{{ShortPhoneNum .Hotline}}</a>{{if .Location}} / {{.Location}}{{end}}<br>
                    <a href="tel:{{.Phone}}" class="text-darkmode">{{.Phone}}</a><br>
                    {{if eq $.User.AccessLevel 7 9 10 11}}
                        <small class="text-muted">IP: {{.LastIP}}</small>
                    {{end}}
                </p>
                <div class="col parts p-1">
                {{range .Tags}}
                    <a href="/users?search=tag:{{.}}" class="btn btn-outline-darkmode btn-sm p-1 mt-1">{{.}}</a>
                {{end}}
                {{if eq $.User.AccessLevel 11}}
                    <a href="/edituser?id={{.ID}}" class="btn btn-danger btn-sm p-1 mt-1">Edit</a>
                {{end}}
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>

{{template "footerBootstrap"}}
</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
</html>
{{end}}
