{{define "user" }}
{{template "headBootstrap5"}}
{{template "navbar-bootstrap5" .}}
<body>

<div class="p-3">
    <div class="row">
        <div class="card mx-auto col-lg-2 col-md-3 col-sm-12 p-3 bg-darkmode">
            <img class="card-img-top" src="{{if .QueryUser.Thumbnail}}/thumbnail/user/{{.QueryUser.ID}}.jpg{{else}}/assets/img/nophoto.svg{{end}}" alt="{{.QueryUser.ID}}">
            <div class="card-body text-center">
                <h4 class="card-title">{{.QueryUser.LastNameKor}}{{.QueryUser.FirstNameKor}}{{if .QueryUser.FirstNameChn}}({{.QueryUser.LastNameChn}}{{.QueryUser.FirstNameChn}}){{end}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{.QueryUser.FirstNameEng}} {{.QueryUser.LastNameEng}}<br>{{.QueryUser.ID}}</h6>
                <p class="card-text">
                    <a href="mailto:{{.QueryUser.Email}}" class="text-darkmode">{{.QueryUser.Email}}</a><br>
                    <a href="mailto:{{.QueryUser.EmailExternal}}" class="text-darkmode">{{.QueryUser.EmailExternal}}</a><br>
                    <a href="tel:{{.QueryUser.Hotline}}" class="text-darkmode">{{ShortPhoneNum .QueryUser.Hotline}}</a>{{if .QueryUser.Location}} / {{.QueryUser.Location}}{{end}}<br>
                    <a href="tel:{{.QueryUser.Phone}}" class="text-darkmode">{{.QueryUser.Phone}}</a><br>
                </p>
                <div class="col mx-auto parts p-1">
                    {{range .QueryUser.Tags}}
                        <a href="/users?search={{.}}" class="btn btn-outline-darkmode btn-sm p-1 mt-1">{{.}}</a>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</div>

{{if eq .QueryUser.ID .SessionID}}
<div class="p-5">
    <div class="row">
        <div class="col-lg-4 col-sm-8 w-10 mx-auto text-center">
            <div class="form-group">
                <label>Token Key</label>
                <input type="text" name="Token" class="form-control" placeholder="Token" value="{{.Token}}" readonly onclick="copyClipboardAndMessage('{{.Token}}')">
                <small class="form-text text-muted">위 값을 클릭하면 클립보드로 복사됩니다.</small>
                <small class="form-text text-muted">restAPI를 접근할 때 사용하는 Token 키입니다.</small>
            </div>
        </div>
    </div>
</div>
{{end}}

{{template "footerBootstrap"}}
</body>
<script src="/assets/js/input.js"></script>
<script src="/assets/bootstrap-5.0.2/js/bootstrap.min.js"></script>
</html>
{{end}}
