@font-face{font-family:'Quicksand-Light'; src:url('/media/font/Quicksand-Light.otf')}
@font-face{font-family:'Quicksand-Regular'; src:url('/media/font/Quicksand-Regular.otf')}
@font-face{font-family:'Quicksand-Medium'; src:url('/media/font/Quicksand-Medium.otf')}
@font-face{font-family:'NotoSansCJKkr-Thin'; src:url('/media/font/NotoSansCJKkr-Thin.otf')}

body {
	margin:0;
	padding:0;
}

a:link {text-decoration:none; color:#444444;}
a:visited {text-decoration:none; color:#444444;}
a:active {text-decoration:none; color:#444444;}
a:hover {text-decoration:underline; color:#666666; cursor:pointer;}

a.blue:link {text-decoration:none; color:#0F73C0;}
a.blue:visited {text-decoration:none; color:#0F73C0;}
a.blue:active {text-decoration:none; color:#0F73C0;}
a.blue:hover {text-decoration:underline; color:#666666; cursor:pointer;}

/*Left navbar와 간섭이 없도록 패딩 설정*/
.content {
	padding: 0 0 50px 200px;
}
/*Left navbar*/
.navbar {
        /*z-index: 1;*/
        background-color: #CCCDCC;
        position: fixed;
        top: 80px;
        width: 180px;
        height: 400px;
        text-align:right;
        padding: 10px;
}

.navbar a {
        display: block;
        text-align: right;
        padding: 3px;
}

.navbar ul {
	list-style-type: none;
}

#footer {
	padding: 20px 0 20px 0;
	text-align:center;
	font-size:13px;
}

#seqbox {
	margin: 20px;
}

#seqstatus {
	margin: 20px;
}


tag {
	background: #F4F7FA;
	padding: 2px;
	border-style : solid;
	border-width : 1px;
	border-color : #DDDEE0;
	border-radius : 4px;
	opacity: 0.9;
	font-size: 0.8em;
}

guide {
	line-height: 150%;
	font: Quicksand-Light;
	font-size: 0.9em;
	color: #587B97;
}

.topmenu {
	font-size: 13px;
	width: 100%;
	margin: 10px;
}

.title {
	margin-top: 80px;
	text-align:center;
	font: 0.85em/150% Quicksand-Medium;
	font-size: 1.7em;
	letter-spacing: 2px;
	color: #353535;
}

.title a {
	padding-top: 60px;
}

.text {
	text-align: center;
	line-height: 150%;
	font: NotoSansCJKkr-Thin;
	font-size: 1em;
	color: #444;
}

.subtext {
	width: 42em;
	margin: 0 auto 1em auto;
	padding: 1em;
	font: NotoSansCJKkr-Thin;
	font-size: 0.9em;
	color: #444;
	text-align: left;
}

.center {
	margin: auto;
	width: 50%;
	border: 1px solid #EEEEEE;
	padding: 10px;
}
