@charset "utf-8";

body {
	background-color: #2e2d2d;
}

.bg-darklight {
	background-color: #353333;
}

.text-danger {
	color: rgb(199, 11, 11)!important;
}

.form-control, .form-control:valid {
	background-color:  #1C1C1C!important;
	border:1px solid #A7A59C;
	color: #A7A59C;
	-webkit-appearance:none;
}

.custom-select {
	background-color:  rgb(41, 41, 41)!important;
	color: #A7A59C;
	border:1px solid #A7A59C;
	border-radius: 0px;
}

.btn-darkmode {
	background-color:  #3A3A3A!important;
	border:1px solid #A7A59C;
	color: #A7A59C;
}

.btn-outline-danger {
	background-color:  #1C1C1C!important;
	border:1px solid rgb(191, 29, 29)!important;
	color: rgb(193, 39, 39)!important;
}


.text-badge {
	color: rgb(143, 141, 134);
	font-size: 9pt;
}

.no-decoration-text-button {
	color: rgb(143, 141, 134);
	font-size: 9pt;
}

.no-decoration-text-button:hover {
	color: rgb(192, 189, 178);
	font-size: 9pt;
	text-decoration: underline;
}

.dropdown-divider {
	border:1px solid rgb(55, 55, 52);
}

.divider {
	border:1px solid rgb(66, 66, 62);
}

.item-divider {
	border:1px solid rgb(92, 89, 81);
}

.badge-fade, .badge-fade:link {
	background-color:  #A7A59C!important;
	color: rgb(30, 29, 27);
	text-decoration: none;
	opacity: 0.5;
}

.badge-fade:active, .badge-fade:hover {
	background-color:  rgb(188, 185, 173)!important;
	color: rgb(30, 29, 27);
	text-decoration: none;
	opacity: 0.5;
}


.badge-darkmode, .badge-darkmode:link {
	background-color:  #A7A59C!important;
	color: rgb(30, 29, 27);
	text-decoration: none;
}

.badge-darkmode:active, .badge-darkmode:hover {
	background-color:  rgb(188, 185, 173)!important;
	color: rgb(30, 29, 27);
	text-decoration: none;
}

.badge-outline-darkmode, .badge-outline-darkmode:link, .badge-outline-darkmode:active, .badge-outline-darkmode:hover {
	background-color:  #212121!important;
	border:1px solid #A7A59C;
	color: #A7A59C;
	text-decoration: none;
}


.btn-outline-darkmode {
	background-color:  #212121!important;
	border:1px solid #A7A59C;
	color: #A7A59C;
}

.btn-outline-darkmode:hover {
	background-color:  #212121!important;
	border:1px solid #A7A59C;
	color: rgb(188, 185, 172);
}

.btn-darkmode:hover {
	background-color:  #3A3A3A!important;
	color: rgb(189, 186, 174);
}

.navbar-toggler {
	border-color: rgb(189, 186, 174);
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(189,186,174, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-darkmode {
	background-color: #252525;
}

.navbar-nav {
	background-color: #252525!important;
}

.nav-link {
	color: #A7A59C;
}

.nav-link:hover {
	color: rgb(191, 188, 175);
}

.navbar-brand {
	color: #A7A59C!important;
}

.dropdown-menu {
	background-color: #3f3f3f!important;
}

.dropdown-item {
	color: #A7A59C;
}

.text-darkmode, .text-darkmode:hover {
	color: #A7A59C;
}

small {
	color: rgb(137, 135, 125);
	font-weight: 100;
}

.text-muted {
	color: rgb(137, 135, 127)!important;
}

.section-heading {
	color: #A7A59C!important;
}

.card {
	outline:1px solid #A7A59C!important;
}

.card-title {
	color: #A7A59C!important;
}

.modal-header {
	border-bottom: 1px solid rgb(111, 110, 104);
}

.modal-footer{
	border-top: 1px solid rgb(111, 110, 104);
}

.modal-title {
	color: #A7A59C;
}

.card-header {
	outline:1px solid rgb(77, 75, 72)!important;
	background-color: #3a3939;
	color: #A7A59C!important;
}

.card-text {
	color: rgb(133, 131, 122)!important;
}

label {
	color: #A7A59C;
}

/* users 페이지 가로사이즈 */
.parts {
	width: 160px;
	max-width: 160px;
}

.bg-captcha {
	background-color: #A7A59C;
}

.bg-darkmode {
	background-color: #2e2d2d;
}

.bg-assign, .bg-assign:hover, .badge-assign {
    background-color: #FFF76B;
}

.border-assign {
	border:4px solid #FFF76B;
}

.bg-ready, .bg-ready:hover, .badge-ready {
    background-color: #BEEF37;
}

.border-ready {
	border:4px solid #BEEF37;
}

.bg-wip, .bg-wip:hover, .badge-wip {
    background-color: #77BB40;
}

.border-wip {
	border:4px solid #77BB40;
}


.bg-confirm, .bg-confirm:hover, .badge-confirm {
    background-color: #54D6FD;
}

.border-confirm {
	border:4px solid #54D6FD;
}

.bg-none, .bg-none:hover, .badge-none {
    background-color: #F0F1F0;
}

.border-none {
	border:4px solid #F0F1F0;
}

.bg-omit, .bg-omit:hover, .badge-omit {
    background-color: #FC9F55;
}

.border-omit {
	border:4px solid #FC9F55;
}

.bg-hold, .bg-hold:hover, .badge-hold {
    background-color: #989898;
}

.border-omit {
	border:4px solid #989898;
}

.bg-out, .bg-out:hover, .badge-out {
    background-color: #EEA4F1;
}

.border-out {
	border:4px solid #EEA4F1;
}

.bg-done, .bg-done:hover, .badge-done {
    background-color: #CCCDCC;
}

.border-done {
	border:4px solid #CCCDCC;
}

.bg-retake, .bg-retake:hover, .badge-retake {
    background-color: #FC8F55;
}

.border-retake {
	border:4px solid #FC8F55;
}


input[type=checkbox]:checked+div{
    background-color: #464444;
	outline-style: solid;
	outline-color: rgb(205, 72, 0);
	outline-width: 4px;
	border-radius: 0;
}

/*날짜가 검색되면 표시되는 색상*/
.statusbox{
	color : #222222;
	font-size: 7.5pt;
	text-align: center;
	font-family: NanumGothic, Helvetica, sans_serif, Verdana;
	line-height: 13px;
	text-indent: 0px;
	width: 45px;
}

/*날짜가 검색되면 표시되는 색상*/
.statusbox_deadline{
	border:2px solid #D14B00;
	color : #222222;
	font-size: 7.5pt;
	text-align: center;
	font-family: NanumGothic, Helvetica, sans_serif, Verdana;
	line-height: 13px;
	text-indent: 0px;
    width: 45px;
}

/*날짜가 검색되면 표시되는 색상*/
.statusbox_daily{
	border:2px solid #3E8CFE;
	color : #222222;
	font-size: 7.5pt;
	text-align: center;
	font-family: NanumGothic, Helvetica, sans_serif, Verdana;
	line-height: 13px;
	text-indent: 0px;
    width: 45px;
}

.fit-image {
	width: 100%;
	object-fit: cover;
}

.thumbnail {
	width: 100%;
}

/* thumbnailbox */
.thumbnailbox {
	position: relative;
	text-align: center;
	color: white;
	width: 100%;
	object-fit: cover;
}
  
/* Top left text */
.top-left {
	position: absolute;
	top: 4px;
	left: 22px;
	font-size: 13px;
}

.black-opbg {
	background-color: rgba(0, 0, 0, 0.5);
}

/* Top right text */
.top-right {
	position: absolute;
	top: 4px;
	right: 20px;
	font-size: 13px;
}

/* Bottom left text */
.bottom-left {
	position: absolute;
	bottom: 4px;
	left: 20px;
	font-size: 13px;
}
  
/* Bottom right text */
.bottom-right {
	position: absolute;
	bottom: 4px;
	right: 20px;
	font-size: 13px;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centered-top {
	position: absolute;
	top: 4px;
	left: 50%;
	transform: translate(-50%, 0);
}

.centered-bottom {
	position: absolute;
	bottom: 4px;
	left: 50%;
	transform: translate(-50%, 0);
}

.centered-left {
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translate(8px, -50%);
	font-size: 11px;
}

.centered-right {
	position: absolute;
	top: 50%;
	right: 8px;
	transform: translate(0, -50%);
}

.comments-box {
	height: 250px;
	overflow: auto;
}


.play, .select, .add, .link {
	color: #A7A59C;
	background-color: rgb(55, 54, 52);
	border:1px solid #A7A59C;
	border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 12px;
	cursor: pointer;
}
.play:hover {
	color: rgb(216, 213, 196);
	background-color: rgb(55, 54, 52);
	border:1px solid #A7A59C;
	border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 12px;
	cursor: pointer;
	text-decoration: none;
}

.add:hover, .link:hover {
	color: #000000;
	background-color: #FFB90B;
	border:1px solid #FFB90B;
	border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 12px;
	cursor: pointer;
	text-decoration: none;
}

.remove {
	color: #A7A59C;
	background-color: rgb(55, 54, 52);
	border:1px solid #A7A59C;
	border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 12px;
	cursor: pointer;
}

.remove:hover {
	color: #FFFFFF;
	background-color: rgb(188, 47, 47);
	border:1px solid rgb(188, 47, 47);
	border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 12px;
	cursor: pointer;
}

.finger {
	cursor: pointer;
}

.itemname {
	font-size: 18px;
	font-weight: bold;
}

/* Auto complete */
.autocomplete {
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid #5e5c5c;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
	color: #ffffff; 
  }
  .autocomplete-items div {
	padding: 5px;
	cursor: pointer;
	background-color: #484747;
	border-bottom: 1px solid #5e5c5c;
  }
  .autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: #484747;
  }
  .autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: rgb(193, 168, 68) !important; 
	color: #000000; 
  }