@charset "utf-8";

/* users 페이지 가로사이즈 */
.parts {
	width: 160px;
	max-width: 160px;
}

.bg-assign, .bg-assign:hover, .badge-assign {
    background-color: #FFF76B;
}

.bg-ready, .bg-ready:hover, .badge-ready {
    background-color: #BEEF37;
}

.bg-wip, .bg-wip:hover, .badge-wip {
    background-color: #77BB40;
}

.bg-confirm, .bg-confirm:hover, .badge-confirm {
    background-color: #54D6FD;
}

.bg-none, .bg-none:hover, .badge-none {
    background-color: #F0F1F0;
}

.bg-omit, .bg-omit:hover, .badge-omit {
    background-color: #FC9F55;
}

.bg-hold, .bg-hold:hover, .badge-hold {
    background-color: #989898;
}

.bg-out, .bg-out:hover, .badge-out {
    background-color: #EEA4F1;
}

.bg-done, .bg-done:hover, .badge-done {
    background-color: #CCCDCC;
}

.bg-retake, .bg-retake:hover, .badge-retake {
    background-color: #FC8F55;
}

input[type=checkbox]:checked+div{
    background-color: rgb(249, 234, 210);
    border: solid;
    border-width: 1px;
    border-color: rgb(205, 72, 0);
}

/*날짜가 검색되면 표시되는 색상*/
.statusbox{
	color : #222222;
	font-size: 7.5pt;
	text-align: center;
	font-family: NanumGothic, Helvetica, sans_serif, Verdana;
	line-height: 13px;
	text-indent: 0px;
	width: 45px;
}

/*날짜가 검색되면 표시되는 색상*/
.statusbox_deadline{
	border:2px solid #D14B00;
	color : #222222;
	font-size: 7.5pt;
	text-align: center;
	font-family: NanumGothic, Helvetica, sans_serif, Verdana;
	line-height: 13px;
	text-indent: 0px;
    width: 45px;
}

/*날짜가 검색되면 표시되는 색상*/
.statusbox_daily{
	border:2px solid #3E8CFE;
	color : #222222;
	font-size: 7.5pt;
	text-align: center;
	font-family: NanumGothic, Helvetica, sans_serif, Verdana;
	line-height: 13px;
	text-indent: 0px;
    width: 45px;
}

.fit-image {
	width: 100%;
	object-fit: cover;
}

/* thumbnail */
.thumbnail {
	position: relative;
	text-align: center;
	color: white;
	width: 100%;
	object-fit: cover;
}

/* Bottom left text */
.bottom-left {
	position: absolute;
	bottom: 4px;
	left: 16px;
}
  
/* Top left text */
.top-left {
	position: absolute;
	top: 4px;
	left: 8px;
	font-size: 13px;
}

.black-opbg {
	background-color: rgba(0, 0, 0, 0.5);
}

/* Top right text */
.top-right {
	position: absolute;
	top: 4px;
	right: 16px;
	font-size: 13px;
}
  
/* Bottom right text */
.bottom-right {
	position: absolute;
	bottom: 4px;
	right: 8px;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centered-top {
	position: absolute;
	top: 4px;
	left: 50%;
	transform: translate(-50%, 0);
}

.centered-bottom {
	position: absolute;
	bottom: 4px;
	left: 50%;
	transform: translate(-50%, 0);
}

.centered-left {
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translate(8px, -50%);
	font-size: 11px;
}

.centered-right {
	position: absolute;
	top: 50%;
	right: 4px;
	transform: translate(0, -50%);
}